/*
Zernio API

API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api

API version: 1.0.4
Contact: support@zernio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zernio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)

// AnalyticsAPIService AnalyticsAPI service
type AnalyticsAPIService service

type AnalyticsAPIGetAnalyticsRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAPIService
	postId     *string
	platform   *string
	profileId  *string
	accountId  *string
	source     *string
	fromDate   *string
	toDate     *string
	limit      *int32
	page       *int32
	sortBy     *string
	order      *string
}

// Returns analytics for a single post. Accepts both Zernio Post IDs and External Post IDs. Zernio IDs are auto-resolved to External Post analytics.
func (r AnalyticsAPIGetAnalyticsRequest) PostId(postId string) AnalyticsAPIGetAnalyticsRequest {
	r.postId = &postId
	return r
}

// Filter by platform (default \&quot;all\&quot;)
func (r AnalyticsAPIGetAnalyticsRequest) Platform(platform string) AnalyticsAPIGetAnalyticsRequest {
	r.platform = &platform
	return r
}

// Filter by profile ID (default \&quot;all\&quot;)
func (r AnalyticsAPIGetAnalyticsRequest) ProfileId(profileId string) AnalyticsAPIGetAnalyticsRequest {
	r.profileId = &profileId
	return r
}

// Filter by social account ID
func (r AnalyticsAPIGetAnalyticsRequest) AccountId(accountId string) AnalyticsAPIGetAnalyticsRequest {
	r.accountId = &accountId
	return r
}

// Filter by post source: late (posted via Zernio API), external (synced from platform), all (default)
func (r AnalyticsAPIGetAnalyticsRequest) Source(source string) AnalyticsAPIGetAnalyticsRequest {
	r.source = &source
	return r
}

// Inclusive lower bound (YYYY-MM-DD). Defaults to 90 days ago if omitted. Max range is 366 days.
func (r AnalyticsAPIGetAnalyticsRequest) FromDate(fromDate string) AnalyticsAPIGetAnalyticsRequest {
	r.fromDate = &fromDate
	return r
}

// Inclusive upper bound (YYYY-MM-DD). Defaults to today if omitted.
func (r AnalyticsAPIGetAnalyticsRequest) ToDate(toDate string) AnalyticsAPIGetAnalyticsRequest {
	r.toDate = &toDate
	return r
}

// Page size (default 50)
func (r AnalyticsAPIGetAnalyticsRequest) Limit(limit int32) AnalyticsAPIGetAnalyticsRequest {
	r.limit = &limit
	return r
}

// Page number (default 1)
func (r AnalyticsAPIGetAnalyticsRequest) Page(page int32) AnalyticsAPIGetAnalyticsRequest {
	r.page = &page
	return r
}

// Sort by date, engagement, or a specific metric
func (r AnalyticsAPIGetAnalyticsRequest) SortBy(sortBy string) AnalyticsAPIGetAnalyticsRequest {
	r.sortBy = &sortBy
	return r
}

// Sort order
func (r AnalyticsAPIGetAnalyticsRequest) Order(order string) AnalyticsAPIGetAnalyticsRequest {
	r.order = &order
	return r
}

func (r AnalyticsAPIGetAnalyticsRequest) Execute() (*GetAnalytics200Response, *http.Response, error) {
	return r.ApiService.GetAnalyticsExecute(r)
}

/*
GetAnalytics Get post analytics

Returns analytics for posts. With postId, returns a single post. Without it, returns a paginated list with overview stats.
Accepts both Zernio Post IDs and External Post IDs (auto-resolved). fromDate defaults to 90 days ago if omitted, max range 366 days.
Single post lookups may return 202 (sync pending) or 424 (all platforms failed). For follower stats, use /v1/accounts/follower-stats.

LinkedIn personal accounts: Analytics are only available for posts published through Zernio. LinkedIn's API only returns metrics for posts authored by the authenticated user. Organization/company page analytics work for all posts.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAPIGetAnalyticsRequest
*/
func (a *AnalyticsAPIService) GetAnalytics(ctx context.Context) AnalyticsAPIGetAnalyticsRequest {
	return AnalyticsAPIGetAnalyticsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GetAnalytics200Response
func (a *AnalyticsAPIService) GetAnalyticsExecute(r AnalyticsAPIGetAnalyticsRequest) (*GetAnalytics200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetAnalytics200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetAnalytics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.postId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "postId", r.postId, "form", "")
	}
	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	}
	if r.profileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "profileId", r.profileId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	} else {
		var defaultValue string = "all"
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", defaultValue, "form", "")
		r.source = &defaultValue
	}
	if r.fromDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromDate", r.fromDate, "form", "")
	}
	if r.toDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toDate", r.toDate, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", r.sortBy, "form", "")
	} else {
		var defaultValue string = "date"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", defaultValue, "form", "")
		r.sortBy = &defaultValue
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	} else {
		var defaultValue string = "desc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", defaultValue, "form", "")
		r.order = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetAnalytics400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 402 {
			var v GetAnalytics402Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 424 {
			var v AnalyticsSinglePostResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPIGetBestTimeToPostRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAPIService
	platform   *string
	profileId  *string
	accountId  *string
	source     *string
}

// Filter by platform (e.g. \&quot;instagram\&quot;, \&quot;tiktok\&quot;). Omit for all platforms.
func (r AnalyticsAPIGetBestTimeToPostRequest) Platform(platform string) AnalyticsAPIGetBestTimeToPostRequest {
	r.platform = &platform
	return r
}

// Filter by profile ID. Omit for all profiles.
func (r AnalyticsAPIGetBestTimeToPostRequest) ProfileId(profileId string) AnalyticsAPIGetBestTimeToPostRequest {
	r.profileId = &profileId
	return r
}

// Filter by social account ID. Omit for all accounts.
func (r AnalyticsAPIGetBestTimeToPostRequest) AccountId(accountId string) AnalyticsAPIGetBestTimeToPostRequest {
	r.accountId = &accountId
	return r
}

// Filter by post origin. \&quot;late\&quot; for posts published via Zernio, \&quot;external\&quot; for posts imported from platforms.
func (r AnalyticsAPIGetBestTimeToPostRequest) Source(source string) AnalyticsAPIGetBestTimeToPostRequest {
	r.source = &source
	return r
}

func (r AnalyticsAPIGetBestTimeToPostRequest) Execute() (*GetBestTimeToPost200Response, *http.Response, error) {
	return r.ApiService.GetBestTimeToPostExecute(r)
}

/*
GetBestTimeToPost Get best times to post

Returns the best times to post based on historical engagement data.
Groups all published posts by day of week and hour (UTC), calculating average engagement per slot.
Use this to auto-schedule posts at optimal times. Requires the Analytics add-on.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAPIGetBestTimeToPostRequest
*/
func (a *AnalyticsAPIService) GetBestTimeToPost(ctx context.Context) AnalyticsAPIGetBestTimeToPostRequest {
	return AnalyticsAPIGetBestTimeToPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GetBestTimeToPost200Response
func (a *AnalyticsAPIService) GetBestTimeToPostExecute(r AnalyticsAPIGetBestTimeToPostRequest) (*GetBestTimeToPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetBestTimeToPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetBestTimeToPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/best-time"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	}
	if r.profileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "profileId", r.profileId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	} else {
		var defaultValue string = "all"
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", defaultValue, "form", "")
		r.source = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetBestTimeToPost403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPIGetContentDecayRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAPIService
	platform   *string
	profileId  *string
	accountId  *string
	source     *string
}

// Filter by platform (e.g. \&quot;instagram\&quot;, \&quot;tiktok\&quot;). Omit for all platforms.
func (r AnalyticsAPIGetContentDecayRequest) Platform(platform string) AnalyticsAPIGetContentDecayRequest {
	r.platform = &platform
	return r
}

// Filter by profile ID. Omit for all profiles.
func (r AnalyticsAPIGetContentDecayRequest) ProfileId(profileId string) AnalyticsAPIGetContentDecayRequest {
	r.profileId = &profileId
	return r
}

// Filter by social account ID. Omit for all accounts.
func (r AnalyticsAPIGetContentDecayRequest) AccountId(accountId string) AnalyticsAPIGetContentDecayRequest {
	r.accountId = &accountId
	return r
}

// Filter by post origin. \&quot;late\&quot; for posts published via Zernio, \&quot;external\&quot; for posts imported from platforms.
func (r AnalyticsAPIGetContentDecayRequest) Source(source string) AnalyticsAPIGetContentDecayRequest {
	r.source = &source
	return r
}

func (r AnalyticsAPIGetContentDecayRequest) Execute() (*GetContentDecay200Response, *http.Response, error) {
	return r.ApiService.GetContentDecayExecute(r)
}

/*
GetContentDecay Get content performance decay

Returns how engagement accumulates over time after a post is published.
Each bucket shows what percentage of the post's total engagement had been reached by that time window.
Useful for understanding content lifespan (e.g. "posts reach 78% of total engagement within 24 hours").
Requires the Analytics add-on.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAPIGetContentDecayRequest
*/
func (a *AnalyticsAPIService) GetContentDecay(ctx context.Context) AnalyticsAPIGetContentDecayRequest {
	return AnalyticsAPIGetContentDecayRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GetContentDecay200Response
func (a *AnalyticsAPIService) GetContentDecayExecute(r AnalyticsAPIGetContentDecayRequest) (*GetContentDecay200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetContentDecay200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetContentDecay")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/content-decay"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	}
	if r.profileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "profileId", r.profileId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	} else {
		var defaultValue string = "all"
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", defaultValue, "form", "")
		r.source = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetBestTimeToPost403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPIGetDailyMetricsRequest struct {
	ctx         context.Context
	ApiService  *AnalyticsAPIService
	platform    *string
	profileId   *string
	accountId   *string
	fromDate    *time.Time
	toDate      *time.Time
	source      *string
	attribution *string
}

// Filter by platform (e.g. \&quot;instagram\&quot;, \&quot;tiktok\&quot;). Omit for all platforms.
func (r AnalyticsAPIGetDailyMetricsRequest) Platform(platform string) AnalyticsAPIGetDailyMetricsRequest {
	r.platform = &platform
	return r
}

// Filter by profile ID. Omit for all profiles.
func (r AnalyticsAPIGetDailyMetricsRequest) ProfileId(profileId string) AnalyticsAPIGetDailyMetricsRequest {
	r.profileId = &profileId
	return r
}

// Filter by social account ID
func (r AnalyticsAPIGetDailyMetricsRequest) AccountId(accountId string) AnalyticsAPIGetDailyMetricsRequest {
	r.accountId = &accountId
	return r
}

// Inclusive start date (ISO 8601). Defaults to 180 days ago.
func (r AnalyticsAPIGetDailyMetricsRequest) FromDate(fromDate time.Time) AnalyticsAPIGetDailyMetricsRequest {
	r.fromDate = &fromDate
	return r
}

// Inclusive end date (ISO 8601). Defaults to now.
func (r AnalyticsAPIGetDailyMetricsRequest) ToDate(toDate time.Time) AnalyticsAPIGetDailyMetricsRequest {
	r.toDate = &toDate
	return r
}

// Filter by post origin. \&quot;late\&quot; for posts published via Zernio, \&quot;external\&quot; for posts imported from platforms.
func (r AnalyticsAPIGetDailyMetricsRequest) Source(source string) AnalyticsAPIGetDailyMetricsRequest {
	r.source = &source
	return r
}

// How each post&#39;s engagement is attributed to a day. \&quot;publish\&quot; (default) sums each post&#39;s lifetime total on its publish date. \&quot;received\&quot; buckets the per-day increase in engagement by the day it actually arrived (engagement-over-time), so engagement on older posts appears on the day it was gained rather than the post&#39;s publish date.
func (r AnalyticsAPIGetDailyMetricsRequest) Attribution(attribution string) AnalyticsAPIGetDailyMetricsRequest {
	r.attribution = &attribution
	return r
}

func (r AnalyticsAPIGetDailyMetricsRequest) Execute() (*GetDailyMetrics200Response, *http.Response, error) {
	return r.ApiService.GetDailyMetricsExecute(r)
}

/*
GetDailyMetrics Get daily aggregated metrics

Returns daily aggregated analytics metrics and a per-platform breakdown.
Each day includes post count, platform distribution, and summed metrics (impressions, reach, likes, comments, shares, saves, clicks, views).
Defaults to the last 180 days. Requires the Analytics add-on.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAPIGetDailyMetricsRequest
*/
func (a *AnalyticsAPIService) GetDailyMetrics(ctx context.Context) AnalyticsAPIGetDailyMetricsRequest {
	return AnalyticsAPIGetDailyMetricsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GetDailyMetrics200Response
func (a *AnalyticsAPIService) GetDailyMetricsExecute(r AnalyticsAPIGetDailyMetricsRequest) (*GetDailyMetrics200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetDailyMetrics200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetDailyMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/daily-metrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	}
	if r.profileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "profileId", r.profileId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.fromDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromDate", r.fromDate, "form", "")
	}
	if r.toDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toDate", r.toDate, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	} else {
		var defaultValue string = "all"
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", defaultValue, "form", "")
		r.source = &defaultValue
	}
	if r.attribution != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "attribution", r.attribution, "form", "")
	} else {
		var defaultValue string = "publish"
		parameterAddToHeaderOrQuery(localVarQueryParams, "attribution", defaultValue, "form", "")
		r.attribution = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 402 {
			var v GetAnalytics402Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPIGetFacebookPageInsightsRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAPIService
	accountId  *string
	metrics    *string
	since      *string
	until      *string
	metricType *string
}

// The Zernio SocialAccount ID for the connected Facebook Page.
func (r AnalyticsAPIGetFacebookPageInsightsRequest) AccountId(accountId string) AnalyticsAPIGetFacebookPageInsightsRequest {
	r.accountId = &accountId
	return r
}

// Comma-separated list of metrics. Defaults to \&quot;page_media_view,page_post_engagements,page_follows,followers_gained,followers_lost\&quot;.  Live Meta metrics (current names, post-Nov-2025):   - page_media_view       (replaces deprecated page_impressions)   - page_views_total   - page_post_engagements   - page_video_views   - page_video_view_time   - page_follows          (replaces deprecated page_fans)  Zernio-synthesized from daily follower snapshots (filling the Nov-2025 gap left by the page_fan_adds / page_fan_removes deprecation):   - followers_gained   - followers_lost
func (r AnalyticsAPIGetFacebookPageInsightsRequest) Metrics(metrics string) AnalyticsAPIGetFacebookPageInsightsRequest {
	r.metrics = &metrics
	return r
}

// Start date (YYYY-MM-DD). Defaults to 30 days ago.
func (r AnalyticsAPIGetFacebookPageInsightsRequest) Since(since string) AnalyticsAPIGetFacebookPageInsightsRequest {
	r.since = &since
	return r
}

// End date (YYYY-MM-DD). Defaults to today.
func (r AnalyticsAPIGetFacebookPageInsightsRequest) Until(until string) AnalyticsAPIGetFacebookPageInsightsRequest {
	r.until = &until
	return r
}

// \&quot;total_value\&quot; (default) returns aggregated totals only. \&quot;time_series\&quot; returns daily values in the \&quot;values\&quot; array.
func (r AnalyticsAPIGetFacebookPageInsightsRequest) MetricType(metricType string) AnalyticsAPIGetFacebookPageInsightsRequest {
	r.metricType = &metricType
	return r
}

func (r AnalyticsAPIGetFacebookPageInsightsRequest) Execute() (*InstagramAccountInsightsResponse, *http.Response, error) {
	return r.ApiService.GetFacebookPageInsightsExecute(r)
}

/*
GetFacebookPageInsights Get Facebook Page insights

Returns page-level Facebook insights (media views, views, post engagements, video metrics,
follower counts). Response shape matches /v1/analytics/instagram/account-insights so the
same client handling works across platforms.

Metric names track the current (post-November 2025) Meta Graph API. The legacy
page_impressions / page_fans / page_fan_adds / page_fan_removes metrics were deprecated
by Meta on November 15, 2025 and are NOT accepted by this endpoint. Use the replacements
below. Because Meta did not provide direct adds/removes replacements, Zernio synthesizes
followers_gained / followers_lost from the daily follower snapshotter.

Max 89 days, defaults to last 30 days. Requires the Analytics add-on.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAPIGetFacebookPageInsightsRequest
*/
func (a *AnalyticsAPIService) GetFacebookPageInsights(ctx context.Context) AnalyticsAPIGetFacebookPageInsightsRequest {
	return AnalyticsAPIGetFacebookPageInsightsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return InstagramAccountInsightsResponse
func (a *AnalyticsAPIService) GetFacebookPageInsightsExecute(r AnalyticsAPIGetFacebookPageInsightsRequest) (*InstagramAccountInsightsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *InstagramAccountInsightsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetFacebookPageInsights")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/facebook/page-insights"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.metrics != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metrics", r.metrics, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "form", "")
	}
	if r.metricType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metricType", r.metricType, "form", "")
	} else {
		var defaultValue string = "total_value"
		parameterAddToHeaderOrQuery(localVarQueryParams, "metricType", defaultValue, "form", "")
		r.metricType = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPIGetFacebookPostReactionsRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAPIService
	accountId  string
	postId     *string
}

// The Facebook post ID
func (r AnalyticsAPIGetFacebookPostReactionsRequest) PostId(postId string) AnalyticsAPIGetFacebookPostReactionsRequest {
	r.postId = &postId
	return r
}

func (r AnalyticsAPIGetFacebookPostReactionsRequest) Execute() (*GetFacebookPostReactions200Response, *http.Response, error) {
	return r.ApiService.GetFacebookPostReactionsExecute(r)
}

/*
GetFacebookPostReactions Get Facebook post reactions

Returns the reaction breakdown for a Facebook Page post: a count per reaction type
plus the overall total.

The whole breakdown is fetched in a single Graph call. Note that the post analytics
endpoint reports only an aggregate reaction count (surfaced there as `likes`), so use
this endpoint when you need per-type counts.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId The ID of the Facebook Page account
	@return AnalyticsAPIGetFacebookPostReactionsRequest
*/
func (a *AnalyticsAPIService) GetFacebookPostReactions(ctx context.Context, accountId string) AnalyticsAPIGetFacebookPostReactionsRequest {
	return AnalyticsAPIGetFacebookPostReactionsRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
	}
}

// Execute executes the request
//
//	@return GetFacebookPostReactions200Response
func (a *AnalyticsAPIService) GetFacebookPostReactionsExecute(r AnalyticsAPIGetFacebookPostReactionsRequest) (*GetFacebookPostReactions200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetFacebookPostReactions200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetFacebookPostReactions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/facebook-post-reactions"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.postId == nil {
		return localVarReturnValue, nil, reportError("postId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "postId", r.postId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPIGetFollowerStatsRequest struct {
	ctx         context.Context
	ApiService  *AnalyticsAPIService
	accountIds  *string
	profileId   *string
	fromDate    *string
	toDate      *string
	granularity *string
}

// Comma-separated list of account IDs (optional, defaults to all user&#39;s accounts)
func (r AnalyticsAPIGetFollowerStatsRequest) AccountIds(accountIds string) AnalyticsAPIGetFollowerStatsRequest {
	r.accountIds = &accountIds
	return r
}

// Filter by profile ID
func (r AnalyticsAPIGetFollowerStatsRequest) ProfileId(profileId string) AnalyticsAPIGetFollowerStatsRequest {
	r.profileId = &profileId
	return r
}

// Start date in YYYY-MM-DD format (defaults to 30 days ago)
func (r AnalyticsAPIGetFollowerStatsRequest) FromDate(fromDate string) AnalyticsAPIGetFollowerStatsRequest {
	r.fromDate = &fromDate
	return r
}

// End date in YYYY-MM-DD format (defaults to today)
func (r AnalyticsAPIGetFollowerStatsRequest) ToDate(toDate string) AnalyticsAPIGetFollowerStatsRequest {
	r.toDate = &toDate
	return r
}

// Data aggregation level
func (r AnalyticsAPIGetFollowerStatsRequest) Granularity(granularity string) AnalyticsAPIGetFollowerStatsRequest {
	r.granularity = &granularity
	return r
}

func (r AnalyticsAPIGetFollowerStatsRequest) Execute() (*FollowerStatsResponse, *http.Response, error) {
	return r.ApiService.GetFollowerStatsExecute(r)
}

/*
GetFollowerStats Get follower stats

Returns follower count history and growth metrics for connected social accounts.
Requires analytics add-on subscription. Follower counts are refreshed once per day.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAPIGetFollowerStatsRequest
*/
func (a *AnalyticsAPIService) GetFollowerStats(ctx context.Context) AnalyticsAPIGetFollowerStatsRequest {
	return AnalyticsAPIGetFollowerStatsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FollowerStatsResponse
func (a *AnalyticsAPIService) GetFollowerStatsExecute(r AnalyticsAPIGetFollowerStatsRequest) (*FollowerStatsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FollowerStatsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetFollowerStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/follower-stats"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accountIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountIds", r.accountIds, "form", "")
	}
	if r.profileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "profileId", r.profileId, "form", "")
	}
	if r.fromDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromDate", r.fromDate, "form", "")
	}
	if r.toDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toDate", r.toDate, "form", "")
	}
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "form", "")
	} else {
		var defaultValue string = "daily"
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", defaultValue, "form", "")
		r.granularity = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetFollowerStats403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPIGetGoogleBusinessPerformanceRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAPIService
	accountId  *string
	metrics    *string
	startDate  *string
	endDate    *string
}

// The Zernio SocialAccount ID for the Google Business Profile account.
func (r AnalyticsAPIGetGoogleBusinessPerformanceRequest) AccountId(accountId string) AnalyticsAPIGetGoogleBusinessPerformanceRequest {
	r.accountId = &accountId
	return r
}

// Comma-separated metric names. Defaults to all available metrics. Valid values: BUSINESS_IMPRESSIONS_DESKTOP_MAPS, BUSINESS_IMPRESSIONS_DESKTOP_SEARCH, BUSINESS_IMPRESSIONS_MOBILE_MAPS, BUSINESS_IMPRESSIONS_MOBILE_SEARCH, BUSINESS_CONVERSATIONS, BUSINESS_DIRECTION_REQUESTS, CALL_CLICKS, WEBSITE_CLICKS, BUSINESS_BOOKINGS, BUSINESS_FOOD_ORDERS, BUSINESS_FOOD_MENU_CLICKS
func (r AnalyticsAPIGetGoogleBusinessPerformanceRequest) Metrics(metrics string) AnalyticsAPIGetGoogleBusinessPerformanceRequest {
	r.metrics = &metrics
	return r
}

// Start date (YYYY-MM-DD). Defaults to 30 days ago. Max 18 months back.
func (r AnalyticsAPIGetGoogleBusinessPerformanceRequest) StartDate(startDate string) AnalyticsAPIGetGoogleBusinessPerformanceRequest {
	r.startDate = &startDate
	return r
}

// End date (YYYY-MM-DD). Defaults to today.
func (r AnalyticsAPIGetGoogleBusinessPerformanceRequest) EndDate(endDate string) AnalyticsAPIGetGoogleBusinessPerformanceRequest {
	r.endDate = &endDate
	return r
}

func (r AnalyticsAPIGetGoogleBusinessPerformanceRequest) Execute() (*GetGoogleBusinessPerformance200Response, *http.Response, error) {
	return r.ApiService.GetGoogleBusinessPerformanceExecute(r)
}

/*
GetGoogleBusinessPerformance Get GBP performance metrics

Returns daily performance metrics for a Google Business Profile location.
Metrics include impressions (Maps/Search, desktop/mobile), website clicks,
call clicks, direction requests, conversations, bookings, and food orders.
Data may be delayed 2-3 days. Max 18 months of historical data.
Requires the Analytics add-on.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAPIGetGoogleBusinessPerformanceRequest
*/
func (a *AnalyticsAPIService) GetGoogleBusinessPerformance(ctx context.Context) AnalyticsAPIGetGoogleBusinessPerformanceRequest {
	return AnalyticsAPIGetGoogleBusinessPerformanceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GetGoogleBusinessPerformance200Response
func (a *AnalyticsAPIService) GetGoogleBusinessPerformanceExecute(r AnalyticsAPIGetGoogleBusinessPerformanceRequest) (*GetGoogleBusinessPerformance200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetGoogleBusinessPerformance200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetGoogleBusinessPerformance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/googlebusiness/performance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.metrics != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metrics", r.metrics, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetGoogleBusinessPerformance400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 402 {
			var v GetAnalytics402Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPIGetGoogleBusinessSearchKeywordsRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAPIService
	accountId  *string
	startMonth *string
	endMonth   *string
}

// The Zernio SocialAccount ID for the Google Business Profile account.
func (r AnalyticsAPIGetGoogleBusinessSearchKeywordsRequest) AccountId(accountId string) AnalyticsAPIGetGoogleBusinessSearchKeywordsRequest {
	r.accountId = &accountId
	return r
}

// Start month (YYYY-MM). Defaults to 3 months ago.
func (r AnalyticsAPIGetGoogleBusinessSearchKeywordsRequest) StartMonth(startMonth string) AnalyticsAPIGetGoogleBusinessSearchKeywordsRequest {
	r.startMonth = &startMonth
	return r
}

// End month (YYYY-MM). Defaults to current month.
func (r AnalyticsAPIGetGoogleBusinessSearchKeywordsRequest) EndMonth(endMonth string) AnalyticsAPIGetGoogleBusinessSearchKeywordsRequest {
	r.endMonth = &endMonth
	return r
}

func (r AnalyticsAPIGetGoogleBusinessSearchKeywordsRequest) Execute() (*GetGoogleBusinessSearchKeywords200Response, *http.Response, error) {
	return r.ApiService.GetGoogleBusinessSearchKeywordsExecute(r)
}

/*
GetGoogleBusinessSearchKeywords Get GBP search keywords

Returns search keywords that triggered impressions for a Google Business Profile location.
Data is aggregated monthly. Keywords below a minimum impression threshold set by Google are excluded.
Max 18 months of historical data. Requires the Analytics add-on.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAPIGetGoogleBusinessSearchKeywordsRequest
*/
func (a *AnalyticsAPIService) GetGoogleBusinessSearchKeywords(ctx context.Context) AnalyticsAPIGetGoogleBusinessSearchKeywordsRequest {
	return AnalyticsAPIGetGoogleBusinessSearchKeywordsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GetGoogleBusinessSearchKeywords200Response
func (a *AnalyticsAPIService) GetGoogleBusinessSearchKeywordsExecute(r AnalyticsAPIGetGoogleBusinessSearchKeywordsRequest) (*GetGoogleBusinessSearchKeywords200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetGoogleBusinessSearchKeywords200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetGoogleBusinessSearchKeywords")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/googlebusiness/search-keywords"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.startMonth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startMonth", r.startMonth, "form", "")
	}
	if r.endMonth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endMonth", r.endMonth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 402 {
			var v GetAnalytics402Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPIGetInstagramAccountInsightsRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAPIService
	accountId  *string
	metrics    *string
	since      *string
	until      *string
	metricType *string
	breakdown  *string
}

// The Zernio SocialAccount ID for the Instagram account
func (r AnalyticsAPIGetInstagramAccountInsightsRequest) AccountId(accountId string) AnalyticsAPIGetInstagramAccountInsightsRequest {
	r.accountId = &accountId
	return r
}

// Comma-separated list of metrics. Defaults to \&quot;reach,views,accounts_engaged,total_interactions\&quot;. Valid metrics: reach, views, accounts_engaged, total_interactions, comments, likes, saves, shares, replies, reposts, follows_and_unfollows, profile_links_taps. Note: only \&quot;reach\&quot; supports metricType&#x3D;time_series. All other metrics (including follows_and_unfollows) are total_value only. This is an Instagram Graph API limitation, not a Zernio limitation - the IG API does not return time-series data for these metrics. For a daily running follower count, use /v1/analytics/instagram/follower-history instead.
func (r AnalyticsAPIGetInstagramAccountInsightsRequest) Metrics(metrics string) AnalyticsAPIGetInstagramAccountInsightsRequest {
	r.metrics = &metrics
	return r
}

// Start date (YYYY-MM-DD). Defaults to 30 days ago.
func (r AnalyticsAPIGetInstagramAccountInsightsRequest) Since(since string) AnalyticsAPIGetInstagramAccountInsightsRequest {
	r.since = &since
	return r
}

// End date (YYYY-MM-DD). Defaults to today.
func (r AnalyticsAPIGetInstagramAccountInsightsRequest) Until(until string) AnalyticsAPIGetInstagramAccountInsightsRequest {
	r.until = &until
	return r
}

// \&quot;total_value\&quot; (default) returns aggregated totals and supports breakdowns. \&quot;time_series\&quot; returns daily values but only works with the \&quot;reach\&quot; metric.
func (r AnalyticsAPIGetInstagramAccountInsightsRequest) MetricType(metricType string) AnalyticsAPIGetInstagramAccountInsightsRequest {
	r.metricType = &metricType
	return r
}

// Breakdown dimension (only valid with metricType&#x3D;total_value). Valid values depend on the metric: media_product_type, follow_type, follower_type, contact_button_type.
func (r AnalyticsAPIGetInstagramAccountInsightsRequest) Breakdown(breakdown string) AnalyticsAPIGetInstagramAccountInsightsRequest {
	r.breakdown = &breakdown
	return r
}

func (r AnalyticsAPIGetInstagramAccountInsightsRequest) Execute() (*InstagramAccountInsightsResponse, *http.Response, error) {
	return r.ApiService.GetInstagramAccountInsightsExecute(r)
}

/*
GetInstagramAccountInsights Get Instagram insights

Returns account-level Instagram insights such as reach, views, accounts engaged, and total interactions.
These metrics reflect the entire account's performance across all content surfaces (feed, stories, explore, profile),
and are fundamentally different from post-level metrics. Data may be delayed up to 48 hours.
Max 90 days, defaults to last 30 days. Requires the Analytics add-on.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAPIGetInstagramAccountInsightsRequest
*/
func (a *AnalyticsAPIService) GetInstagramAccountInsights(ctx context.Context) AnalyticsAPIGetInstagramAccountInsightsRequest {
	return AnalyticsAPIGetInstagramAccountInsightsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return InstagramAccountInsightsResponse
func (a *AnalyticsAPIService) GetInstagramAccountInsightsExecute(r AnalyticsAPIGetInstagramAccountInsightsRequest) (*InstagramAccountInsightsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *InstagramAccountInsightsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetInstagramAccountInsights")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/instagram/account-insights"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.metrics != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metrics", r.metrics, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "form", "")
	}
	if r.metricType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metricType", r.metricType, "form", "")
	} else {
		var defaultValue string = "total_value"
		parameterAddToHeaderOrQuery(localVarQueryParams, "metricType", defaultValue, "form", "")
		r.metricType = &defaultValue
	}
	if r.breakdown != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "breakdown", r.breakdown, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 402 {
			var v GetAnalytics402Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPIGetInstagramDemographicsRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAPIService
	accountId  *string
	metric     *string
	breakdown  *string
	timeframe  *string
}

// The Zernio SocialAccount ID for the Instagram account
func (r AnalyticsAPIGetInstagramDemographicsRequest) AccountId(accountId string) AnalyticsAPIGetInstagramDemographicsRequest {
	r.accountId = &accountId
	return r
}

// \&quot;follower_demographics\&quot; for follower audience data, or \&quot;engaged_audience_demographics\&quot; for engaged viewers.
func (r AnalyticsAPIGetInstagramDemographicsRequest) Metric(metric string) AnalyticsAPIGetInstagramDemographicsRequest {
	r.metric = &metric
	return r
}

// Comma-separated list of demographic dimensions: age, city, country, gender. Defaults to all four if omitted.
func (r AnalyticsAPIGetInstagramDemographicsRequest) Breakdown(breakdown string) AnalyticsAPIGetInstagramDemographicsRequest {
	r.breakdown = &breakdown
	return r
}

// Time period for demographic data. Defaults to \&quot;this_month\&quot;.
func (r AnalyticsAPIGetInstagramDemographicsRequest) Timeframe(timeframe string) AnalyticsAPIGetInstagramDemographicsRequest {
	r.timeframe = &timeframe
	return r
}

func (r AnalyticsAPIGetInstagramDemographicsRequest) Execute() (*InstagramDemographicsResponse, *http.Response, error) {
	return r.ApiService.GetInstagramDemographicsExecute(r)
}

/*
GetInstagramDemographics Get Instagram demographics

Returns audience demographic insights for an Instagram account, broken down by age, city, country, and/or gender.
Requires at least 100 followers. Returns top 45 entries per dimension.
Data may be delayed up to 48 hours. Requires the Analytics add-on.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAPIGetInstagramDemographicsRequest
*/
func (a *AnalyticsAPIService) GetInstagramDemographics(ctx context.Context) AnalyticsAPIGetInstagramDemographicsRequest {
	return AnalyticsAPIGetInstagramDemographicsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return InstagramDemographicsResponse
func (a *AnalyticsAPIService) GetInstagramDemographicsExecute(r AnalyticsAPIGetInstagramDemographicsRequest) (*InstagramDemographicsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *InstagramDemographicsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetInstagramDemographics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/instagram/demographics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.metric != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metric", r.metric, "form", "")
	} else {
		var defaultValue string = "follower_demographics"
		parameterAddToHeaderOrQuery(localVarQueryParams, "metric", defaultValue, "form", "")
		r.metric = &defaultValue
	}
	if r.breakdown != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "breakdown", r.breakdown, "form", "")
	}
	if r.timeframe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeframe", r.timeframe, "form", "")
	} else {
		var defaultValue string = "this_month"
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeframe", defaultValue, "form", "")
		r.timeframe = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 402 {
			var v GetAnalytics402Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPIGetInstagramFollowerHistoryRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAPIService
	accountId  *string
	metrics    *string
	since      *string
	until      *string
	metricType *string
}

// The Zernio SocialAccount ID for the Instagram account.
func (r AnalyticsAPIGetInstagramFollowerHistoryRequest) AccountId(accountId string) AnalyticsAPIGetInstagramFollowerHistoryRequest {
	r.accountId = &accountId
	return r
}

// Comma-separated list. Defaults to \&quot;follower_count,followers_gained,followers_lost\&quot;.   - follower_count   : per-day raw follower count   - followers_gained : sum of positive daily deltas   - followers_lost   : sum of absolute negative daily deltas
func (r AnalyticsAPIGetInstagramFollowerHistoryRequest) Metrics(metrics string) AnalyticsAPIGetInstagramFollowerHistoryRequest {
	r.metrics = &metrics
	return r
}

// Start date (YYYY-MM-DD). Defaults to 30 days ago.
func (r AnalyticsAPIGetInstagramFollowerHistoryRequest) Since(since string) AnalyticsAPIGetInstagramFollowerHistoryRequest {
	r.since = &since
	return r
}

// End date (YYYY-MM-DD). Defaults to today.
func (r AnalyticsAPIGetInstagramFollowerHistoryRequest) Until(until string) AnalyticsAPIGetInstagramFollowerHistoryRequest {
	r.until = &until
	return r
}

// \&quot;total_value\&quot; returns aggregated totals (latest for follower_count, sum for gained/lost). \&quot;time_series\&quot; returns per-day values in the \&quot;values\&quot; array.
func (r AnalyticsAPIGetInstagramFollowerHistoryRequest) MetricType(metricType string) AnalyticsAPIGetInstagramFollowerHistoryRequest {
	r.metricType = &metricType
	return r
}

func (r AnalyticsAPIGetInstagramFollowerHistoryRequest) Execute() (*InstagramAccountInsightsResponse, *http.Response, error) {
	return r.ApiService.GetInstagramFollowerHistoryExecute(r)
}

/*
GetInstagramFollowerHistory Get Instagram follower history

Returns a daily running Instagram follower count time series, served from Zernio's
cross-platform daily snapshotter. Exists because Meta removed follower_count from
the /insights endpoint in Graph API v22+ and never exposed a historical daily series
via any public API.

Response envelope matches /v1/analytics/instagram/account-insights so the same client
handling works. Max 89 days, defaults to last 30 days. Requires the Analytics add-on.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAPIGetInstagramFollowerHistoryRequest
*/
func (a *AnalyticsAPIService) GetInstagramFollowerHistory(ctx context.Context) AnalyticsAPIGetInstagramFollowerHistoryRequest {
	return AnalyticsAPIGetInstagramFollowerHistoryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return InstagramAccountInsightsResponse
func (a *AnalyticsAPIService) GetInstagramFollowerHistoryExecute(r AnalyticsAPIGetInstagramFollowerHistoryRequest) (*InstagramAccountInsightsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *InstagramAccountInsightsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetInstagramFollowerHistory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/instagram/follower-history"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.metrics != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metrics", r.metrics, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "form", "")
	}
	if r.metricType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metricType", r.metricType, "form", "")
	} else {
		var defaultValue string = "total_value"
		parameterAddToHeaderOrQuery(localVarQueryParams, "metricType", defaultValue, "form", "")
		r.metricType = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPIGetLinkedInAggregateAnalyticsRequest struct {
	ctx         context.Context
	ApiService  *AnalyticsAPIService
	accountId   string
	aggregation *string
	startDate   *string
	endDate     *string
	metrics     *string
}

// TOTAL (default, lifetime totals) or DAILY (time series). MEMBERS_REACHED not available with DAILY.
func (r AnalyticsAPIGetLinkedInAggregateAnalyticsRequest) Aggregation(aggregation string) AnalyticsAPIGetLinkedInAggregateAnalyticsRequest {
	r.aggregation = &aggregation
	return r
}

// Start date (YYYY-MM-DD). If omitted, returns lifetime analytics.
func (r AnalyticsAPIGetLinkedInAggregateAnalyticsRequest) StartDate(startDate string) AnalyticsAPIGetLinkedInAggregateAnalyticsRequest {
	r.startDate = &startDate
	return r
}

// End date (YYYY-MM-DD, exclusive). Defaults to today if omitted.
func (r AnalyticsAPIGetLinkedInAggregateAnalyticsRequest) EndDate(endDate string) AnalyticsAPIGetLinkedInAggregateAnalyticsRequest {
	r.endDate = &endDate
	return r
}

// Comma-separated metrics: IMPRESSION, MEMBERS_REACHED, REACTION, COMMENT, RESHARE, POST_SAVE, POST_SEND. Omit for all.
func (r AnalyticsAPIGetLinkedInAggregateAnalyticsRequest) Metrics(metrics string) AnalyticsAPIGetLinkedInAggregateAnalyticsRequest {
	r.metrics = &metrics
	return r
}

func (r AnalyticsAPIGetLinkedInAggregateAnalyticsRequest) Execute() (*GetLinkedInAggregateAnalytics200Response, *http.Response, error) {
	return r.ApiService.GetLinkedInAggregateAnalyticsExecute(r)
}

/*
GetLinkedInAggregateAnalytics Get LinkedIn aggregate stats

Returns aggregate analytics across all posts for a LinkedIn personal account. Only includes posts published through Zernio (LinkedIn API limitation). Org accounts should use /v1/analytics instead. Requires r_member_postAnalytics scope. Saves (POST_SAVE) and sends (POST_SEND) are available for personal accounts; organization pages always return 0 for these two metrics because LinkedIn does not expose them on the organization analytics endpoint.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId The ID of the LinkedIn personal account
	@return AnalyticsAPIGetLinkedInAggregateAnalyticsRequest
*/
func (a *AnalyticsAPIService) GetLinkedInAggregateAnalytics(ctx context.Context, accountId string) AnalyticsAPIGetLinkedInAggregateAnalyticsRequest {
	return AnalyticsAPIGetLinkedInAggregateAnalyticsRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
	}
}

// Execute executes the request
//
//	@return GetLinkedInAggregateAnalytics200Response
func (a *AnalyticsAPIService) GetLinkedInAggregateAnalyticsExecute(r AnalyticsAPIGetLinkedInAggregateAnalyticsRequest) (*GetLinkedInAggregateAnalytics200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetLinkedInAggregateAnalytics200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetLinkedInAggregateAnalytics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/linkedin-aggregate-analytics"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.aggregation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "aggregation", r.aggregation, "form", "")
	} else {
		var defaultValue string = "TOTAL"
		parameterAddToHeaderOrQuery(localVarQueryParams, "aggregation", defaultValue, "form", "")
		r.aggregation = &defaultValue
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	}
	if r.metrics != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metrics", r.metrics, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetLinkedInAggregateAnalytics400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 402 {
			var v GetAnalytics402Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v GetLinkedInAggregateAnalytics403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPIGetLinkedInOrgAggregateAnalyticsRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAPIService
	accountId  *string
	metrics    *string
	since      *string
	until      *string
	metricType *string
}

// The Zernio SocialAccount ID for the LinkedIn organization account.
func (r AnalyticsAPIGetLinkedInOrgAggregateAnalyticsRequest) AccountId(accountId string) AnalyticsAPIGetLinkedInOrgAggregateAnalyticsRequest {
	r.accountId = &accountId
	return r
}

// Comma-separated list. Defaults to \&quot;impressions,clicks,engagement_rate,organic_followers_gained,followers_gained,followers_lost\&quot;.  Share statistics (support both total_value and time_series):   - impressions   - unique_impressions   - clicks   - likes   - comments   - shares   - engagement_rate       (0..1, LinkedIn-computed)  Follower-gain statistics (support total_value and time_series):   - organic_followers_gained   (per-day organic gains for time_series; sum of organic gains over the range for total_value)   - paid_followers_gained      (per-day paid gains for time_series; sum of paid gains over the range for total_value)  Page-view statistics (total_value ONLY - LinkedIn platform limit):   - page_views_total   - page_views_overview   - page_views_careers   - page_views_jobs   - page_views_life  Zernio-synthesized from daily follower snapshots:   - followers_gained   - followers_lost
func (r AnalyticsAPIGetLinkedInOrgAggregateAnalyticsRequest) Metrics(metrics string) AnalyticsAPIGetLinkedInOrgAggregateAnalyticsRequest {
	r.metrics = &metrics
	return r
}

// Start date (YYYY-MM-DD). Defaults to 30 days ago.
func (r AnalyticsAPIGetLinkedInOrgAggregateAnalyticsRequest) Since(since string) AnalyticsAPIGetLinkedInOrgAggregateAnalyticsRequest {
	r.since = &since
	return r
}

// End date (YYYY-MM-DD). Defaults to today.
func (r AnalyticsAPIGetLinkedInOrgAggregateAnalyticsRequest) Until(until string) AnalyticsAPIGetLinkedInOrgAggregateAnalyticsRequest {
	r.until = &until
	return r
}

func (r AnalyticsAPIGetLinkedInOrgAggregateAnalyticsRequest) MetricType(metricType string) AnalyticsAPIGetLinkedInOrgAggregateAnalyticsRequest {
	r.metricType = &metricType
	return r
}

func (r AnalyticsAPIGetLinkedInOrgAggregateAnalyticsRequest) Execute() (*InstagramAccountInsightsResponse, *http.Response, error) {
	return r.ApiService.GetLinkedInOrgAggregateAnalyticsExecute(r)
}

/*
GetLinkedInOrgAggregateAnalytics Get LinkedIn org analytics

Returns aggregate analytics for a LinkedIn organization page. Parallel to
/v1/accounts/{id}/linkedin-aggregate-analytics (which handles personal accounts only).
Backed by LinkedIn's organizationalEntityShareStatistics,
organizationalEntityFollowerStatistics, and organizationPageStatistics endpoints.

Response shape matches /v1/analytics/instagram/account-insights. Max 89 days,
defaults to last 30 days. Requires the Analytics add-on.

Scope requirements: r_organization_social, r_organization_followers, and
r_organization_admin must all be present on the account. Accounts connected before
these scopes were included in the OAuth flow will return 412 with a reauth hint.

Enforced by this endpoint:
  - Page-view metrics accept only metricType=total_value (LinkedIn omits per-day
    segmentation even when the API is called with DAY granularity, so a time-series
    response would be meaningless).
  - Date range capped at 89 days.

LinkedIn-side platform limits (not re-enforced here, but worth knowing for larger
ranges in a future release):

  - Follower stats: rolling 12-month window, end must be no later than 2 days ago.

  - Share stats: rolling 12-month window.

    @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
    @return AnalyticsAPIGetLinkedInOrgAggregateAnalyticsRequest
*/
func (a *AnalyticsAPIService) GetLinkedInOrgAggregateAnalytics(ctx context.Context) AnalyticsAPIGetLinkedInOrgAggregateAnalyticsRequest {
	return AnalyticsAPIGetLinkedInOrgAggregateAnalyticsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return InstagramAccountInsightsResponse
func (a *AnalyticsAPIService) GetLinkedInOrgAggregateAnalyticsExecute(r AnalyticsAPIGetLinkedInOrgAggregateAnalyticsRequest) (*InstagramAccountInsightsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *InstagramAccountInsightsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetLinkedInOrgAggregateAnalytics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/linkedin/org-aggregate-analytics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.metrics != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metrics", r.metrics, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "form", "")
	}
	if r.metricType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metricType", r.metricType, "form", "")
	} else {
		var defaultValue string = "total_value"
		parameterAddToHeaderOrQuery(localVarQueryParams, "metricType", defaultValue, "form", "")
		r.metricType = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
[...]
