/*
Zernio API

API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api

API version: 1.0.4
Contact: support@zernio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zernio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// RedditSearchAPIService RedditSearchAPI service
type RedditSearchAPIService service

type RedditSearchAPIGetRedditFeedRequest struct {
	ctx        context.Context
	ApiService *RedditSearchAPIService
	accountId  *string
	subreddit  *string
	sort       *string
	limit      *int32
	after      *string
	t          *string
}

func (r RedditSearchAPIGetRedditFeedRequest) AccountId(accountId string) RedditSearchAPIGetRedditFeedRequest {
	r.accountId = &accountId
	return r
}

func (r RedditSearchAPIGetRedditFeedRequest) Subreddit(subreddit string) RedditSearchAPIGetRedditFeedRequest {
	r.subreddit = &subreddit
	return r
}

func (r RedditSearchAPIGetRedditFeedRequest) Sort(sort string) RedditSearchAPIGetRedditFeedRequest {
	r.sort = &sort
	return r
}

func (r RedditSearchAPIGetRedditFeedRequest) Limit(limit int32) RedditSearchAPIGetRedditFeedRequest {
	r.limit = &limit
	return r
}

func (r RedditSearchAPIGetRedditFeedRequest) After(after string) RedditSearchAPIGetRedditFeedRequest {
	r.after = &after
	return r
}

func (r RedditSearchAPIGetRedditFeedRequest) T(t string) RedditSearchAPIGetRedditFeedRequest {
	r.t = &t
	return r
}

func (r RedditSearchAPIGetRedditFeedRequest) Execute() (*SearchReddit200Response, *http.Response, error) {
	return r.ApiService.GetRedditFeedExecute(r)
}

/*
GetRedditFeed Get subreddit feed

Fetch posts from a subreddit feed. Supports sorting, time filtering, and cursor-based pagination.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RedditSearchAPIGetRedditFeedRequest
*/
func (a *RedditSearchAPIService) GetRedditFeed(ctx context.Context) RedditSearchAPIGetRedditFeedRequest {
	return RedditSearchAPIGetRedditFeedRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SearchReddit200Response
func (a *RedditSearchAPIService) GetRedditFeedExecute(r RedditSearchAPIGetRedditFeedRequest) (*SearchReddit200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchReddit200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RedditSearchAPIService.GetRedditFeed")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/reddit/feed"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.subreddit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subreddit", r.subreddit, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "hot"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
		r.sort = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "form", "")
	}
	if r.t != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "t", r.t, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RedditSearchAPISearchRedditRequest struct {
	ctx        context.Context
	ApiService *RedditSearchAPIService
	accountId  *string
	q          *string
	subreddit  *string
	restrictSr *string
	sort       *string
	limit      *int32
	after      *string
}

func (r RedditSearchAPISearchRedditRequest) AccountId(accountId string) RedditSearchAPISearchRedditRequest {
	r.accountId = &accountId
	return r
}

func (r RedditSearchAPISearchRedditRequest) Q(q string) RedditSearchAPISearchRedditRequest {
	r.q = &q
	return r
}

func (r RedditSearchAPISearchRedditRequest) Subreddit(subreddit string) RedditSearchAPISearchRedditRequest {
	r.subreddit = &subreddit
	return r
}

func (r RedditSearchAPISearchRedditRequest) RestrictSr(restrictSr string) RedditSearchAPISearchRedditRequest {
	r.restrictSr = &restrictSr
	return r
}

func (r RedditSearchAPISearchRedditRequest) Sort(sort string) RedditSearchAPISearchRedditRequest {
	r.sort = &sort
	return r
}

func (r RedditSearchAPISearchRedditRequest) Limit(limit int32) RedditSearchAPISearchRedditRequest {
	r.limit = &limit
	return r
}

func (r RedditSearchAPISearchRedditRequest) After(after string) RedditSearchAPISearchRedditRequest {
	r.after = &after
	return r
}

func (r RedditSearchAPISearchRedditRequest) Execute() (*SearchReddit200Response, *http.Response, error) {
	return r.ApiService.SearchRedditExecute(r)
}

/*
SearchReddit Search posts

Search Reddit posts using a connected account. Optionally scope to a specific subreddit.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RedditSearchAPISearchRedditRequest
*/
func (a *RedditSearchAPIService) SearchReddit(ctx context.Context) RedditSearchAPISearchRedditRequest {
	return RedditSearchAPISearchRedditRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SearchReddit200Response
func (a *RedditSearchAPIService) SearchRedditExecute(r RedditSearchAPISearchRedditRequest) (*SearchReddit200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchReddit200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RedditSearchAPIService.SearchReddit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/reddit/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.q == nil {
		return localVarReturnValue, nil, reportError("q is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.subreddit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subreddit", r.subreddit, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	if r.restrictSr != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "restrict_sr", r.restrictSr, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "new"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
		r.sort = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
