/*
Zernio API

API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api

API version: 1.0.4
Contact: support@zernio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zernio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ReviewsAPIService ReviewsAPI service
type ReviewsAPIService service

type ReviewsAPIDeleteInboxReviewReplyRequest struct {
	ctx                        context.Context
	ApiService                 *ReviewsAPIService
	reviewId                   string
	sendTypingIndicatorRequest *SendTypingIndicatorRequest
}

func (r ReviewsAPIDeleteInboxReviewReplyRequest) SendTypingIndicatorRequest(sendTypingIndicatorRequest SendTypingIndicatorRequest) ReviewsAPIDeleteInboxReviewReplyRequest {
	r.sendTypingIndicatorRequest = &sendTypingIndicatorRequest
	return r
}

func (r ReviewsAPIDeleteInboxReviewReplyRequest) Execute() (*DeleteInboxReviewReply200Response, *http.Response, error) {
	return r.ApiService.DeleteInboxReviewReplyExecute(r)
}

/*
DeleteInboxReviewReply Delete review reply

Delete a reply to a review (Google Business only). Requires accountId in request body.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param reviewId
	@return ReviewsAPIDeleteInboxReviewReplyRequest
*/
func (a *ReviewsAPIService) DeleteInboxReviewReply(ctx context.Context, reviewId string) ReviewsAPIDeleteInboxReviewReplyRequest {
	return ReviewsAPIDeleteInboxReviewReplyRequest{
		ApiService: a,
		ctx:        ctx,
		reviewId:   reviewId,
	}
}

// Execute executes the request
//
//	@return DeleteInboxReviewReply200Response
func (a *ReviewsAPIService) DeleteInboxReviewReplyExecute(r ReviewsAPIDeleteInboxReviewReplyRequest) (*DeleteInboxReviewReply200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DeleteInboxReviewReply200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReviewsAPIService.DeleteInboxReviewReply")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inbox/reviews/{reviewId}/reply"
	localVarPath = strings.Replace(localVarPath, "{"+"reviewId"+"}", url.PathEscape(parameterValueToString(r.reviewId, "reviewId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sendTypingIndicatorRequest == nil {
		return localVarReturnValue, nil, reportError("sendTypingIndicatorRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.sendTypingIndicatorRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReviewsAPIListInboxReviewsRequest struct {
	ctx        context.Context
	ApiService *ReviewsAPIService
	profileId  *string
	platform   *string
	minRating  *int32
	maxRating  *int32
	replied    *bool
	sortBy     *string
	sortOrder  *string
	limit      *int32
	cursor     *string
	accountId  *string
}

func (r ReviewsAPIListInboxReviewsRequest) ProfileId(profileId string) ReviewsAPIListInboxReviewsRequest {
	r.profileId = &profileId
	return r
}

func (r ReviewsAPIListInboxReviewsRequest) Platform(platform string) ReviewsAPIListInboxReviewsRequest {
	r.platform = &platform
	return r
}

func (r ReviewsAPIListInboxReviewsRequest) MinRating(minRating int32) ReviewsAPIListInboxReviewsRequest {
	r.minRating = &minRating
	return r
}

func (r ReviewsAPIListInboxReviewsRequest) MaxRating(maxRating int32) ReviewsAPIListInboxReviewsRequest {
	r.maxRating = &maxRating
	return r
}

// Filter by reply status
func (r ReviewsAPIListInboxReviewsRequest) Replied(replied bool) ReviewsAPIListInboxReviewsRequest {
	r.replied = &replied
	return r
}

func (r ReviewsAPIListInboxReviewsRequest) SortBy(sortBy string) ReviewsAPIListInboxReviewsRequest {
	r.sortBy = &sortBy
	return r
}

func (r ReviewsAPIListInboxReviewsRequest) SortOrder(sortOrder string) ReviewsAPIListInboxReviewsRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r ReviewsAPIListInboxReviewsRequest) Limit(limit int32) ReviewsAPIListInboxReviewsRequest {
	r.limit = &limit
	return r
}

func (r ReviewsAPIListInboxReviewsRequest) Cursor(cursor string) ReviewsAPIListInboxReviewsRequest {
	r.cursor = &cursor
	return r
}

// Filter by specific social account ID
func (r ReviewsAPIListInboxReviewsRequest) AccountId(accountId string) ReviewsAPIListInboxReviewsRequest {
	r.accountId = &accountId
	return r
}

func (r ReviewsAPIListInboxReviewsRequest) Execute() (*ListInboxReviews200Response, *http.Response, error) {
	return r.ApiService.ListInboxReviewsExecute(r)
}

/*
ListInboxReviews List reviews

Fetch reviews from all connected Facebook Pages and Google Business accounts. Aggregates data with filtering and sorting options.
Supported platforms: Facebook, Google Business.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ReviewsAPIListInboxReviewsRequest
*/
func (a *ReviewsAPIService) ListInboxReviews(ctx context.Context) ReviewsAPIListInboxReviewsRequest {
	return ReviewsAPIListInboxReviewsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListInboxReviews200Response
func (a *ReviewsAPIService) ListInboxReviewsExecute(r ReviewsAPIListInboxReviewsRequest) (*ListInboxReviews200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListInboxReviews200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReviewsAPIService.ListInboxReviews")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inbox/reviews"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.profileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "profileId", r.profileId, "form", "")
	}
	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	}
	if r.minRating != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "minRating", r.minRating, "form", "")
	}
	if r.maxRating != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxRating", r.maxRating, "form", "")
	}
	if r.replied != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hasReply", r.replied, "form", "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", r.sortBy, "form", "")
	} else {
		var defaultValue string = "date"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", defaultValue, "form", "")
		r.sortBy = &defaultValue
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	} else {
		var defaultValue string = "desc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", defaultValue, "form", "")
		r.sortOrder = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReviewsAPIReplyToInboxReviewRequest struct {
	ctx                       context.Context
	ApiService                *ReviewsAPIService
	reviewId                  string
	replyToInboxReviewRequest *ReplyToInboxReviewRequest
}

func (r ReviewsAPIReplyToInboxReviewRequest) ReplyToInboxReviewRequest(replyToInboxReviewRequest ReplyToInboxReviewRequest) ReviewsAPIReplyToInboxReviewRequest {
	r.replyToInboxReviewRequest = &replyToInboxReviewRequest
	return r
}

func (r ReviewsAPIReplyToInboxReviewRequest) Execute() (*ReplyToInboxReview200Response, *http.Response, error) {
	return r.ApiService.ReplyToInboxReviewExecute(r)
}

/*
ReplyToInboxReview Reply to review

Post a reply to a review. Requires accountId in request body.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param reviewId Review ID (URL-encoded for Google Business)
	@return ReviewsAPIReplyToInboxReviewRequest
*/
func (a *ReviewsAPIService) ReplyToInboxReview(ctx context.Context, reviewId string) ReviewsAPIReplyToInboxReviewRequest {
	return ReviewsAPIReplyToInboxReviewRequest{
		ApiService: a,
		ctx:        ctx,
		reviewId:   reviewId,
	}
}

// Execute executes the request
//
//	@return ReplyToInboxReview200Response
func (a *ReviewsAPIService) ReplyToInboxReviewExecute(r ReviewsAPIReplyToInboxReviewRequest) (*ReplyToInboxReview200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ReplyToInboxReview200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReviewsAPIService.ReplyToInboxReview")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inbox/reviews/{reviewId}/reply"
	localVarPath = strings.Replace(localVarPath, "{"+"reviewId"+"}", url.PathEscape(parameterValueToString(r.reviewId, "reviewId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.replyToInboxReviewRequest == nil {
		return localVarReturnValue, nil, reportError("replyToInboxReviewRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.replyToInboxReviewRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
