/*
Zernio API

API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api

API version: 1.0.4
Contact: support@zernio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zernio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// BroadcastsAPIService BroadcastsAPI service
type BroadcastsAPIService service

type BroadcastsAPIAddBroadcastRecipientsRequest struct {
	ctx                           context.Context
	ApiService                    *BroadcastsAPIService
	broadcastId                   string
	addBroadcastRecipientsRequest *AddBroadcastRecipientsRequest
}

func (r BroadcastsAPIAddBroadcastRecipientsRequest) AddBroadcastRecipientsRequest(addBroadcastRecipientsRequest AddBroadcastRecipientsRequest) BroadcastsAPIAddBroadcastRecipientsRequest {
	r.addBroadcastRecipientsRequest = &addBroadcastRecipientsRequest
	return r
}

func (r BroadcastsAPIAddBroadcastRecipientsRequest) Execute() (*AddBroadcastRecipients200Response, *http.Response, error) {
	return r.ApiService.AddBroadcastRecipientsExecute(r)
}

/*
AddBroadcastRecipients Add recipients to a broadcast

Add recipients by contact IDs, raw phone numbers, or from the broadcast's segment filters.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param broadcastId
	@return BroadcastsAPIAddBroadcastRecipientsRequest
*/
func (a *BroadcastsAPIService) AddBroadcastRecipients(ctx context.Context, broadcastId string) BroadcastsAPIAddBroadcastRecipientsRequest {
	return BroadcastsAPIAddBroadcastRecipientsRequest{
		ApiService:  a,
		ctx:         ctx,
		broadcastId: broadcastId,
	}
}

// Execute executes the request
//
//	@return AddBroadcastRecipients200Response
func (a *BroadcastsAPIService) AddBroadcastRecipientsExecute(r BroadcastsAPIAddBroadcastRecipientsRequest) (*AddBroadcastRecipients200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AddBroadcastRecipients200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BroadcastsAPIService.AddBroadcastRecipients")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/broadcasts/{broadcastId}/recipients"
	localVarPath = strings.Replace(localVarPath, "{"+"broadcastId"+"}", url.PathEscape(parameterValueToString(r.broadcastId, "broadcastId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.addBroadcastRecipientsRequest == nil {
		return localVarReturnValue, nil, reportError("addBroadcastRecipientsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.addBroadcastRecipientsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BroadcastsAPICancelBroadcastRequest struct {
	ctx         context.Context
	ApiService  *BroadcastsAPIService
	broadcastId string
}

func (r BroadcastsAPICancelBroadcastRequest) Execute() (*CancelBroadcast200Response, *http.Response, error) {
	return r.ApiService.CancelBroadcastExecute(r)
}

/*
CancelBroadcast Cancel broadcast

Cancel a scheduled or in-progress broadcast. Already-sent messages are not affected.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param broadcastId
	@return BroadcastsAPICancelBroadcastRequest
*/
func (a *BroadcastsAPIService) CancelBroadcast(ctx context.Context, broadcastId string) BroadcastsAPICancelBroadcastRequest {
	return BroadcastsAPICancelBroadcastRequest{
		ApiService:  a,
		ctx:         ctx,
		broadcastId: broadcastId,
	}
}

// Execute executes the request
//
//	@return CancelBroadcast200Response
func (a *BroadcastsAPIService) CancelBroadcastExecute(r BroadcastsAPICancelBroadcastRequest) (*CancelBroadcast200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CancelBroadcast200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BroadcastsAPIService.CancelBroadcast")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/broadcasts/{broadcastId}/cancel"
	localVarPath = strings.Replace(localVarPath, "{"+"broadcastId"+"}", url.PathEscape(parameterValueToString(r.broadcastId, "broadcastId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BroadcastsAPICreateBroadcastRequest struct {
	ctx                    context.Context
	ApiService             *BroadcastsAPIService
	createBroadcastRequest *CreateBroadcastRequest
}

func (r BroadcastsAPICreateBroadcastRequest) CreateBroadcastRequest(createBroadcastRequest CreateBroadcastRequest) BroadcastsAPICreateBroadcastRequest {
	r.createBroadcastRequest = &createBroadcastRequest
	return r
}

func (r BroadcastsAPICreateBroadcastRequest) Execute() (*CreateBroadcast200Response, *http.Response, error) {
	return r.ApiService.CreateBroadcastExecute(r)
}

/*
CreateBroadcast Create broadcast draft

Create a broadcast in draft status. Add recipients and then send or schedule it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BroadcastsAPICreateBroadcastRequest
*/
func (a *BroadcastsAPIService) CreateBroadcast(ctx context.Context) BroadcastsAPICreateBroadcastRequest {
	return BroadcastsAPICreateBroadcastRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CreateBroadcast200Response
func (a *BroadcastsAPIService) CreateBroadcastExecute(r BroadcastsAPICreateBroadcastRequest) (*CreateBroadcast200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreateBroadcast200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BroadcastsAPIService.CreateBroadcast")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/broadcasts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createBroadcastRequest == nil {
		return localVarReturnValue, nil, reportError("createBroadcastRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createBroadcastRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BroadcastsAPIDeleteBroadcastRequest struct {
	ctx         context.Context
	ApiService  *BroadcastsAPIService
	broadcastId string
}

func (r BroadcastsAPIDeleteBroadcastRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteBroadcastExecute(r)
}

/*
DeleteBroadcast Delete broadcast

Permanently delete a broadcast. Only drafts can be deleted.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param broadcastId
	@return BroadcastsAPIDeleteBroadcastRequest
*/
func (a *BroadcastsAPIService) DeleteBroadcast(ctx context.Context, broadcastId string) BroadcastsAPIDeleteBroadcastRequest {
	return BroadcastsAPIDeleteBroadcastRequest{
		ApiService:  a,
		ctx:         ctx,
		broadcastId: broadcastId,
	}
}

// Execute executes the request
func (a *BroadcastsAPIService) DeleteBroadcastExecute(r BroadcastsAPIDeleteBroadcastRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BroadcastsAPIService.DeleteBroadcast")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/broadcasts/{broadcastId}"
	localVarPath = strings.Replace(localVarPath, "{"+"broadcastId"+"}", url.PathEscape(parameterValueToString(r.broadcastId, "broadcastId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BroadcastsAPIGetBroadcastRequest struct {
	ctx         context.Context
	ApiService  *BroadcastsAPIService
	broadcastId string
}

func (r BroadcastsAPIGetBroadcastRequest) Execute() (*GetBroadcast200Response, *http.Response, error) {
	return r.ApiService.GetBroadcastExecute(r)
}

/*
GetBroadcast Get broadcast details

Returns a broadcast with its full configuration and delivery stats.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param broadcastId
	@return BroadcastsAPIGetBroadcastRequest
*/
func (a *BroadcastsAPIService) GetBroadcast(ctx context.Context, broadcastId string) BroadcastsAPIGetBroadcastRequest {
	return BroadcastsAPIGetBroadcastRequest{
		ApiService:  a,
		ctx:         ctx,
		broadcastId: broadcastId,
	}
}

// Execute executes the request
//
//	@return GetBroadcast200Response
func (a *BroadcastsAPIService) GetBroadcastExecute(r BroadcastsAPIGetBroadcastRequest) (*GetBroadcast200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetBroadcast200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BroadcastsAPIService.GetBroadcast")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/broadcasts/{broadcastId}"
	localVarPath = strings.Replace(localVarPath, "{"+"broadcastId"+"}", url.PathEscape(parameterValueToString(r.broadcastId, "broadcastId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BroadcastsAPIListBroadcastRecipientsRequest struct {
	ctx         context.Context
	ApiService  *BroadcastsAPIService
	broadcastId string
	status      *string
	limit       *int32
	skip        *int32
}

func (r BroadcastsAPIListBroadcastRecipientsRequest) Status(status string) BroadcastsAPIListBroadcastRecipientsRequest {
	r.status = &status
	return r
}

func (r BroadcastsAPIListBroadcastRecipientsRequest) Limit(limit int32) BroadcastsAPIListBroadcastRecipientsRequest {
	r.limit = &limit
	return r
}

func (r BroadcastsAPIListBroadcastRecipientsRequest) Skip(skip int32) BroadcastsAPIListBroadcastRecipientsRequest {
	r.skip = &skip
	return r
}

func (r BroadcastsAPIListBroadcastRecipientsRequest) Execute() (*ListBroadcastRecipients200Response, *http.Response, error) {
	return r.ApiService.ListBroadcastRecipientsExecute(r)
}

/*
ListBroadcastRecipients List broadcast recipients

Returns recipients for a broadcast with individual delivery status. Filter by status.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param broadcastId
	@return BroadcastsAPIListBroadcastRecipientsRequest
*/
func (a *BroadcastsAPIService) ListBroadcastRecipients(ctx context.Context, broadcastId string) BroadcastsAPIListBroadcastRecipientsRequest {
	return BroadcastsAPIListBroadcastRecipientsRequest{
		ApiService:  a,
		ctx:         ctx,
		broadcastId: broadcastId,
	}
}

// Execute executes the request
//
//	@return ListBroadcastRecipients200Response
func (a *BroadcastsAPIService) ListBroadcastRecipientsExecute(r BroadcastsAPIListBroadcastRecipientsRequest) (*ListBroadcastRecipients200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListBroadcastRecipients200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BroadcastsAPIService.ListBroadcastRecipients")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/broadcasts/{broadcastId}/recipients"
	localVarPath = strings.Replace(localVarPath, "{"+"broadcastId"+"}", url.PathEscape(parameterValueToString(r.broadcastId, "broadcastId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", defaultValue, "form", "")
		r.skip = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BroadcastsAPIListBroadcastsRequest struct {
	ctx        context.Context
	ApiService *BroadcastsAPIService
	profileId  *string
	status     *string
	platform   *string
	limit      *int32
	skip       *int32
}

// Filter by profile. Omit to list across all profiles
func (r BroadcastsAPIListBroadcastsRequest) ProfileId(profileId string) BroadcastsAPIListBroadcastsRequest {
	r.profileId = &profileId
	return r
}

func (r BroadcastsAPIListBroadcastsRequest) Status(status string) BroadcastsAPIListBroadcastsRequest {
	r.status = &status
	return r
}

func (r BroadcastsAPIListBroadcastsRequest) Platform(platform string) BroadcastsAPIListBroadcastsRequest {
	r.platform = &platform
	return r
}

func (r BroadcastsAPIListBroadcastsRequest) Limit(limit int32) BroadcastsAPIListBroadcastsRequest {
	r.limit = &limit
	return r
}

func (r BroadcastsAPIListBroadcastsRequest) Skip(skip int32) BroadcastsAPIListBroadcastsRequest {
	r.skip = &skip
	return r
}

func (r BroadcastsAPIListBroadcastsRequest) Execute() (*ListBroadcasts200Response, *http.Response, error) {
	return r.ApiService.ListBroadcastsExecute(r)
}

/*
ListBroadcasts List broadcasts

Returns broadcasts with delivery stats. Filter by status, platform, or profile.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BroadcastsAPIListBroadcastsRequest
*/
func (a *BroadcastsAPIService) ListBroadcasts(ctx context.Context) BroadcastsAPIListBroadcastsRequest {
	return BroadcastsAPIListBroadcastsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListBroadcasts200Response
func (a *BroadcastsAPIService) ListBroadcastsExecute(r BroadcastsAPIListBroadcastsRequest) (*ListBroadcasts200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListBroadcasts200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BroadcastsAPIService.ListBroadcasts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/broadcasts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.profileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "profileId", r.profileId, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", defaultValue, "form", "")
		r.skip = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BroadcastsAPIScheduleBroadcastRequest struct {
	ctx                      context.Context
	ApiService               *BroadcastsAPIService
	broadcastId              string
	scheduleBroadcastRequest *ScheduleBroadcastRequest
}

func (r BroadcastsAPIScheduleBroadcastRequest) ScheduleBroadcastRequest(scheduleBroadcastRequest ScheduleBroadcastRequest) BroadcastsAPIScheduleBroadcastRequest {
	r.scheduleBroadcastRequest = &scheduleBroadcastRequest
	return r
}

func (r BroadcastsAPIScheduleBroadcastRequest) Execute() (*ScheduleBroadcast200Response, *http.Response, error) {
	return r.ApiService.ScheduleBroadcastExecute(r)
}

/*
ScheduleBroadcast Schedule broadcast for later

Schedule a draft broadcast to be sent at a future date and time.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param broadcastId
	@return BroadcastsAPIScheduleBroadcastRequest
*/
func (a *BroadcastsAPIService) ScheduleBroadcast(ctx context.Context, broadcastId string) BroadcastsAPIScheduleBroadcastRequest {
	return BroadcastsAPIScheduleBroadcastRequest{
		ApiService:  a,
		ctx:         ctx,
		broadcastId: broadcastId,
	}
}

// Execute executes the request
//
//	@return ScheduleBroadcast200Response
func (a *BroadcastsAPIService) ScheduleBroadcastExecute(r BroadcastsAPIScheduleBroadcastRequest) (*ScheduleBroadcast200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ScheduleBroadcast200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BroadcastsAPIService.ScheduleBroadcast")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/broadcasts/{broadcastId}/schedule"
	localVarPath = strings.Replace(localVarPath, "{"+"broadcastId"+"}", url.PathEscape(parameterValueToString(r.broadcastId, "broadcastId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.scheduleBroadcastRequest == nil {
		return localVarReturnValue, nil, reportError("scheduleBroadcastRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.scheduleBroadcastRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BroadcastsAPISendBroadcastRequest struct {
	ctx         context.Context
	ApiService  *BroadcastsAPIService
	broadcastId string
}

func (r BroadcastsAPISendBroadcastRequest) Execute() (*SendBroadcast200Response, *http.Response, error) {
	return r.ApiService.SendBroadcastExecute(r)
}

/*
SendBroadcast Send broadcast now

Immediately start sending a draft broadcast to its recipients.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param broadcastId
	@return BroadcastsAPISendBroadcastRequest
*/
func (a *BroadcastsAPIService) SendBroadcast(ctx context.Context, broadcastId string) BroadcastsAPISendBroadcastRequest {
	return BroadcastsAPISendBroadcastRequest{
		ApiService:  a,
		ctx:         ctx,
		broadcastId: broadcastId,
	}
}

// Execute executes the request
//
//	@return SendBroadcast200Response
func (a *BroadcastsAPIService) SendBroadcastExecute(r BroadcastsAPISendBroadcastRequest) (*SendBroadcast200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SendBroadcast200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BroadcastsAPIService.SendBroadcast")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/broadcasts/{broadcastId}/send"
	localVarPath = strings.Replace(localVarPath, "{"+"broadcastId"+"}", url.PathEscape(parameterValueToString(r.broadcastId, "broadcastId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BroadcastsAPIUpdateBroadcastRequest struct {
	ctx                    context.Context
	ApiService             *BroadcastsAPIService
	broadcastId            string
	updateBroadcastRequest *UpdateBroadcastRequest
}

func (r BroadcastsAPIUpdateBroadcastRequest) UpdateBroadcastRequest(updateBroadcastRequest UpdateBroadcastRequest) BroadcastsAPIUpdateBroadcastRequest {
	r.updateBroadcastRequest = &updateBroadcastRequest
	return r
}

func (r BroadcastsAPIUpdateBroadcastRequest) Execute() (*UpdateBroadcast200Response, *http.Response, error) {
	return r.ApiService.UpdateBroadcastExecute(r)
}

/*
UpdateBroadcast Update broadcast

Update a broadcast's name, message, template, or segment filters. Only draft broadcasts can be updated.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param broadcastId
	@return BroadcastsAPIUpdateBroadcastRequest
*/
func (a *BroadcastsAPIService) UpdateBroadcast(ctx context.Context, broadcastId string) BroadcastsAPIUpdateBroadcastRequest {
	return BroadcastsAPIUpdateBroadcastRequest{
		ApiService:  a,
		ctx:         ctx,
		broadcastId: broadcastId,
	}
}

// Execute executes the request
//
//	@return UpdateBroadcast200Response
func (a *BroadcastsAPIService) UpdateBroadcastExecute(r BroadcastsAPIUpdateBroadcastRequest) (*UpdateBroadcast200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UpdateBroadcast200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BroadcastsAPIService.UpdateBroadcast")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/broadcasts/{broadcastId}"
	localVarPath = strings.Replace(localVarPath, "{"+"broadcastId"+"}", url.PathEscape(parameterValueToString(r.broadcastId, "broadcastId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateBroadcastRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
