/*
Zernio API

API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api  Versioning and deprecation: all endpoints are versioned in the URL path (current version: /v1). Breaking changes only ship in a new path version; existing versions keep working. Deprecated operations are marked 'deprecated: true' in this spec and announced in the changelog (https://zernio.com/changelog) before removal.  Errors: every 4xx/5xx response is application/json with a machine-readable 'code' and a human-readable 'error' message (see the ErrorResponse schema).

API version: 1.0.4
Contact: support@zernio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zernio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)

// TwitterEngagementAPIService TwitterEngagementAPI service
type TwitterEngagementAPIService service

type TwitterEngagementAPIBookmarkPostRequest struct {
	ctx                context.Context
	ApiService         *TwitterEngagementAPIService
	retweetPostRequest *RetweetPostRequest
}

func (r TwitterEngagementAPIBookmarkPostRequest) RetweetPostRequest(retweetPostRequest RetweetPostRequest) TwitterEngagementAPIBookmarkPostRequest {
	r.retweetPostRequest = &retweetPostRequest
	return r
}

func (r TwitterEngagementAPIBookmarkPostRequest) Execute() (*BookmarkPost200Response, *http.Response, error) {
	return r.ApiService.BookmarkPostExecute(r)
}

/*
BookmarkPost Bookmark a tweet

Bookmark a tweet by ID.
Requires the bookmark.write OAuth scope.
Rate limit: 50 requests per 15-min window.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TwitterEngagementAPIBookmarkPostRequest
*/
func (a *TwitterEngagementAPIService) BookmarkPost(ctx context.Context) TwitterEngagementAPIBookmarkPostRequest {
	return TwitterEngagementAPIBookmarkPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BookmarkPost200Response
func (a *TwitterEngagementAPIService) BookmarkPostExecute(r TwitterEngagementAPIBookmarkPostRequest) (*BookmarkPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BookmarkPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TwitterEngagementAPIService.BookmarkPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/twitter/bookmark"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.retweetPostRequest == nil {
		return localVarReturnValue, nil, reportError("retweetPostRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.retweetPostRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TwitterEngagementAPIFollowUserRequest struct {
	ctx               context.Context
	ApiService        *TwitterEngagementAPIService
	followUserRequest *FollowUserRequest
}

func (r TwitterEngagementAPIFollowUserRequest) FollowUserRequest(followUserRequest FollowUserRequest) TwitterEngagementAPIFollowUserRequest {
	r.followUserRequest = &followUserRequest
	return r
}

func (r TwitterEngagementAPIFollowUserRequest) Execute() (*FollowUser200Response, *http.Response, error) {
	return r.ApiService.FollowUserExecute(r)
}

/*
FollowUser Follow a user

Follow a user on X.
Requires the follows.write OAuth scope.
For protected accounts, a follow request is sent instead (pending_follow will be true).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TwitterEngagementAPIFollowUserRequest
*/
func (a *TwitterEngagementAPIService) FollowUser(ctx context.Context) TwitterEngagementAPIFollowUserRequest {
	return TwitterEngagementAPIFollowUserRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FollowUser200Response
func (a *TwitterEngagementAPIService) FollowUserExecute(r TwitterEngagementAPIFollowUserRequest) (*FollowUser200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FollowUser200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TwitterEngagementAPIService.FollowUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/twitter/follow"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.followUserRequest == nil {
		return localVarReturnValue, nil, reportError("followUserRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.followUserRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TwitterEngagementAPIGetTweetRequest struct {
	ctx        context.Context
	ApiService *TwitterEngagementAPIService
	accountId  *string
	id         *string
}

// The account ID whose X token is used for the lookup
func (r TwitterEngagementAPIGetTweetRequest) AccountId(accountId string) TwitterEngagementAPIGetTweetRequest {
	r.accountId = &accountId
	return r
}

// Numeric tweet ID or a tweet URL (e.g. https://x.com/user/status/123...)
func (r TwitterEngagementAPIGetTweetRequest) Id(id string) TwitterEngagementAPIGetTweetRequest {
	r.id = &id
	return r
}

func (r TwitterEngagementAPIGetTweetRequest) Execute() (*GetTweet200Response, *http.Response, error) {
	return r.ApiService.GetTweetExecute(r)
}

/*
GetTweet Look up a tweet

Resolve a single tweet by ID or URL into its text, author and public metrics.

Use this to render a post you are referencing, e.g. the tweet quoted by a quote-style post.
Unlike `/v1/twitter/search` this is not limited to the last 7 days and works for any tweet
visible to the connected account.

Billed as an X posts read ($0.005). Repeat lookups of the same tweet within the same UTC day
are charged once.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TwitterEngagementAPIGetTweetRequest
*/
func (a *TwitterEngagementAPIService) GetTweet(ctx context.Context) TwitterEngagementAPIGetTweetRequest {
	return TwitterEngagementAPIGetTweetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GetTweet200Response
func (a *TwitterEngagementAPIService) GetTweetExecute(r TwitterEngagementAPIGetTweetRequest) (*GetTweet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetTweet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TwitterEngagementAPIService.GetTweet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/twitter/tweet"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TwitterEngagementAPIRemoveBookmarkRequest struct {
	ctx        context.Context
	ApiService *TwitterEngagementAPIService
	accountId  *string
	tweetId    *string
}

func (r TwitterEngagementAPIRemoveBookmarkRequest) AccountId(accountId string) TwitterEngagementAPIRemoveBookmarkRequest {
	r.accountId = &accountId
	return r
}

// The ID of the tweet to unbookmark
func (r TwitterEngagementAPIRemoveBookmarkRequest) TweetId(tweetId string) TwitterEngagementAPIRemoveBookmarkRequest {
	r.tweetId = &tweetId
	return r
}

func (r TwitterEngagementAPIRemoveBookmarkRequest) Execute() (*BookmarkPost200Response, *http.Response, error) {
	return r.ApiService.RemoveBookmarkExecute(r)
}

/*
RemoveBookmark Remove bookmark

Remove a bookmark from a tweet.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TwitterEngagementAPIRemoveBookmarkRequest
*/
func (a *TwitterEngagementAPIService) RemoveBookmark(ctx context.Context) TwitterEngagementAPIRemoveBookmarkRequest {
	return TwitterEngagementAPIRemoveBookmarkRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BookmarkPost200Response
func (a *TwitterEngagementAPIService) RemoveBookmarkExecute(r TwitterEngagementAPIRemoveBookmarkRequest) (*BookmarkPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BookmarkPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TwitterEngagementAPIService.RemoveBookmark")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/twitter/bookmark"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.tweetId == nil {
		return localVarReturnValue, nil, reportError("tweetId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "tweetId", r.tweetId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TwitterEngagementAPIRetweetPostRequest struct {
	ctx                context.Context
	ApiService         *TwitterEngagementAPIService
	retweetPostRequest *RetweetPostRequest
}

func (r TwitterEngagementAPIRetweetPostRequest) RetweetPostRequest(retweetPostRequest RetweetPostRequest) TwitterEngagementAPIRetweetPostRequest {
	r.retweetPostRequest = &retweetPostRequest
	return r
}

func (r TwitterEngagementAPIRetweetPostRequest) Execute() (*RetweetPost200Response, *http.Response, error) {
	return r.ApiService.RetweetPostExecute(r)
}

/*
RetweetPost Retweet a post

Retweet (repost) a tweet by ID.
Rate limit: 50 requests per 15-min window. Shares the 300/3hr creation limit with tweet creation.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TwitterEngagementAPIRetweetPostRequest
*/
func (a *TwitterEngagementAPIService) RetweetPost(ctx context.Context) TwitterEngagementAPIRetweetPostRequest {
	return TwitterEngagementAPIRetweetPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RetweetPost200Response
func (a *TwitterEngagementAPIService) RetweetPostExecute(r TwitterEngagementAPIRetweetPostRequest) (*RetweetPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RetweetPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TwitterEngagementAPIService.RetweetPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/twitter/retweet"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.retweetPostRequest == nil {
		return localVarReturnValue, nil, reportError("retweetPostRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.retweetPostRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TwitterEngagementAPISearchTweetsRequest struct {
	ctx        context.Context
	ApiService *TwitterEngagementAPIService
	accountId  *string
	query      *string
	limit      *int32
	sinceId    *string
	untilId    *string
	startTime  *time.Time
	endTime    *time.Time
	cursor     *string
	sortOrder  *string
}

// The account ID
func (r TwitterEngagementAPISearchTweetsRequest) AccountId(accountId string) TwitterEngagementAPISearchTweetsRequest {
	r.accountId = &accountId
	return r
}

// X search query, max 512 characters. Operators are passed through unchanged; X rejects malformed queries with a 400.
func (r TwitterEngagementAPISearchTweetsRequest) Query(query string) TwitterEngagementAPISearchTweetsRequest {
	r.query = &query
	return r
}

// Results per page. X requires a minimum of 10; values below 10 are rejected.
func (r TwitterEngagementAPISearchTweetsRequest) Limit(limit int32) TwitterEngagementAPISearchTweetsRequest {
	r.limit = &limit
	return r
}

// Only return tweets with an ID greater than (more recent than) this numeric tweet ID. Non-numeric values are rejected with 400.
func (r TwitterEngagementAPISearchTweetsRequest) SinceId(sinceId string) TwitterEngagementAPISearchTweetsRequest {
	r.sinceId = &sinceId
	return r
}

// Only return tweets with an ID less than (older than) this numeric tweet ID. Non-numeric values are rejected with 400.
func (r TwitterEngagementAPISearchTweetsRequest) UntilId(untilId string) TwitterEngagementAPISearchTweetsRequest {
	r.untilId = &untilId
	return r
}

// Oldest UTC timestamp (ISO 8601, inclusive), within the last 7 days
func (r TwitterEngagementAPISearchTweetsRequest) StartTime(startTime time.Time) TwitterEngagementAPISearchTweetsRequest {
	r.startTime = &startTime
	return r
}

// Newest UTC timestamp (ISO 8601, exclusive), within the last 7 days
func (r TwitterEngagementAPISearchTweetsRequest) EndTime(endTime time.Time) TwitterEngagementAPISearchTweetsRequest {
	r.endTime = &endTime
	return r
}

// Pagination cursor from a previous response
func (r TwitterEngagementAPISearchTweetsRequest) Cursor(cursor string) TwitterEngagementAPISearchTweetsRequest {
	r.cursor = &cursor
	return r
}

func (r TwitterEngagementAPISearchTweetsRequest) SortOrder(sortOrder string) TwitterEngagementAPISearchTweetsRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r TwitterEngagementAPISearchTweetsRequest) Execute() (*SearchTweets200Response, *http.Response, error) {
	return r.ApiService.SearchTweetsExecute(r)
}

/*
SearchTweets Search recent tweets

Search public tweets from the last 7 days matching an X search query, e.g. to discover tweets to reply to.
The query string is passed through to X unchanged and supports X's search operators
(`from:user`, `-is:retweet`, `is:reply`, `lang:en`, `"exact phrase"`, `conversation_id:123`, boolean `OR`, ...).
Standalone operators like `is:` / `has:` / `lang:` must be combined with a keyword or `from:` clause.

To reply to a found tweet, pass its `id` as the twitter platform entry's `platformSpecificData.replyToTweetId` when creating a post.

Rate limit: 300 requests per 15-min window per connected account.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TwitterEngagementAPISearchTweetsRequest
*/
func (a *TwitterEngagementAPIService) SearchTweets(ctx context.Context) TwitterEngagementAPISearchTweetsRequest {
	return TwitterEngagementAPISearchTweetsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SearchTweets200Response
func (a *TwitterEngagementAPIService) SearchTweetsExecute(r TwitterEngagementAPISearchTweetsRequest) (*SearchTweets200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchTweets200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TwitterEngagementAPIService.SearchTweets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/twitter/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}
	if strlen(*r.query) < 1 {
		return localVarReturnValue, nil, reportError("query must have at least 1 elements")
	}
	if strlen(*r.query) > 512 {
		return localVarReturnValue, nil, reportError("query must have less than 512 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.sinceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sinceId", r.sinceId, "form", "")
	}
	if r.untilId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "untilId", r.untilId, "form", "")
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTime", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endTime", r.endTime, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	} else {
		var defaultValue string = "recency"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", defaultValue, "form", "")
		r.sortOrder = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TwitterEngagementAPIUndoRetweetRequest struct {
	ctx        context.Context
	ApiService *TwitterEngagementAPIService
	accountId  *string
	tweetId    *string
}

func (r TwitterEngagementAPIUndoRetweetRequest) AccountId(accountId string) TwitterEngagementAPIUndoRetweetRequest {
	r.accountId = &accountId
	return r
}

// The ID of the original tweet to un-retweet
func (r TwitterEngagementAPIUndoRetweetRequest) TweetId(tweetId string) TwitterEngagementAPIUndoRetweetRequest {
	r.tweetId = &tweetId
	return r
}

func (r TwitterEngagementAPIUndoRetweetRequest) Execute() (*RetweetPost200Response, *http.Response, error) {
	return r.ApiService.UndoRetweetExecute(r)
}

/*
UndoRetweet Undo retweet

Undo a retweet (un-repost a tweet).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TwitterEngagementAPIUndoRetweetRequest
*/
func (a *TwitterEngagementAPIService) UndoRetweet(ctx context.Context) TwitterEngagementAPIUndoRetweetRequest {
	return TwitterEngagementAPIUndoRetweetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RetweetPost200Response
func (a *TwitterEngagementAPIService) UndoRetweetExecute(r TwitterEngagementAPIUndoRetweetRequest) (*RetweetPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RetweetPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TwitterEngagementAPIService.UndoRetweet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/twitter/retweet"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.tweetId == nil {
		return localVarReturnValue, nil, reportError("tweetId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "tweetId", r.tweetId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TwitterEngagementAPIUnfollowUserRequest struct {
	ctx          context.Context
	ApiService   *TwitterEngagementAPIService
	accountId    *string
	targetUserId *string
}

func (r TwitterEngagementAPIUnfollowUserRequest) AccountId(accountId string) TwitterEngagementAPIUnfollowUserRequest {
	r.accountId = &accountId
	return r
}

// The X ID of the user to unfollow
func (r TwitterEngagementAPIUnfollowUserRequest) TargetUserId(targetUserId string) TwitterEngagementAPIUnfollowUserRequest {
	r.targetUserId = &targetUserId
	return r
}

func (r TwitterEngagementAPIUnfollowUserRequest) Execute() (*UnfollowUser200Response, *http.Response, error) {
	return r.ApiService.UnfollowUserExecute(r)
}

/*
UnfollowUser Unfollow a user

Unfollow a user on X.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TwitterEngagementAPIUnfollowUserRequest
*/
func (a *TwitterEngagementAPIService) UnfollowUser(ctx context.Context) TwitterEngagementAPIUnfollowUserRequest {
	return TwitterEngagementAPIUnfollowUserRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UnfollowUser200Response
func (a *TwitterEngagementAPIService) UnfollowUserExecute(r TwitterEngagementAPIUnfollowUserRequest) (*UnfollowUser200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UnfollowUser200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TwitterEngagementAPIService.UnfollowUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/twitter/follow"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.targetUserId == nil {
		return localVarReturnValue, nil, reportError("targetUserId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "targetUserId", r.targetUserId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
