/*
Zernio API

API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api

API version: 1.0.4
Contact: support@zernio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zernio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// TrackingTagsAPIService TrackingTagsAPI service
type TrackingTagsAPIService service

type TrackingTagsAPIAddTrackingTagSharedAccountRequest struct {
	ctx                                context.Context
	ApiService                         *TrackingTagsAPIService
	accountId                          string
	tagId                              string
	addTrackingTagSharedAccountRequest *AddTrackingTagSharedAccountRequest
}

func (r TrackingTagsAPIAddTrackingTagSharedAccountRequest) AddTrackingTagSharedAccountRequest(addTrackingTagSharedAccountRequest AddTrackingTagSharedAccountRequest) TrackingTagsAPIAddTrackingTagSharedAccountRequest {
	r.addTrackingTagSharedAccountRequest = &addTrackingTagSharedAccountRequest
	return r
}

func (r TrackingTagsAPIAddTrackingTagSharedAccountRequest) Execute() (*AddTrackingTagSharedAccount201Response, *http.Response, error) {
	return r.ApiService.AddTrackingTagSharedAccountExecute(r)
}

/*
AddTrackingTagSharedAccount Share with an ad account

Shares the pixel with another ad account so campaigns/audiences in that
account can use it. Requires that you administer both the pixel's owning
Business Manager and the target ad account; a pixel on a personal
(non-BM) ad account can't be shared (Meta will reject the call). Meta
only (platform `metaads`); other platforms return 405.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@param tagId Pixel id.
	@return TrackingTagsAPIAddTrackingTagSharedAccountRequest
*/
func (a *TrackingTagsAPIService) AddTrackingTagSharedAccount(ctx context.Context, accountId string, tagId string) TrackingTagsAPIAddTrackingTagSharedAccountRequest {
	return TrackingTagsAPIAddTrackingTagSharedAccountRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		tagId:      tagId,
	}
}

// Execute executes the request
//
//	@return AddTrackingTagSharedAccount201Response
func (a *TrackingTagsAPIService) AddTrackingTagSharedAccountExecute(r TrackingTagsAPIAddTrackingTagSharedAccountRequest) (*AddTrackingTagSharedAccount201Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AddTrackingTagSharedAccount201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.AddTrackingTagSharedAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags/{tagId}/shared-accounts"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tagId"+"}", url.PathEscape(parameterValueToString(r.tagId, "tagId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.addTrackingTagSharedAccountRequest == nil {
		return localVarReturnValue, nil, reportError("addTrackingTagSharedAccountRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.addTrackingTagSharedAccountRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPICreateTrackingTagRequest struct {
	ctx                      context.Context
	ApiService               *TrackingTagsAPIService
	accountId                string
	createTrackingTagRequest *CreateTrackingTagRequest
}

func (r TrackingTagsAPICreateTrackingTagRequest) CreateTrackingTagRequest(createTrackingTagRequest CreateTrackingTagRequest) TrackingTagsAPICreateTrackingTagRequest {
	r.createTrackingTagRequest = &createTrackingTagRequest
	return r
}

func (r TrackingTagsAPICreateTrackingTagRequest) Execute() (*CreateTrackingTag201Response, *http.Response, error) {
	return r.ApiService.CreateTrackingTagExecute(r)
}

/*
CreateTrackingTag Create a tracking tag

Meta: creates a Meta Pixel on the given ad account (`POST /act_{id}/adspixels`
— `name` is the only input). Returns the created tag including its
install `code`. The pixel is owned by the Business Manager that owns the
ad account; a pixel created on a personal (non-BM) ad account ends up
with `ownerBusinessId: null` and can't be shared with other ad accounts.

Creating a Meta pixel does NOT install it — install the returned `code`
snippet on the site, or send events server-side via
`POST /v1/ads/conversions`. The check `installed` is derived from
`lastFiredTime`.

OpenAI Ads: creates an OpenAI pixel AND provisions a Conversions API
key for it in the same call (`adAccountId` is required by this
endpoint but ignored — one API key maps to exactly one ad account, so
there's nothing to select). Returns 422 (`FEATURE_NOT_AVAILABLE`) if
the ad account isn't enabled for pixel management; contact your OpenAI
partner representative to enable it. There is no delete API for
OpenAI pixels. If the pixel is created but the Conversions API key
provisioning then fails, the pixel is left live on OpenAI (it cannot
be cleaned up) and the error message names the surviving pixel id and
warns against retrying, since a retry would create a second, orphaned
pixel.

NOT idempotent on either platform: each call creates a new pixel (and,
for OpenAI, a new Conversions API key). Do not retry blindly on
timeout. Meta (platform `metaads`) and OpenAI Ads (platform
`openaiads`); other platforms return 405.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId Ads SocialAccount id (platform `metaads` or `openaiads`).
	@return TrackingTagsAPICreateTrackingTagRequest
*/
func (a *TrackingTagsAPIService) CreateTrackingTag(ctx context.Context, accountId string) TrackingTagsAPICreateTrackingTagRequest {
	return TrackingTagsAPICreateTrackingTagRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
	}
}

// Execute executes the request
//
//	@return CreateTrackingTag201Response
func (a *TrackingTagsAPIService) CreateTrackingTagExecute(r TrackingTagsAPICreateTrackingTagRequest) (*CreateTrackingTag201Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreateTrackingTag201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.CreateTrackingTag")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createTrackingTagRequest == nil {
		return localVarReturnValue, nil, reportError("createTrackingTagRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createTrackingTagRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPIGetAdTrackingTagsRequest struct {
	ctx        context.Context
	ApiService *TrackingTagsAPIService
	adId       string
}

func (r TrackingTagsAPIGetAdTrackingTagsRequest) Execute() (*GetAdTrackingTags200Response, *http.Response, error) {
	return r.ApiService.GetAdTrackingTagsExecute(r)
}

/*
GetAdTrackingTags Get ad tracking tags

Unified read of the platform's native click-URL tracking params.
  - Meta (facebook/instagram): the creative's `url_tags` (and template_url_spec).
  - Google (googleads): the campaign's `trackingUrlTemplate` + `finalUrlSuffix`.
    Subject to the Google Ads API access-tier daily quota; bulk audits need Standard access.
  - LinkedIn (linkedinads): the campaign's Dynamic UTM `dynamicValueParameters` + `customValueParameters`.

Returns 405 for platforms without a click-URL tracking surface (TikTok, X, Pinterest).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param adId Ad id (hex _id, platformAdId, or effective story/media id).
	@return TrackingTagsAPIGetAdTrackingTagsRequest
*/
func (a *TrackingTagsAPIService) GetAdTrackingTags(ctx context.Context, adId string) TrackingTagsAPIGetAdTrackingTagsRequest {
	return TrackingTagsAPIGetAdTrackingTagsRequest{
		ApiService: a,
		ctx:        ctx,
		adId:       adId,
	}
}

// Execute executes the request
//
//	@return GetAdTrackingTags200Response
func (a *TrackingTagsAPIService) GetAdTrackingTagsExecute(r TrackingTagsAPIGetAdTrackingTagsRequest) (*GetAdTrackingTags200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetAdTrackingTags200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.GetAdTrackingTags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ads/{adId}/tracking-tags"
	localVarPath = strings.Replace(localVarPath, "{"+"adId"+"}", url.PathEscape(parameterValueToString(r.adId, "adId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPIGetTrackingTagRequest struct {
	ctx        context.Context
	ApiService *TrackingTagsAPIService
	accountId  string
	tagId      string
}

func (r TrackingTagsAPIGetTrackingTagRequest) Execute() (*GetTrackingTag200Response, *http.Response, error) {
	return r.ApiService.GetTrackingTagExecute(r)
}

/*
GetTrackingTag Get a tracking tag

Returns the full tag record including the base-code `code` snippet,
`lastFiredTime`, `ownerBusinessId`, `isUnavailable`, etc. Meta only
(platform `metaads`); other platforms return 405. OpenAI Ads has no
get-by-id endpoint, so it 405s here too — use
`GET /v1/accounts/{accountId}/tracking-tags` (list) instead.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@param tagId Pixel id.
	@return TrackingTagsAPIGetTrackingTagRequest
*/
func (a *TrackingTagsAPIService) GetTrackingTag(ctx context.Context, accountId string, tagId string) TrackingTagsAPIGetTrackingTagRequest {
	return TrackingTagsAPIGetTrackingTagRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		tagId:      tagId,
	}
}

// Execute executes the request
//
//	@return GetTrackingTag200Response
func (a *TrackingTagsAPIService) GetTrackingTagExecute(r TrackingTagsAPIGetTrackingTagRequest) (*GetTrackingTag200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetTrackingTag200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.GetTrackingTag")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags/{tagId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tagId"+"}", url.PathEscape(parameterValueToString(r.tagId, "tagId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPIGetTrackingTagStatsRequest struct {
	ctx         context.Context
	ApiService  *TrackingTagsAPIService
	accountId   string
	tagId       string
	aggregation *string
	startTime   *int32
	endTime     *int32
}

// Aggregation dimension. Defaults to &#x60;event&#x60;.
func (r TrackingTagsAPIGetTrackingTagStatsRequest) Aggregation(aggregation string) TrackingTagsAPIGetTrackingTagStatsRequest {
	r.aggregation = &aggregation
	return r
}

// Unix seconds lower bound.
func (r TrackingTagsAPIGetTrackingTagStatsRequest) StartTime(startTime int32) TrackingTagsAPIGetTrackingTagStatsRequest {
	r.startTime = &startTime
	return r
}

// Unix seconds upper bound.
func (r TrackingTagsAPIGetTrackingTagStatsRequest) EndTime(endTime int32) TrackingTagsAPIGetTrackingTagStatsRequest {
	r.endTime = &endTime
	return r
}

func (r TrackingTagsAPIGetTrackingTagStatsRequest) Execute() (*GetTrackingTagStats200Response, *http.Response, error) {
	return r.ApiService.GetTrackingTagStatsExecute(r)
}

/*
GetTrackingTagStats Get aggregated event stats

Returns aggregated event counts for the pixel (`GET /{pixel_id}/stats`).
Rows are passed through from Meta as-is — their shape depends on the
`aggregation` requested. Meta only (platform `metaads`); other platforms
return 405.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@param tagId Pixel id.
	@return TrackingTagsAPIGetTrackingTagStatsRequest
*/
func (a *TrackingTagsAPIService) GetTrackingTagStats(ctx context.Context, accountId string, tagId string) TrackingTagsAPIGetTrackingTagStatsRequest {
	return TrackingTagsAPIGetTrackingTagStatsRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		tagId:      tagId,
	}
}

// Execute executes the request
//
//	@return GetTrackingTagStats200Response
func (a *TrackingTagsAPIService) GetTrackingTagStatsExecute(r TrackingTagsAPIGetTrackingTagStatsRequest) (*GetTrackingTagStats200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetTrackingTagStats200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.GetTrackingTagStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags/{tagId}/stats"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tagId"+"}", url.PathEscape(parameterValueToString(r.tagId, "tagId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.aggregation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "aggregation", r.aggregation, "form", "")
	} else {
		var defaultValue string = "event"
		parameterAddToHeaderOrQuery(localVarQueryParams, "aggregation", defaultValue, "form", "")
		r.aggregation = &defaultValue
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTime", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endTime", r.endTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPIListTrackingTagSharedAccountsRequest struct {
	ctx        context.Context
	ApiService *TrackingTagsAPIService
	accountId  string
	tagId      string
}

func (r TrackingTagsAPIListTrackingTagSharedAccountsRequest) Execute() (*ListTrackingTagSharedAccounts200Response, *http.Response, error) {
	return r.ApiService.ListTrackingTagSharedAccountsExecute(r)
}

/*
ListTrackingTagSharedAccounts List accounts it is shared with

Meta only (platform `metaads`); other platforms return 405.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@param tagId Pixel id.
	@return TrackingTagsAPIListTrackingTagSharedAccountsRequest
*/
func (a *TrackingTagsAPIService) ListTrackingTagSharedAccounts(ctx context.Context, accountId string, tagId string) TrackingTagsAPIListTrackingTagSharedAccountsRequest {
	return TrackingTagsAPIListTrackingTagSharedAccountsRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		tagId:      tagId,
	}
}

// Execute executes the request
//
//	@return ListTrackingTagSharedAccounts200Response
func (a *TrackingTagsAPIService) ListTrackingTagSharedAccountsExecute(r TrackingTagsAPIListTrackingTagSharedAccountsRequest) (*ListTrackingTagSharedAccounts200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListTrackingTagSharedAccounts200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.ListTrackingTagSharedAccounts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags/{tagId}/shared-accounts"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tagId"+"}", url.PathEscape(parameterValueToString(r.tagId, "tagId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPIListTrackingTagsRequest struct {
	ctx         context.Context
	ApiService  *TrackingTagsAPIService
	accountId   string
	adAccountId *string
}

// Optional, Meta only. Scope to one ad account, e.g. &#x60;act_123456789&#x60;. Ignored for OpenAI Ads.
func (r TrackingTagsAPIListTrackingTagsRequest) AdAccountId(adAccountId string) TrackingTagsAPIListTrackingTagsRequest {
	r.adAccountId = &adAccountId
	return r
}

func (r TrackingTagsAPIListTrackingTagsRequest) Execute() (*ListTrackingTags200Response, *http.Response, error) {
	return r.ApiService.ListTrackingTagsExecute(r)
}

/*
ListTrackingTags List tracking tags

Returns the tracking tags (Meta Pixels, or OpenAI Ads pixels) the
connected ads account can see. Pass `?adAccountId=act_...` (Meta only)
to scope the list to a single ad account; omit it to list every pixel
reachable by the token (the name is then suffixed with the ad account
it was discovered on, for disambiguation). The list view omits `code`
— call `getTrackingTag` for the install snippet and full detail (Meta
only; OpenAI Ads has no get-by-id endpoint).

Meta (platform `metaads`) and OpenAI Ads (platform `openaiads`); other
platforms return 405. The `accountId` must be the ads SocialAccount
created by the Ads add-on connect flow (Meta) or the OpenAI Ads
connect flow, not a Facebook/Instagram posting account. Get your Meta
`act_...` ids from `GET /v1/ads/accounts`; `adAccountId` is ignored for
OpenAI Ads (one API key maps to exactly one ad account).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId Ads SocialAccount id (platform `metaads` or `openaiads`).
	@return TrackingTagsAPIListTrackingTagsRequest
*/
func (a *TrackingTagsAPIService) ListTrackingTags(ctx context.Context, accountId string) TrackingTagsAPIListTrackingTagsRequest {
	return TrackingTagsAPIListTrackingTagsRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
	}
}

// Execute executes the request
//
//	@return ListTrackingTags200Response
func (a *TrackingTagsAPIService) ListTrackingTagsExecute(r TrackingTagsAPIListTrackingTagsRequest) (*ListTrackingTags200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListTrackingTags200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.ListTrackingTags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.adAccountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adAccountId", r.adAccountId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPIRemoveTrackingTagSharedAccountRequest struct {
	ctx         context.Context
	ApiService  *TrackingTagsAPIService
	accountId   string
	tagId       string
	adAccountId *string
}

// Ad account to unshare, e.g. &#x60;act_123456789&#x60;. May also be sent in the JSON body.
func (r TrackingTagsAPIRemoveTrackingTagSharedAccountRequest) AdAccountId(adAccountId string) TrackingTagsAPIRemoveTrackingTagSharedAccountRequest {
	r.adAccountId = &adAccountId
	return r
}

func (r TrackingTagsAPIRemoveTrackingTagSharedAccountRequest) Execute() (*http.Response, error) {
	return r.ApiService.RemoveTrackingTagSharedAccountExecute(r)
}

/*
RemoveTrackingTagSharedAccount Stop sharing with an account

`adAccountId` may be passed as a query parameter (recommended) or as a
JSON body field for clients that can send DELETE bodies. Meta only
(platform `metaads`); other platforms return 405.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@param tagId Pixel id.
	@return TrackingTagsAPIRemoveTrackingTagSharedAccountRequest
*/
func (a *TrackingTagsAPIService) RemoveTrackingTagSharedAccount(ctx context.Context, accountId string, tagId string) TrackingTagsAPIRemoveTrackingTagSharedAccountRequest {
	return TrackingTagsAPIRemoveTrackingTagSharedAccountRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		tagId:      tagId,
	}
}

// Execute executes the request
func (a *TrackingTagsAPIService) RemoveTrackingTagSharedAccountExecute(r TrackingTagsAPIRemoveTrackingTagSharedAccountRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.RemoveTrackingTagSharedAccount")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags/{tagId}/shared-accounts"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tagId"+"}", url.PathEscape(parameterValueToString(r.tagId, "tagId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.adAccountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adAccountId", r.adAccountId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TrackingTagsAPIUpdateAdTrackingTagsRequest struct {
	ctx                         context.Context
	ApiService                  *TrackingTagsAPIService
	adId                        string
	updateAdTrackingTagsRequest *UpdateAdTrackingTagsRequest
}

func (r TrackingTagsAPIUpdateAdTrackingTagsRequest) UpdateAdTrackingTagsRequest(updateAdTrackingTagsRequest UpdateAdTrackingTagsRequest) TrackingTagsAPIUpdateAdTrackingTagsRequest {
	r.updateAdTrackingTagsRequest = &updateAdTrackingTagsRequest
	return r
}

func (r TrackingTagsAPIUpdateAdTrackingTagsRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateAdTrackingTagsExecute(r)
}

/*
UpdateAdTrackingTags Set ad tracking tags

Unified update. Send only the fields for the ad's platform:

  - Meta: `urlTags` (array of {key,value}). Meta creatives are immutable, so this rebuilds the
    creative and repoints the ad. By DEFAULT we PRESERVE the existing creative verbatim
    (re-post its object_story_spec + the new url_tags, reusing the image), so you send `urlTags`
    ALONE — no need to read back headline/body/CTA. `creative` (headline, body, callToAction,
    linkUrl, imageUrl) is OPTIONAL and only needed to rebuild explicitly, or for SHARE / page-post
    / dark / asset_feed creatives whose object_story_spec Meta strips (those return 422 asking for
    `creative`).

  - Google: `trackingUrlTemplate` and/or `finalUrlSuffix` (full template strings; account quota applies).

  - LinkedIn: `dynamicValueParameters` and/or `customValueParameters` (campaign-level Dynamic UTM).

    @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
    @param adId
    @return TrackingTagsAPIUpdateAdTrackingTagsRequest
*/
func (a *TrackingTagsAPIService) UpdateAdTrackingTags(ctx context.Context, adId string) TrackingTagsAPIUpdateAdTrackingTagsRequest {
	return TrackingTagsAPIUpdateAdTrackingTagsRequest{
		ApiService: a,
		ctx:        ctx,
		adId:       adId,
	}
}

// Execute executes the request
func (a *TrackingTagsAPIService) UpdateAdTrackingTagsExecute(r TrackingTagsAPIUpdateAdTrackingTagsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.UpdateAdTrackingTags")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ads/{adId}/tracking-tags"
	localVarPath = strings.Replace(localVarPath, "{"+"adId"+"}", url.PathEscape(parameterValueToString(r.adId, "adId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateAdTrackingTagsRequest == nil {
		return nil, reportError("updateAdTrackingTagsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateAdTrackingTagsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TrackingTagsAPIUpdateTrackingTagRequest struct {
	ctx                      context.Context
	ApiService               *TrackingTagsAPIService
	accountId                string
	tagId                    string
	updateTrackingTagRequest *UpdateTrackingTagRequest
}

func (r TrackingTagsAPIUpdateTrackingTagRequest) UpdateTrackingTagRequest(updateTrackingTagRequest UpdateTrackingTagRequest) TrackingTagsAPIUpdateTrackingTagRequest {
	r.updateTrackingTagRequest = &updateTrackingTagRequest
	return r
}

func (r TrackingTagsAPIUpdateTrackingTagRequest) Execute() (*GetTrackingTag200Response, *http.Response, error) {
	return r.ApiService.UpdateTrackingTagExecute(r)
}

/*
UpdateTrackingTag Update a tracking tag

Partial-update a pixel. Whitelisted fields: `name` (rename),
`enableAutomaticMatching`, `automaticMatchingFields`,
`firstPartyCookieStatus`, `dataUseSetting`. At least one is required.
Returns the re-fetched canonical tag. Meta only (platform `metaads`);
other platforms return 405.

There is no DELETE — Meta has no API to delete a pixel. To stop using
one, unshare it from your ad accounts (`DELETE
.../tracking-tags/{tagId}/shared-accounts`) or disable it in Events
Manager.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@param tagId Pixel id.
	@return TrackingTagsAPIUpdateTrackingTagRequest
*/
func (a *TrackingTagsAPIService) UpdateTrackingTag(ctx context.Context, accountId string, tagId string) TrackingTagsAPIUpdateTrackingTagRequest {
	return TrackingTagsAPIUpdateTrackingTagRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		tagId:      tagId,
	}
}

// Execute executes the request
//
//	@return GetTrackingTag200Response
func (a *TrackingTagsAPIService) UpdateTrackingTagExecute(r TrackingTagsAPIUpdateTrackingTagRequest) (*GetTrackingTag200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetTrackingTag200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.UpdateTrackingTag")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags/{tagId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tagId"+"}", url.PathEscape(parameterValueToString(r.tagId, "tagId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateTrackingTagRequest == nil {
		return localVarReturnValue, nil, reportError("updateTrackingTagRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateTrackingTagRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
