/*
Zernio API

API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api

API version: 1.0.4
Contact: support@zernio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zernio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// GMBVerificationsAPIService GMBVerificationsAPI service
type GMBVerificationsAPIService service

type GMBVerificationsAPICompleteGoogleBusinessVerificationRequest struct {
	ctx                                       context.Context
	ApiService                                *GMBVerificationsAPIService
	accountId                                 string
	verificationId                            string
	completeGoogleBusinessVerificationRequest *CompleteGoogleBusinessVerificationRequest
	locationId                                *string
}

func (r GMBVerificationsAPICompleteGoogleBusinessVerificationRequest) CompleteGoogleBusinessVerificationRequest(completeGoogleBusinessVerificationRequest CompleteGoogleBusinessVerificationRequest) GMBVerificationsAPICompleteGoogleBusinessVerificationRequest {
	r.completeGoogleBusinessVerificationRequest = &completeGoogleBusinessVerificationRequest
	return r
}

// Override which location to target. If omitted, uses the account&#39;s selected location.
func (r GMBVerificationsAPICompleteGoogleBusinessVerificationRequest) LocationId(locationId string) GMBVerificationsAPICompleteGoogleBusinessVerificationRequest {
	r.locationId = &locationId
	return r
}

func (r GMBVerificationsAPICompleteGoogleBusinessVerificationRequest) Execute() (*StartGoogleBusinessVerification200Response, *http.Response, error) {
	return r.ApiService.CompleteGoogleBusinessVerificationExecute(r)
}

/*
CompleteGoogleBusinessVerification Complete a verification

Completes a PENDING verification by submitting the PIN/code Google sent the business (postcard code, SMS PIN, etc.). On success the verification moves to COMPLETED.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId The Zernio account ID (from /v1/accounts)
	@param verificationId The last segment of a verification `name` from GET /gmb-verifications.
	@return GMBVerificationsAPICompleteGoogleBusinessVerificationRequest
*/
func (a *GMBVerificationsAPIService) CompleteGoogleBusinessVerification(ctx context.Context, accountId string, verificationId string) GMBVerificationsAPICompleteGoogleBusinessVerificationRequest {
	return GMBVerificationsAPICompleteGoogleBusinessVerificationRequest{
		ApiService:     a,
		ctx:            ctx,
		accountId:      accountId,
		verificationId: verificationId,
	}
}

// Execute executes the request
//
//	@return StartGoogleBusinessVerification200Response
func (a *GMBVerificationsAPIService) CompleteGoogleBusinessVerificationExecute(r GMBVerificationsAPICompleteGoogleBusinessVerificationRequest) (*StartGoogleBusinessVerification200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *StartGoogleBusinessVerification200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GMBVerificationsAPIService.CompleteGoogleBusinessVerification")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/gmb-verifications/{verificationId}/complete"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"verificationId"+"}", url.PathEscape(parameterValueToString(r.verificationId, "verificationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.completeGoogleBusinessVerificationRequest == nil {
		return localVarReturnValue, nil, reportError("completeGoogleBusinessVerificationRequest is required and must be specified")
	}

	if r.locationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationId", r.locationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.completeGoogleBusinessVerificationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GMBVerificationsAPIFetchGoogleBusinessVerificationOptionsRequest struct {
	ctx                                           context.Context
	ApiService                                    *GMBVerificationsAPIService
	accountId                                     string
	fetchGoogleBusinessVerificationOptionsRequest *FetchGoogleBusinessVerificationOptionsRequest
	locationId                                    *string
}

func (r GMBVerificationsAPIFetchGoogleBusinessVerificationOptionsRequest) FetchGoogleBusinessVerificationOptionsRequest(fetchGoogleBusinessVerificationOptionsRequest FetchGoogleBusinessVerificationOptionsRequest) GMBVerificationsAPIFetchGoogleBusinessVerificationOptionsRequest {
	r.fetchGoogleBusinessVerificationOptionsRequest = &fetchGoogleBusinessVerificationOptionsRequest
	return r
}

// Override which location to query. If omitted, uses the account&#39;s selected location.
func (r GMBVerificationsAPIFetchGoogleBusinessVerificationOptionsRequest) LocationId(locationId string) GMBVerificationsAPIFetchGoogleBusinessVerificationOptionsRequest {
	r.locationId = &locationId
	return r
}

func (r GMBVerificationsAPIFetchGoogleBusinessVerificationOptionsRequest) Execute() (*FetchGoogleBusinessVerificationOptions200Response, *http.Response, error) {
	return r.ApiService.FetchGoogleBusinessVerificationOptionsExecute(r)
}

/*
FetchGoogleBusinessVerificationOptions Fetch verification options

Reports the verification methods Google currently offers for the location. Non-mutating (nothing is sent to the business). `languageCode` is required; service-area ("CUSTOMER_LOCATION_ONLY") businesses also require `context.address`, otherwise Google returns 400.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId The Zernio account ID (from /v1/accounts)
	@return GMBVerificationsAPIFetchGoogleBusinessVerificationOptionsRequest
*/
func (a *GMBVerificationsAPIService) FetchGoogleBusinessVerificationOptions(ctx context.Context, accountId string) GMBVerificationsAPIFetchGoogleBusinessVerificationOptionsRequest {
	return GMBVerificationsAPIFetchGoogleBusinessVerificationOptionsRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
	}
}

// Execute executes the request
//
//	@return FetchGoogleBusinessVerificationOptions200Response
func (a *GMBVerificationsAPIService) FetchGoogleBusinessVerificationOptionsExecute(r GMBVerificationsAPIFetchGoogleBusinessVerificationOptionsRequest) (*FetchGoogleBusinessVerificationOptions200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FetchGoogleBusinessVerificationOptions200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GMBVerificationsAPIService.FetchGoogleBusinessVerificationOptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/gmb-verifications/options"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.fetchGoogleBusinessVerificationOptionsRequest == nil {
		return localVarReturnValue, nil, reportError("fetchGoogleBusinessVerificationOptionsRequest is required and must be specified")
	}

	if r.locationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationId", r.locationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.fetchGoogleBusinessVerificationOptionsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GMBVerificationsAPIGetGoogleBusinessVerificationsRequest struct {
	ctx        context.Context
	ApiService *GMBVerificationsAPIService
	accountId  string
	locationId *string
}

// Override which location to query. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
func (r GMBVerificationsAPIGetGoogleBusinessVerificationsRequest) LocationId(locationId string) GMBVerificationsAPIGetGoogleBusinessVerificationsRequest {
	r.locationId = &locationId
	return r
}

func (r GMBVerificationsAPIGetGoogleBusinessVerificationsRequest) Execute() (*GetGoogleBusinessVerifications200Response, *http.Response, error) {
	return r.ApiService.GetGoogleBusinessVerificationsExecute(r)
}

/*
GetGoogleBusinessVerifications Get verification state

Returns the location's Voice of Merchant state plus its verification history. `voiceOfMerchantState.hasVoiceOfMerchant` tells you whether the listing is verified and published; when it is false, `verify` reports whether a verification is already pending. Each entry in `verifications` has a `state` of PENDING, COMPLETED, or FAILED.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId The Zernio account ID (from /v1/accounts)
	@return GMBVerificationsAPIGetGoogleBusinessVerificationsRequest
*/
func (a *GMBVerificationsAPIService) GetGoogleBusinessVerifications(ctx context.Context, accountId string) GMBVerificationsAPIGetGoogleBusinessVerificationsRequest {
	return GMBVerificationsAPIGetGoogleBusinessVerificationsRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
	}
}

// Execute executes the request
//
//	@return GetGoogleBusinessVerifications200Response
func (a *GMBVerificationsAPIService) GetGoogleBusinessVerificationsExecute(r GMBVerificationsAPIGetGoogleBusinessVerificationsRequest) (*GetGoogleBusinessVerifications200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetGoogleBusinessVerifications200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GMBVerificationsAPIService.GetGoogleBusinessVerifications")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/gmb-verifications"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.locationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationId", r.locationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GMBVerificationsAPIStartGoogleBusinessVerificationRequest struct {
	ctx                                    context.Context
	ApiService                             *GMBVerificationsAPIService
	accountId                              string
	startGoogleBusinessVerificationRequest *StartGoogleBusinessVerificationRequest
	locationId                             *string
}

func (r GMBVerificationsAPIStartGoogleBusinessVerificationRequest) StartGoogleBusinessVerificationRequest(startGoogleBusinessVerificationRequest StartGoogleBusinessVerificationRequest) GMBVerificationsAPIStartGoogleBusinessVerificationRequest {
	r.startGoogleBusinessVerificationRequest = &startGoogleBusinessVerificationRequest
	return r
}

// Override which location to target. If omitted, uses the account&#39;s selected location.
func (r GMBVerificationsAPIStartGoogleBusinessVerificationRequest) LocationId(locationId string) GMBVerificationsAPIStartGoogleBusinessVerificationRequest {
	r.locationId = &locationId
	return r
}

func (r GMBVerificationsAPIStartGoogleBusinessVerificationRequest) Execute() (*StartGoogleBusinessVerification200Response, *http.Response, error) {
	return r.ApiService.StartGoogleBusinessVerificationExecute(r)
}

/*
StartGoogleBusinessVerification Start a verification

Starts a verification for the location. This is a mutating action: depending on `method`, Google mails a postcard, places a call, or sends an SMS/email to the business. Submit the resulting code with POST /gmb-verifications/{verificationId}/complete. Use POST /gmb-verifications/options first to discover which methods are eligible.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId The Zernio account ID (from /v1/accounts)
	@return GMBVerificationsAPIStartGoogleBusinessVerificationRequest
*/
func (a *GMBVerificationsAPIService) StartGoogleBusinessVerification(ctx context.Context, accountId string) GMBVerificationsAPIStartGoogleBusinessVerificationRequest {
	return GMBVerificationsAPIStartGoogleBusinessVerificationRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
	}
}

// Execute executes the request
//
//	@return StartGoogleBusinessVerification200Response
func (a *GMBVerificationsAPIService) StartGoogleBusinessVerificationExecute(r GMBVerificationsAPIStartGoogleBusinessVerificationRequest) (*StartGoogleBusinessVerification200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *StartGoogleBusinessVerification200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GMBVerificationsAPIService.StartGoogleBusinessVerification")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/gmb-verifications"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startGoogleBusinessVerificationRequest == nil {
		return localVarReturnValue, nil, reportError("startGoogleBusinessVerificationRequest is required and must be specified")
	}

	if r.locationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationId", r.locationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.startGoogleBusinessVerificationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
