/*
Zernio API

API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api  Versioning and deprecation: all endpoints are versioned in the URL path (current version: /v1). Breaking changes only ship in a new path version; existing versions keep working. Deprecated operations are marked 'deprecated: true' in this spec and announced in the changelog (https://zernio.com/changelog) before removal.  Errors: every 4xx/5xx response is application/json with a machine-readable 'code' and a human-readable 'error' message (see the ErrorResponse schema).

API version: 1.0.4
Contact: support@zernio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zernio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// AdLibraryAPIService AdLibraryAPI service
type AdLibraryAPIService service

type AdLibraryAPISearchAdLibraryRequest struct {
	ctx        context.Context
	ApiService *AdLibraryAPIService
	platform   *string
	accountId  *string
	q          *string
	pageIds    *string
	advertiser *string
	countries  *string
	adType     *string
	status     *string
	platforms  *string
	mediaType  *string
	languages  *string
	since      *string
	until      *string
	searchType *string
	fields     *string
	limit      *int32
	after      *string
}

// Which archive to search. &#x60;meta&#x60; needs no accountId. Required unless accountId is given.
func (r AdLibraryAPISearchAdLibraryRequest) Platform(platform string) AdLibraryAPISearchAdLibraryRequest {
	r.platform = &platform
	return r
}

// Zernio SocialAccount id. Required for LinkedIn (linkedin / linkedinads: its token searches). Optional for Meta, where any facebook / instagram / metaads account only selects the platform.
func (r AdLibraryAPISearchAdLibraryRequest) AccountId(accountId string) AdLibraryAPISearchAdLibraryRequest {
	r.accountId = &accountId
	return r
}

// Keyword search. Meta does not translate it, so write it in the ads&#39; language. Required unless pageIds (Meta) or advertiser (LinkedIn) is given.
func (r AdLibraryAPISearchAdLibraryRequest) Q(q string) AdLibraryAPISearchAdLibraryRequest {
	r.q = &q
	return r
}

// Meta only. Comma-separated Facebook Page ids (max 10) whose ads to list.
func (r AdLibraryAPISearchAdLibraryRequest) PageIds(pageIds string) AdLibraryAPISearchAdLibraryRequest {
	r.pageIds = &pageIds
	return r
}

// LinkedIn only. Advertiser (Page) name to search.
func (r AdLibraryAPISearchAdLibraryRequest) Advertiser(advertiser string) AdLibraryAPISearchAdLibraryRequest {
	r.advertiser = &advertiser
	return r
}

// Comma-separated ISO 3166-1 alpha-2 codes the ads reached. Meta defaults to ALL (an explicit ALL is Meta-only); LinkedIn searches every market when omitted.
func (r AdLibraryAPISearchAdLibraryRequest) Countries(countries string) AdLibraryAPISearchAdLibraryRequest {
	r.countries = &countries
	return r
}

// Meta only.
func (r AdLibraryAPISearchAdLibraryRequest) AdType(adType string) AdLibraryAPISearchAdLibraryRequest {
	r.adType = &adType
	return r
}

// Meta only. ACTIVE &#x3D; eligible for delivery right now.
func (r AdLibraryAPISearchAdLibraryRequest) Status(status string) AdLibraryAPISearchAdLibraryRequest {
	r.status = &status
	return r
}

// Meta only. Comma-separated publisher platforms: FACEBOOK, INSTAGRAM, AUDIENCE_NETWORK, MESSENGER, WHATSAPP, OCULUS, THREADS, STREAMING_SERVICES.
func (r AdLibraryAPISearchAdLibraryRequest) Platforms(platforms string) AdLibraryAPISearchAdLibraryRequest {
	r.platforms = &platforms
	return r
}

// Meta only.
func (r AdLibraryAPISearchAdLibraryRequest) MediaType(mediaType string) AdLibraryAPISearchAdLibraryRequest {
	r.mediaType = &mediaType
	return r
}

// Meta only. Comma-separated ISO 639-1 codes of the ad text.
func (r AdLibraryAPISearchAdLibraryRequest) Languages(languages string) AdLibraryAPISearchAdLibraryRequest {
	r.languages = &languages
	return r
}

// Earliest delivery date (YYYY-MM-DD).
func (r AdLibraryAPISearchAdLibraryRequest) Since(since string) AdLibraryAPISearchAdLibraryRequest {
	r.since = &since
	return r
}

// Latest delivery date (YYYY-MM-DD).
func (r AdLibraryAPISearchAdLibraryRequest) Until(until string) AdLibraryAPISearchAdLibraryRequest {
	r.until = &until
	return r
}

// Meta only. Whether q matches words in any order or as an exact phrase (comma-separate phrases to match all of them).
func (r AdLibraryAPISearchAdLibraryRequest) SearchType(searchType string) AdLibraryAPISearchAdLibraryRequest {
	r.searchType = &searchType
	return r
}

// Meta only. Raw Graph projection override, e.g. add spend,impressions,demographic_distribution for political ads.
func (r AdLibraryAPISearchAdLibraryRequest) Fields(fields string) AdLibraryAPISearchAdLibraryRequest {
	r.fields = &fields
	return r
}

// Rows per page. LinkedIn accepts at most 25.
func (r AdLibraryAPISearchAdLibraryRequest) Limit(limit int32) AdLibraryAPISearchAdLibraryRequest {
	r.limit = &limit
	return r
}

// paging.after of the previous page.
func (r AdLibraryAPISearchAdLibraryRequest) After(after string) AdLibraryAPISearchAdLibraryRequest {
	r.after = &after
	return r
}

func (r AdLibraryAPISearchAdLibraryRequest) Execute() (*SearchAdLibrary200Response, *http.Response, error) {
	return r.ApiService.SearchAdLibraryExecute(r)
}

/*
SearchAdLibrary Search the public Ad Library

Competitor and market research over the public ad archives. Meta's Ad Library
(`GET /ads_archive`) is searched with Zernio's own developer access, so `platform=meta` needs
no connected account at all. LinkedIn's Ad Library (`GET /rest/adLibrary`) runs on a connected
`linkedin` / `linkedinads` account, passed as `accountId`. Passing a Meta account as `accountId`
also selects Meta. Rows are returned in the platform's raw shape under `data`; `paging.after`
is an opaque cursor on both (`null` when exhausted).

**Meta coverage.** Political and social-issue ads are searchable worldwide. Every other ad is
in the archive only if it was delivered to the EU or UK within the last year, so a US-only
commercial advertiser is invisible. Spend, impressions and demographics are political-only
fields and are left out of the default projection; request them via `fields`. All customers
share Zernio's Meta quota, so a `429` means back off for a minute.

**LinkedIn coverage.** Ads served after June 1 2023, worldwide, kept for a year after their
last impression. EU-delivered ads carry impression ranges and the disclosed targeting facets.
Pages are capped at 25 ads (`limit` > 25 is a 400); `after` is the next offset.

Which params apply: `q`, `countries`, `since`, `until`, `limit`, `after` on both; `pageIds`,
`adType`, `status`, `platforms`, `mediaType`, `languages`, `searchType`, `fields` are Meta-only;
`advertiser` is LinkedIn-only. Passing a param the account's platform does not support is a 400
naming the param.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdLibraryAPISearchAdLibraryRequest
*/
func (a *AdLibraryAPIService) SearchAdLibrary(ctx context.Context) AdLibraryAPISearchAdLibraryRequest {
	return AdLibraryAPISearchAdLibraryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SearchAdLibrary200Response
func (a *AdLibraryAPIService) SearchAdLibraryExecute(r AdLibraryAPISearchAdLibraryRequest) (*SearchAdLibrary200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchAdLibrary200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdLibraryAPIService.SearchAdLibrary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ads/library"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.pageIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageIds", r.pageIds, "form", "")
	}
	if r.advertiser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser", r.advertiser, "form", "")
	}
	if r.countries != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "countries", r.countries, "form", "")
	}
	if r.adType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adType", r.adType, "form", "")
	} else {
		var defaultValue string = "ALL"
		parameterAddToHeaderOrQuery(localVarQueryParams, "adType", defaultValue, "form", "")
		r.adType = &defaultValue
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	} else {
		var defaultValue string = "ACTIVE"
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", defaultValue, "form", "")
		r.status = &defaultValue
	}
	if r.platforms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platforms", r.platforms, "form", "")
	}
	if r.mediaType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mediaType", r.mediaType, "form", "")
	}
	if r.languages != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "languages", r.languages, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "form", "")
	}
	if r.searchType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchType", r.searchType, "form", "")
	} else {
		var defaultValue string = "KEYWORD_UNORDERED"
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchType", defaultValue, "form", "")
		r.searchType = &defaultValue
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
