/*
Zernio API

API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api

API version: 1.0.4
Contact: support@zernio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zernio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// MentionsAPIService MentionsAPI service
type MentionsAPIService service

type MentionsAPIListInboxMentionsRequest struct {
	ctx        context.Context
	ApiService *MentionsAPIService
	accountId  *string
	profileId  *string
	sortOrder  *string
	limit      *int32
	cursor     *string
}

// Filter by social account ID
func (r MentionsAPIListInboxMentionsRequest) AccountId(accountId string) MentionsAPIListInboxMentionsRequest {
	r.accountId = &accountId
	return r
}

// Filter by profile ID
func (r MentionsAPIListInboxMentionsRequest) ProfileId(profileId string) MentionsAPIListInboxMentionsRequest {
	r.profileId = &profileId
	return r
}

// Sort order by publishedAt
func (r MentionsAPIListInboxMentionsRequest) SortOrder(sortOrder string) MentionsAPIListInboxMentionsRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r MentionsAPIListInboxMentionsRequest) Limit(limit int32) MentionsAPIListInboxMentionsRequest {
	r.limit = &limit
	return r
}

// Cursor for pagination (ID of the last item from the previous page)
func (r MentionsAPIListInboxMentionsRequest) Cursor(cursor string) MentionsAPIListInboxMentionsRequest {
	r.cursor = &cursor
	return r
}

func (r MentionsAPIListInboxMentionsRequest) Execute() (*ListInboxMentions200Response, *http.Response, error) {
	return r.ApiService.ListInboxMentionsExecute(r)
}

/*
ListInboxMentions List mentions

Returns mentions of your connected organization accounts, delivered via platform webhooks.
Currently supports LinkedIn organization mentions.

Requires Inbox addon.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MentionsAPIListInboxMentionsRequest
*/
func (a *MentionsAPIService) ListInboxMentions(ctx context.Context) MentionsAPIListInboxMentionsRequest {
	return MentionsAPIListInboxMentionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListInboxMentions200Response
func (a *MentionsAPIService) ListInboxMentionsExecute(r MentionsAPIListInboxMentionsRequest) (*ListInboxMentions200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListInboxMentions200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MentionsAPIService.ListInboxMentions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inbox/mentions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.profileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "profileId", r.profileId, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	} else {
		var defaultValue string = "desc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", defaultValue, "form", "")
		r.sortOrder = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MentionsAPIReplyToMentionRequest struct {
	ctx                   context.Context
	ApiService            *MentionsAPIService
	replyToMentionRequest *ReplyToMentionRequest
}

func (r MentionsAPIReplyToMentionRequest) ReplyToMentionRequest(replyToMentionRequest ReplyToMentionRequest) MentionsAPIReplyToMentionRequest {
	r.replyToMentionRequest = &replyToMentionRequest
	return r
}

func (r MentionsAPIReplyToMentionRequest) Execute() (*ReplyToMention200Response, *http.Response, error) {
	return r.ApiService.ReplyToMentionExecute(r)
}

/*
ReplyToMention Reply to a mention

Reply to a mention of the connected account. Supported on Instagram only.

Two shapes, selected by whether `commentId` is present:

  - **Comment mention** (someone @mentioned the account inside a comment): pass both
    `mediaId` and `commentId`. Instagram posts a reply under that comment.
  - **Caption mention** (someone @mentioned the account in their media caption, so no
    comment exists): pass `mediaId` only. Instagram posts a comment on their media.

Story mentions are not supported by Instagram's API.

Note that `GET /v1/inbox/mentions` currently returns LinkedIn mentions only and does
not surface Instagram mentions. Source `mediaId` and `commentId` from Instagram's
`comments` webhook, which is where mention notifications are delivered for accounts
connected through Instagram Login.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MentionsAPIReplyToMentionRequest
*/
func (a *MentionsAPIService) ReplyToMention(ctx context.Context) MentionsAPIReplyToMentionRequest {
	return MentionsAPIReplyToMentionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ReplyToMention200Response
func (a *MentionsAPIService) ReplyToMentionExecute(r MentionsAPIReplyToMentionRequest) (*ReplyToMention200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ReplyToMention200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MentionsAPIService.ReplyToMention")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inbox/mentions/reply"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.replyToMentionRequest == nil {
		return localVarReturnValue, nil, reportError("replyToMentionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.replyToMentionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
