/*
Zernio API

API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api  Versioning and deprecation: all endpoints are versioned in the URL path (current version: /v1). Breaking changes only ship in a new path version; existing versions keep working. Deprecated operations are marked 'deprecated: true' in this spec and announced in the changelog (https://zernio.com/changelog) before removal.  Errors: every 4xx/5xx response is application/json with a machine-readable 'code' and a human-readable 'error' message (see the ErrorResponse schema).  Request ids: responses carry an X-Request-Id header with the id we log the request under. Quote it when reporting a problem. A valid x-request-id you send is reused as that id.

API version: 1.100.0
Contact: support@zernio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zernio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// BlogsAPIService BlogsAPI service
type BlogsAPIService service

type BlogsAPICreateBlogRequest struct {
	ctx               context.Context
	ApiService        *BlogsAPIService
	accountId         string
	createBlogRequest *CreateBlogRequest
}

func (r BlogsAPICreateBlogRequest) CreateBlogRequest(createBlogRequest CreateBlogRequest) BlogsAPICreateBlogRequest {
	r.createBlogRequest = &createBlogRequest
	return r
}

func (r BlogsAPICreateBlogRequest) Execute() (*CreateBlog201Response, *http.Response, error) {
	return r.ApiService.CreateBlogExecute(r)
}

/*
CreateBlog Create a blog

Creates a blog on the connected store. The platform generates the URL
`handle` from the title when omitted.

Supported on Shopify (platform `shopify`). A WordPress connection is
its existing site, so WordPress returns 405 for blog creation.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId Connected Shopify SocialAccount id.
	@return BlogsAPICreateBlogRequest
*/
func (a *BlogsAPIService) CreateBlog(ctx context.Context, accountId string) BlogsAPICreateBlogRequest {
	return BlogsAPICreateBlogRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
	}
}

// Execute executes the request
//
//	@return CreateBlog201Response
func (a *BlogsAPIService) CreateBlogExecute(r BlogsAPICreateBlogRequest) (*CreateBlog201Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreateBlog201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlogsAPIService.CreateBlog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/blogs"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createBlogRequest == nil {
		return localVarReturnValue, nil, reportError("createBlogRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createBlogRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BlogsAPICreateBlogArticleRequest struct {
	ctx                      context.Context
	ApiService               *BlogsAPIService
	accountId                string
	blogId                   string
	createBlogArticleRequest *CreateBlogArticleRequest
}

func (r BlogsAPICreateBlogArticleRequest) CreateBlogArticleRequest(createBlogArticleRequest CreateBlogArticleRequest) BlogsAPICreateBlogArticleRequest {
	r.createBlogArticleRequest = &createBlogArticleRequest
	return r
}

func (r BlogsAPICreateBlogArticleRequest) Execute() (*CreateBlogArticle201Response, *http.Response, error) {
	return r.ApiService.CreateBlogArticleExecute(r)
}

/*
CreateBlogArticle Create a blog article

Creates an article on the blog. Publishing behavior:

  - WordPress defaults to a draft when both publishing fields are omitted.
  - `isPublished: false` keeps the article as a draft and takes priority
    over a future `publishDate`.
  - A future `publishDate` schedules publication natively on the
    platform; the platform publishes it at that time with no Zernio
    queue involved.
  - `isPublished: true` publishes immediately when there is no future
    `publishDate`.
  - `seo.title` / `seo.description` map to Shopify's global `title_tag`
    and `description_tag` metafields (the fields Shopify themes read for
    the page title and meta description). WordPress rejects `seo`; SEO
    plugin and custom-field writes are not supported.

Supported on Shopify (`shopify`) and WordPress (`wordpress`). WordPress
native scheduling depends on the site's scheduler/WP-Cron.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId Connected Shopify or WordPress account id.
	@param blogId Platform-native numeric blog/site id returned by the list operation.
	@return BlogsAPICreateBlogArticleRequest
*/
func (a *BlogsAPIService) CreateBlogArticle(ctx context.Context, accountId string, blogId string) BlogsAPICreateBlogArticleRequest {
	return BlogsAPICreateBlogArticleRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		blogId:     blogId,
	}
}

// Execute executes the request
//
//	@return CreateBlogArticle201Response
func (a *BlogsAPIService) CreateBlogArticleExecute(r BlogsAPICreateBlogArticleRequest) (*CreateBlogArticle201Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreateBlogArticle201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlogsAPIService.CreateBlogArticle")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/blogs/{blogId}/articles"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"blogId"+"}", url.PathEscape(parameterValueToString(r.blogId, "blogId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createBlogArticleRequest == nil {
		return localVarReturnValue, nil, reportError("createBlogArticleRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createBlogArticleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BlogsAPIDeleteBlogRequest struct {
	ctx        context.Context
	ApiService *BlogsAPIService
	accountId  string
	blogId     string
}

func (r BlogsAPIDeleteBlogRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteBlogExecute(r)
}

/*
DeleteBlog Delete a blog

Deletes the blog AND every article in it. The delete happens on the
platform and is permanent; Zernio stores nothing to restore it from.

Supported on Shopify (platform `shopify`). Disconnect a WordPress
account instead of deleting its site; WordPress returns 405 here.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId Connected Shopify SocialAccount id.
	@param blogId Platform-native numeric blog id. Non-numeric values return 400.
	@return BlogsAPIDeleteBlogRequest
*/
func (a *BlogsAPIService) DeleteBlog(ctx context.Context, accountId string, blogId string) BlogsAPIDeleteBlogRequest {
	return BlogsAPIDeleteBlogRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		blogId:     blogId,
	}
}

// Execute executes the request
func (a *BlogsAPIService) DeleteBlogExecute(r BlogsAPIDeleteBlogRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlogsAPIService.DeleteBlog")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/blogs/{blogId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"blogId"+"}", url.PathEscape(parameterValueToString(r.blogId, "blogId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BlogsAPIDeleteBlogArticleRequest struct {
	ctx        context.Context
	ApiService *BlogsAPIService
	accountId  string
	blogId     string
	articleId  string
}

func (r BlogsAPIDeleteBlogArticleRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteBlogArticleExecute(r)
}

/*
DeleteBlogArticle Delete a blog article

Deletes the article. The delete happens on the platform and is
permanent; Zernio stores nothing to restore it from. On WordPress the
post is force-deleted, while uploaded attachments and tags remain in
the site's media library and taxonomy.

Supported on Shopify (`shopify`) and WordPress (`wordpress`).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId Connected Shopify or WordPress account id.
	@param blogId Platform-native numeric blog/site id returned by the list operation.
	@param articleId Platform-native numeric article id. Non-numeric values return 400.
	@return BlogsAPIDeleteBlogArticleRequest
*/
func (a *BlogsAPIService) DeleteBlogArticle(ctx context.Context, accountId string, blogId string, articleId string) BlogsAPIDeleteBlogArticleRequest {
	return BlogsAPIDeleteBlogArticleRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		blogId:     blogId,
		articleId:  articleId,
	}
}

// Execute executes the request
func (a *BlogsAPIService) DeleteBlogArticleExecute(r BlogsAPIDeleteBlogArticleRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlogsAPIService.DeleteBlogArticle")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/blogs/{blogId}/articles/{articleId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"blogId"+"}", url.PathEscape(parameterValueToString(r.blogId, "blogId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"articleId"+"}", url.PathEscape(parameterValueToString(r.articleId, "articleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BlogsAPIGetBlogRequest struct {
	ctx        context.Context
	ApiService *BlogsAPIService
	accountId  string
	blogId     string
}

func (r BlogsAPIGetBlogRequest) Execute() (*GetBlog200Response, *http.Response, error) {
	return r.ApiService.GetBlogExecute(r)
}

/*
GetBlog Get a blog

Fetches a single blog. Use the platform-native `blogId` returned by
`GET /v1/accounts/{accountId}/blogs`: a Shopify numeric blog id, the
WordPress.com numeric site id, or `1` for a self-hosted WordPress site.
The self-hosted id is scoped to its connected account.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId Connected Shopify or WordPress account id.
	@param blogId Platform-native numeric blog/site id returned by the list operation.
	@return BlogsAPIGetBlogRequest
*/
func (a *BlogsAPIService) GetBlog(ctx context.Context, accountId string, blogId string) BlogsAPIGetBlogRequest {
	return BlogsAPIGetBlogRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		blogId:     blogId,
	}
}

// Execute executes the request
//
//	@return GetBlog200Response
func (a *BlogsAPIService) GetBlogExecute(r BlogsAPIGetBlogRequest) (*GetBlog200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetBlog200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlogsAPIService.GetBlog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/blogs/{blogId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"blogId"+"}", url.PathEscape(parameterValueToString(r.blogId, "blogId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BlogsAPIGetBlogArticleRequest struct {
	ctx        context.Context
	ApiService *BlogsAPIService
	accountId  string
	blogId     string
	articleId  string
}

func (r BlogsAPIGetBlogArticleRequest) Execute() (*CreateBlogArticle201Response, *http.Response, error) {
	return r.ApiService.GetBlogArticleExecute(r)
}

/*
GetBlogArticle Get a blog article

Fetches a single article. An article addressed through a blog it does
not belong to is a 404 (code blog_article_not_found).

Supported on Shopify (`shopify`) and WordPress (`wordpress`). WordPress
returns its native `status`; `publishedAt` is present only for a
published post and `publishDate` only for a scheduled post.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId Connected Shopify or WordPress account id.
	@param blogId Platform-native numeric blog/site id returned by the list operation.
	@param articleId Platform-native numeric article id. Non-numeric values return 400.
	@return BlogsAPIGetBlogArticleRequest
*/
func (a *BlogsAPIService) GetBlogArticle(ctx context.Context, accountId string, blogId string, articleId string) BlogsAPIGetBlogArticleRequest {
	return BlogsAPIGetBlogArticleRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		blogId:     blogId,
		articleId:  articleId,
	}
}

// Execute executes the request
//
//	@return CreateBlogArticle201Response
func (a *BlogsAPIService) GetBlogArticleExecute(r BlogsAPIGetBlogArticleRequest) (*CreateBlogArticle201Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreateBlogArticle201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlogsAPIService.GetBlogArticle")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/blogs/{blogId}/articles/{articleId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"blogId"+"}", url.PathEscape(parameterValueToString(r.blogId, "blogId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"articleId"+"}", url.PathEscape(parameterValueToString(r.articleId, "articleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BlogsAPIListBlogArticlesRequest struct {
	ctx        context.Context
	ApiService *BlogsAPIService
	accountId  string
	blogId     string
	limit      *int32
	cursor     *string
}

// Page size (1-50).
func (r BlogsAPIListBlogArticlesRequest) Limit(limit int32) BlogsAPIListBlogArticlesRequest {
	r.limit = &limit
	return r
}

// Opaque cursor from a previous response. Omit for the first page.
func (r BlogsAPIListBlogArticlesRequest) Cursor(cursor string) BlogsAPIListBlogArticlesRequest {
	r.cursor = &cursor
	return r
}

func (r BlogsAPIListBlogArticlesRequest) Execute() (*ListBlogArticles200Response, *http.Response, error) {
	return r.ApiService.ListBlogArticlesExecute(r)
}

/*
ListBlogArticles List blog articles

Lists the articles of a blog. Cursor-paginated: pass `limit` (1-50,
default 20) and the `cursor` from a previous response's `nextCursor`;
`nextCursor` is null when there are no more pages. Treat cursors as
opaque and pass them unchanged. Supported on Shopify (`shopify`) and
WordPress (`wordpress`). WordPress results include native `status` and
include `publishDate` only for scheduled (`future`) posts.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId Connected Shopify or WordPress account id.
	@param blogId Platform-native numeric blog/site id returned by the list operation.
	@return BlogsAPIListBlogArticlesRequest
*/
func (a *BlogsAPIService) ListBlogArticles(ctx context.Context, accountId string, blogId string) BlogsAPIListBlogArticlesRequest {
	return BlogsAPIListBlogArticlesRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		blogId:     blogId,
	}
}

// Execute executes the request
//
//	@return ListBlogArticles200Response
func (a *BlogsAPIService) ListBlogArticlesExecute(r BlogsAPIListBlogArticlesRequest) (*ListBlogArticles200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListBlogArticles200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlogsAPIService.ListBlogArticles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/blogs/{blogId}/articles"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"blogId"+"}", url.PathEscape(parameterValueToString(r.blogId, "blogId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BlogsAPIListBlogsRequest struct {
	ctx        context.Context
	ApiService *BlogsAPIService
	accountId  string
	limit      *int32
	cursor     *string
}

// Page size (1-50).
func (r BlogsAPIListBlogsRequest) Limit(limit int32) BlogsAPIListBlogsRequest {
	r.limit = &limit
	return r
}

// Opaque cursor from a previous response. Omit for the first page.
func (r BlogsAPIListBlogsRequest) Cursor(cursor string) BlogsAPIListBlogsRequest {
	r.cursor = &cursor
	return r
}

func (r BlogsAPIListBlogsRequest) Execute() (*ListBlogs200Response, *http.Response, error) {
	return r.ApiService.ListBlogsExecute(r)
}

/*
ListBlogs List blogs

Lists blogs on the connected account. Shopify returns its store blogs
with cursor pagination. A WordPress account represents one site and
always returns exactly that one blog with `nextCursor: null`.

`limit` is 1-50 (default 20). Treat `nextCursor` as opaque; pass it
unchanged on the next request. Supported on Shopify (`shopify`) and
WordPress (`wordpress`).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId Connected Shopify or WordPress account id.
	@return BlogsAPIListBlogsRequest
*/
func (a *BlogsAPIService) ListBlogs(ctx context.Context, accountId string) BlogsAPIListBlogsRequest {
	return BlogsAPIListBlogsRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
	}
}

// Execute executes the request
//
//	@return ListBlogs200Response
func (a *BlogsAPIService) ListBlogsExecute(r BlogsAPIListBlogsRequest) (*ListBlogs200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListBlogs200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlogsAPIService.ListBlogs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/blogs"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BlogsAPIUpdateBlogRequest struct {
	ctx               context.Context
	ApiService        *BlogsAPIService
	accountId         string
	blogId            string
	updateBlogRequest *UpdateBlogRequest
}

func (r BlogsAPIUpdateBlogRequest) UpdateBlogRequest(updateBlogRequest UpdateBlogRequest) BlogsAPIUpdateBlogRequest {
	r.updateBlogRequest = &updateBlogRequest
	return r
}

func (r BlogsAPIUpdateBlogRequest) Execute() (*CreateBlog201Response, *http.Response, error) {
	return r.ApiService.UpdateBlogExecute(r)
}

/*
UpdateBlog Update a blog

Partial-updates a blog. Send any subset of `title` and `handle`; at
least one field is required (an empty body returns 400).

Supported on Shopify (platform `shopify`). WordPress site settings are
not writable through this API, so WordPress returns 405.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId Connected Shopify SocialAccount id.
	@param blogId Platform-native numeric blog id. Non-numeric values return 400.
	@return BlogsAPIUpdateBlogRequest
*/
func (a *BlogsAPIService) UpdateBlog(ctx context.Context, accountId string, blogId string) BlogsAPIUpdateBlogRequest {
	return BlogsAPIUpdateBlogRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		blogId:     blogId,
	}
}

// Execute executes the request
//
//	@return CreateBlog201Response
func (a *BlogsAPIService) UpdateBlogExecute(r BlogsAPIUpdateBlogRequest) (*CreateBlog201Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreateBlog201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlogsAPIService.UpdateBlog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/blogs/{blogId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"blogId"+"}", url.PathEscape(parameterValueToString(r.blogId, "blogId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateBlogRequest == nil {
		return localVarReturnValue, nil, reportError("updateBlogRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateBlogRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BlogsAPIUpdateBlogArticleRequest struct {
	ctx                      context.Context
	ApiService               *BlogsAPIService
	accountId                string
	blogId                   string
	articleId                string
	updateBlogArticleRequest *UpdateBlogArticleRequest
}

func (r BlogsAPIUpdateBlogArticleRequest) UpdateBlogArticleRequest(updateBlogArticleRequest UpdateBlogArticleRequest) BlogsAPIUpdateBlogArticleRequest {
	r.updateBlogArticleRequest = &updateBlogArticleRequest
	return r
}

func (r BlogsAPIUpdateBlogArticleRequest) Execute() (*CreateBlogArticle201Response, *http.Response, error) {
	return r.ApiService.UpdateBlogArticleExecute(r)
}

/*
UpdateBlogArticle Update a blog article

Partial-updates an article. Send any subset of the create fields
(`title`, `bodyHtml`, `handle`, `tags`, `author`, `excerpt`, `image`,
`seo`, `isPublished`, `publishDate`); at least one field is required
(an empty body returns 400). `isPublished` and `publishDate` behave as
on create: `isPublished: false` unpublishes back to a draft and a
future `publishDate` schedules publication natively on the platform.
Omitting both fields preserves the current WordPress status. Omitting
`image` preserves the current featured image; removal is not supported.
WordPress rejects `seo` and does not support SEO-plugin/custom-field,
category, or custom-post-type writes.

Supported on Shopify (`shopify`) and WordPress (`wordpress`).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId Connected Shopify or WordPress account id.
	@param blogId Platform-native numeric blog/site id returned by the list operation.
	@param articleId Platform-native numeric article id. Non-numeric values return 400.
	@return BlogsAPIUpdateBlogArticleRequest
*/
func (a *BlogsAPIService) UpdateBlogArticle(ctx context.Context, accountId string, blogId string, articleId string) BlogsAPIUpdateBlogArticleRequest {
	return BlogsAPIUpdateBlogArticleRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		blogId:     blogId,
		articleId:  articleId,
	}
}

// Execute executes the request
//
//	@return CreateBlogArticle201Response
func (a *BlogsAPIService) UpdateBlogArticleExecute(r BlogsAPIUpdateBlogArticleRequest) (*CreateBlogArticle201Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreateBlogArticle201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlogsAPIService.UpdateBlogArticle")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/blogs/{blogId}/articles/{articleId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"blogId"+"}", url.PathEscape(parameterValueToString(r.blogId, "blogId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"articleId"+"}", url.PathEscape(parameterValueToString(r.articleId, "articleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateBlogArticleRequest == nil {
		return localVarReturnValue, nil, reportError("updateBlogArticleRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateBlogArticleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
