/*
Zernio API

API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api  Versioning and deprecation: all endpoints are versioned in the URL path (current version: /v1). Breaking changes only ship in a new path version; existing versions keep working. Deprecated operations are marked 'deprecated: true' in this spec and announced in the changelog (https://zernio.com/changelog) before removal.  Errors: every 4xx/5xx response is application/json with a machine-readable 'code' and a human-readable 'error' message (see the ErrorResponse schema).  Request ids: responses carry an X-Request-Id header with the id we log the request under. Quote it when reporting a problem. A valid x-request-id you send is reused as that id.

API version: 1.135.0
Contact: support@zernio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zernio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// TrackingTagsAPIService TrackingTagsAPI service
type TrackingTagsAPIService service

type TrackingTagsAPIAddTrackingTagSharedAccountRequest struct {
	ctx                                context.Context
	ApiService                         *TrackingTagsAPIService
	accountId                          string
	tagId                              string
	addTrackingTagSharedAccountRequest *AddTrackingTagSharedAccountRequest
}

func (r TrackingTagsAPIAddTrackingTagSharedAccountRequest) AddTrackingTagSharedAccountRequest(addTrackingTagSharedAccountRequest AddTrackingTagSharedAccountRequest) TrackingTagsAPIAddTrackingTagSharedAccountRequest {
	r.addTrackingTagSharedAccountRequest = &addTrackingTagSharedAccountRequest
	return r
}

func (r TrackingTagsAPIAddTrackingTagSharedAccountRequest) Execute() (*AddTrackingTagSharedAccount201Response, *http.Response, error) {
	return r.ApiService.AddTrackingTagSharedAccountExecute(r)
}

/*
AddTrackingTagSharedAccount Share with an ad account

Shares the pixel with another ad account so campaigns/audiences in that
account can use it. Requires that you administer both the pixel's owning
Business Manager and the target ad account; a pixel on a personal
(non-BM) ad account can't be shared (Meta will reject the call). Meta
only (platform `metaads`); other platforms return 501.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@param tagId Pixel id.
	@return TrackingTagsAPIAddTrackingTagSharedAccountRequest
*/
func (a *TrackingTagsAPIService) AddTrackingTagSharedAccount(ctx context.Context, accountId string, tagId string) TrackingTagsAPIAddTrackingTagSharedAccountRequest {
	return TrackingTagsAPIAddTrackingTagSharedAccountRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		tagId:      tagId,
	}
}

// Execute executes the request
//
//	@return AddTrackingTagSharedAccount201Response
func (a *TrackingTagsAPIService) AddTrackingTagSharedAccountExecute(r TrackingTagsAPIAddTrackingTagSharedAccountRequest) (*AddTrackingTagSharedAccount201Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AddTrackingTagSharedAccount201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.AddTrackingTagSharedAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags/{tagId}/shared-accounts"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tagId"+"}", url.PathEscape(parameterValueToString(r.tagId, "tagId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.addTrackingTagSharedAccountRequest == nil {
		return localVarReturnValue, nil, reportError("addTrackingTagSharedAccountRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.addTrackingTagSharedAccountRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPICreateTrackingTagRequest struct {
	ctx                      context.Context
	ApiService               *TrackingTagsAPIService
	accountId                string
	createTrackingTagRequest *CreateTrackingTagRequest
}

func (r TrackingTagsAPICreateTrackingTagRequest) CreateTrackingTagRequest(createTrackingTagRequest CreateTrackingTagRequest) TrackingTagsAPICreateTrackingTagRequest {
	r.createTrackingTagRequest = &createTrackingTagRequest
	return r
}

func (r TrackingTagsAPICreateTrackingTagRequest) Execute() (*CreateTrackingTag201Response, *http.Response, error) {
	return r.ApiService.CreateTrackingTagExecute(r)
}

/*
CreateTrackingTag Create a tracking tag

Meta: creates a Meta Pixel on the given ad account (`POST /act_{id}/adspixels`,
where `name` is the only input). Returns the created tag including its
install `code`. The pixel is owned by the Business Manager that owns the
ad account; a pixel created on a personal (non-BM) ad account ends up
with `ownerBusinessId: null` and can't be shared with other ad accounts.

Creating a Meta pixel does NOT install it. Install the returned `code`
snippet on the site, or send events server-side via
`POST /v1/ads/conversions`. The check `installed` is derived from
`lastFiredTime`.

OpenAI Ads: creates an OpenAI pixel AND provisions a Conversions API
key for it in the same call (`adAccountId` is required by this
endpoint but ignored: one API key maps to exactly one ad account, so
there's nothing to select). Returns 422 (`FEATURE_NOT_AVAILABLE`) if
the ad account isn't enabled for pixel management; contact your OpenAI
partner representative to enable it. There is no delete API for
OpenAI pixels. If the pixel is created but the Conversions API key
provisioning then fails, the pixel is left live on OpenAI (it cannot
be cleaned up) and the error message names the surviving pixel id and
warns against retrying, since a retry would create a second, orphaned
pixel.

NOT idempotent on either platform: each call creates a new pixel (and,
for OpenAI, a new Conversions API key plus, with `defaultEventType`, a
new conversion event setting). Do not retry blindly on
timeout. Meta (platform `metaads`) and OpenAI Ads (platform
`openaiads`); other platforms return 501.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId Ads SocialAccount id (platform `metaads` or `openaiads`).
	@return TrackingTagsAPICreateTrackingTagRequest
*/
func (a *TrackingTagsAPIService) CreateTrackingTag(ctx context.Context, accountId string) TrackingTagsAPICreateTrackingTagRequest {
	return TrackingTagsAPICreateTrackingTagRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
	}
}

// Execute executes the request
//
//	@return CreateTrackingTag201Response
func (a *TrackingTagsAPIService) CreateTrackingTagExecute(r TrackingTagsAPICreateTrackingTagRequest) (*CreateTrackingTag201Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreateTrackingTag201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.CreateTrackingTag")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createTrackingTagRequest == nil {
		return localVarReturnValue, nil, reportError("createTrackingTagRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createTrackingTagRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPICreateTrackingTagEventRequest struct {
	ctx                           context.Context
	ApiService                    *TrackingTagsAPIService
	accountId                     string
	tagId                         string
	createTrackingTagEventRequest *CreateTrackingTagEventRequest
}

func (r TrackingTagsAPICreateTrackingTagEventRequest) CreateTrackingTagEventRequest(createTrackingTagEventRequest CreateTrackingTagEventRequest) TrackingTagsAPICreateTrackingTagEventRequest {
	r.createTrackingTagEventRequest = &createTrackingTagEventRequest
	return r
}

func (r TrackingTagsAPICreateTrackingTagEventRequest) Execute() (*CreateTrackingTagEvent201Response, *http.Response, error) {
	return r.ApiService.CreateTrackingTagEventExecute(r)
}

/*
CreateTrackingTagEvent Create a conversion event

Creates a conversion event tied to the tag. Pass the platform's own event type in `type`
(e.g. Google `PURCHASE`, LinkedIn `ADD_TO_CART`, X `CHECKOUT_INITIATED`) or a neutral
`siteEvent` the platform maps to its closest type. Each platform stores a subset of the
optional fields; sending one it does not store answers 400 naming the supported fields.
NOT idempotent unless noted per platform: do not retry blindly.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@param tagId Tag id (`TrackingTag.id`).
	@return TrackingTagsAPICreateTrackingTagEventRequest
*/
func (a *TrackingTagsAPIService) CreateTrackingTagEvent(ctx context.Context, accountId string, tagId string) TrackingTagsAPICreateTrackingTagEventRequest {
	return TrackingTagsAPICreateTrackingTagEventRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		tagId:      tagId,
	}
}

// Execute executes the request
//
//	@return CreateTrackingTagEvent201Response
func (a *TrackingTagsAPIService) CreateTrackingTagEventExecute(r TrackingTagsAPICreateTrackingTagEventRequest) (*CreateTrackingTagEvent201Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreateTrackingTagEvent201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.CreateTrackingTagEvent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags/{tagId}/events"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tagId"+"}", url.PathEscape(parameterValueToString(r.tagId, "tagId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createTrackingTagEventRequest == nil {
		return localVarReturnValue, nil, reportError("createTrackingTagEventRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createTrackingTagEventRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPIDeleteTrackingTagEventRequest struct {
	ctx         context.Context
	ApiService  *TrackingTagsAPIService
	accountId   string
	tagId       string
	eventId     string
	adAccountId *string
}

// Scopes the lookup on platforms whose tag ids live inside an ad account.
func (r TrackingTagsAPIDeleteTrackingTagEventRequest) AdAccountId(adAccountId string) TrackingTagsAPIDeleteTrackingTagEventRequest {
	r.adAccountId = &adAccountId
	return r
}

func (r TrackingTagsAPIDeleteTrackingTagEventRequest) Execute() (*DeleteTrackingTagEvent200Response, *http.Response, error) {
	return r.ApiService.DeleteTrackingTagEventExecute(r)
}

/*
DeleteTrackingTagEvent Delete a conversion event

Removes the conversion event. Platforms without a hard delete archive or disable it
instead; `state` in the response says which (`deleted`, `archived`, `disabled`).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@param tagId
	@param eventId Event id (`TrackingTagEvent.id`).
	@return TrackingTagsAPIDeleteTrackingTagEventRequest
*/
func (a *TrackingTagsAPIService) DeleteTrackingTagEvent(ctx context.Context, accountId string, tagId string, eventId string) TrackingTagsAPIDeleteTrackingTagEventRequest {
	return TrackingTagsAPIDeleteTrackingTagEventRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		tagId:      tagId,
		eventId:    eventId,
	}
}

// Execute executes the request
//
//	@return DeleteTrackingTagEvent200Response
func (a *TrackingTagsAPIService) DeleteTrackingTagEventExecute(r TrackingTagsAPIDeleteTrackingTagEventRequest) (*DeleteTrackingTagEvent200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DeleteTrackingTagEvent200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.DeleteTrackingTagEvent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags/{tagId}/events/{eventId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tagId"+"}", url.PathEscape(parameterValueToString(r.tagId, "tagId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"eventId"+"}", url.PathEscape(parameterValueToString(r.eventId, "eventId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.adAccountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adAccountId", r.adAccountId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPIGetAdTrackingTagsRequest struct {
	ctx        context.Context
	ApiService *TrackingTagsAPIService
	adId       string
}

func (r TrackingTagsAPIGetAdTrackingTagsRequest) Execute() (*GetAdTrackingTags200Response, *http.Response, error) {
	return r.ApiService.GetAdTrackingTagsExecute(r)
}

/*
GetAdTrackingTags Get ad tracking tags

Unified read of the platform's native click-URL tracking params.
- Meta (facebook/instagram): the creative's `url_tags` (and template_url_spec).
- Google (googleads): the campaign's `trackingUrlTemplate` + `finalUrlSuffix`.
- LinkedIn (linkedinads): the campaign's Dynamic UTM `dynamicValueParameters` + `customValueParameters`.
Returns 405 for platforms without a click-URL tracking surface (TikTok, X, Pinterest).

**Not pixels.** Despite the shared path segment, this endpoint has nothing to do with
measurement tags. For an ad account's pixels use
`GET /v1/accounts/{accountId}/tracking-tags?adAccountId=act_...` (Meta Pixels, with `kind`
and `ownerAdAccountId`) or `GET /v1/accounts/{accountId}/conversion-destinations`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param adId Ad id (hex _id, platformAdId, or effective story/media id).
	@return TrackingTagsAPIGetAdTrackingTagsRequest
*/
func (a *TrackingTagsAPIService) GetAdTrackingTags(ctx context.Context, adId string) TrackingTagsAPIGetAdTrackingTagsRequest {
	return TrackingTagsAPIGetAdTrackingTagsRequest{
		ApiService: a,
		ctx:        ctx,
		adId:       adId,
	}
}

// Execute executes the request
//
//	@return GetAdTrackingTags200Response
func (a *TrackingTagsAPIService) GetAdTrackingTagsExecute(r TrackingTagsAPIGetAdTrackingTagsRequest) (*GetAdTrackingTags200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetAdTrackingTags200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.GetAdTrackingTags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ads/{adId}/tracking-tags"
	localVarPath = strings.Replace(localVarPath, "{"+"adId"+"}", url.PathEscape(parameterValueToString(r.adId, "adId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPIGetTrackingTagRequest struct {
	ctx         context.Context
	ApiService  *TrackingTagsAPIService
	accountId   string
	tagId       string
	adAccountId *string
}

// Scopes the lookup on platforms whose tag ids live inside an ad account. Ignored elsewhere.
func (r TrackingTagsAPIGetTrackingTagRequest) AdAccountId(adAccountId string) TrackingTagsAPIGetTrackingTagRequest {
	r.adAccountId = &adAccountId
	return r
}

func (r TrackingTagsAPIGetTrackingTagRequest) Execute() (*GetTrackingTag200Response, *http.Response, error) {
	return r.ApiService.GetTrackingTagExecute(r)
}

/*
GetTrackingTag Get a tracking tag

Returns the full tag record including the base-code `code` snippet,
`lastFiredTime`, `ownerBusinessId`, `isUnavailable`, etc. Meta only
(platform `metaads`); other platforms return 501.

OpenAI Ads (`openaiads`): `tagId` is the pixel's API id (`cds_...`) or
its `pixel_id`. OpenAI documents no single-pixel read, so the tag is
resolved from the pixel list; the response adds `code` (the official
`oaiq` base code plus `page_viewed`) and `events` (the conversion
event settings whose source is this pixel). `siteTagId` is the
`pixel_id` the site and the Conversions API send; `id` is what event
settings reference.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@param tagId Tag id (`TrackingTag.id`).
	@return TrackingTagsAPIGetTrackingTagRequest
*/
func (a *TrackingTagsAPIService) GetTrackingTag(ctx context.Context, accountId string, tagId string) TrackingTagsAPIGetTrackingTagRequest {
	return TrackingTagsAPIGetTrackingTagRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		tagId:      tagId,
	}
}

// Execute executes the request
//
//	@return GetTrackingTag200Response
func (a *TrackingTagsAPIService) GetTrackingTagExecute(r TrackingTagsAPIGetTrackingTagRequest) (*GetTrackingTag200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetTrackingTag200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.GetTrackingTag")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags/{tagId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tagId"+"}", url.PathEscape(parameterValueToString(r.tagId, "tagId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.adAccountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adAccountId", r.adAccountId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPIGetTrackingTagStatsRequest struct {
	ctx         context.Context
	ApiService  *TrackingTagsAPIService
	accountId   string
	tagId       string
	adAccountId *string
	aggregation *string
	startTime   *int32
	endTime     *int32
}

// Scopes the lookup on platforms whose tag ids live inside an ad account. Ignored elsewhere.
func (r TrackingTagsAPIGetTrackingTagStatsRequest) AdAccountId(adAccountId string) TrackingTagsAPIGetTrackingTagStatsRequest {
	r.adAccountId = &adAccountId
	return r
}

// Meta only (400 on other platforms): aggregation dimension. Defaults to &#x60;event&#x60;.
func (r TrackingTagsAPIGetTrackingTagStatsRequest) Aggregation(aggregation string) TrackingTagsAPIGetTrackingTagStatsRequest {
	r.aggregation = &aggregation
	return r
}

// Unix seconds lower bound.
func (r TrackingTagsAPIGetTrackingTagStatsRequest) StartTime(startTime int32) TrackingTagsAPIGetTrackingTagStatsRequest {
	r.startTime = &startTime
	return r
}

// Unix seconds upper bound.
func (r TrackingTagsAPIGetTrackingTagStatsRequest) EndTime(endTime int32) TrackingTagsAPIGetTrackingTagStatsRequest {
	r.endTime = &endTime
	return r
}

func (r TrackingTagsAPIGetTrackingTagStatsRequest) Execute() (*GetTrackingTagStats200Response, *http.Response, error) {
	return r.ApiService.GetTrackingTagStatsExecute(r)
}

/*
GetTrackingTagStats Get aggregated event stats

Returns event counts / health for the tag, where the platform exposes
them. Meta: aggregated counts (`GET /{pixel_id}/stats`), rows passed
through as-is; their shape depends on the `aggregation` requested.
Platforms without a stats API answer 501.

OpenAI Ads: the recent-events stream (`GET /conversions/events`), the
latest (at most 50) Pixel SDK events received in the last 15 minutes,
one row per event (`event_type`, `api_channel`, `event_timestamp_ms`,
`received_at_ms`, ...). Conversions API events are not included. It is
a fixed window: `startTime`/`endTime` answer 400. Use it to confirm an
install fires; attributed totals come from ads analytics. Accounts not
enabled for the stream answer 422 `feature_not_available`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@param tagId Tag id (`TrackingTag.id`).
	@return TrackingTagsAPIGetTrackingTagStatsRequest
*/
func (a *TrackingTagsAPIService) GetTrackingTagStats(ctx context.Context, accountId string, tagId string) TrackingTagsAPIGetTrackingTagStatsRequest {
	return TrackingTagsAPIGetTrackingTagStatsRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		tagId:      tagId,
	}
}

// Execute executes the request
//
//	@return GetTrackingTagStats200Response
func (a *TrackingTagsAPIService) GetTrackingTagStatsExecute(r TrackingTagsAPIGetTrackingTagStatsRequest) (*GetTrackingTagStats200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetTrackingTagStats200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.GetTrackingTagStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags/{tagId}/stats"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tagId"+"}", url.PathEscape(parameterValueToString(r.tagId, "tagId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.adAccountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adAccountId", r.adAccountId, "form", "")
	}
	if r.aggregation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "aggregation", r.aggregation, "form", "")
	} else {
		var defaultValue string = "event"
		parameterAddToHeaderOrQuery(localVarQueryParams, "aggregation", defaultValue, "form", "")
		r.aggregation = &defaultValue
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTime", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endTime", r.endTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPIGetTrackingTagStoreInstallRequest struct {
	ctx            context.Context
	ApiService     *TrackingTagsAPIService
	accountId      string
	tagId          string
	storeAccountId *string
	adAccountId    *string
}

// The connected Shopify or WordPress account id.
func (r TrackingTagsAPIGetTrackingTagStoreInstallRequest) StoreAccountId(storeAccountId string) TrackingTagsAPIGetTrackingTagStoreInstallRequest {
	r.storeAccountId = &storeAccountId
	return r
}

// Scopes the tag lookup on platforms whose tag ids live inside an ad account.
func (r TrackingTagsAPIGetTrackingTagStoreInstallRequest) AdAccountId(adAccountId string) TrackingTagsAPIGetTrackingTagStoreInstallRequest {
	r.adAccountId = &adAccountId
	return r
}

func (r TrackingTagsAPIGetTrackingTagStoreInstallRequest) Execute() (*GetTrackingTagStoreInstall200Response, *http.Response, error) {
	return r.ApiService.GetTrackingTagStoreInstallExecute(r)
}

/*
GetTrackingTagStoreInstall Get store install status

Whether this tag is the one the Shopify store fires for its platform. `installedTagId`
names the tag of that platform the store currently fires, which can be a different tag,
and `tags` lists every Zernio tag on the store (all platforms).

WordPress: whether the Zernio widget for this pixel is live (in an active widget area,
script intact), plus a read-only `preflight` with the theme's widget areas and, when an
install would be blocked, the `reason` POST would return. The preflight reads
capabilities only, so `ready: true` is not a guarantee: `DISALLOW_UNFILTERED_HTML` or a
multisite admin who is not a Super Admin still strips the script, which POST detects.
`tags` lists every Zernio widget on the site (all platforms, with `active`).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@param tagId Tag id (`TrackingTag.id`).
	@return TrackingTagsAPIGetTrackingTagStoreInstallRequest
*/
func (a *TrackingTagsAPIService) GetTrackingTagStoreInstall(ctx context.Context, accountId string, tagId string) TrackingTagsAPIGetTrackingTagStoreInstallRequest {
	return TrackingTagsAPIGetTrackingTagStoreInstallRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		tagId:      tagId,
	}
}

// Execute executes the request
//
//	@return GetTrackingTagStoreInstall200Response
func (a *TrackingTagsAPIService) GetTrackingTagStoreInstallExecute(r TrackingTagsAPIGetTrackingTagStoreInstallRequest) (*GetTrackingTagStoreInstall200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetTrackingTagStoreInstall200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.GetTrackingTagStoreInstall")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags/{tagId}/install"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tagId"+"}", url.PathEscape(parameterValueToString(r.tagId, "tagId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.storeAccountId == nil {
		return localVarReturnValue, nil, reportError("storeAccountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "storeAccountId", r.storeAccountId, "form", "")
	if r.adAccountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adAccountId", r.adAccountId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPIInstallTrackingTagOnStoreRequest struct {
	ctx                              context.Context
	ApiService                       *TrackingTagsAPIService
	accountId                        string
	tagId                            string
	installTrackingTagOnStoreRequest *InstallTrackingTagOnStoreRequest
}

func (r TrackingTagsAPIInstallTrackingTagOnStoreRequest) InstallTrackingTagOnStoreRequest(installTrackingTagOnStoreRequest InstallTrackingTagOnStoreRequest) TrackingTagsAPIInstallTrackingTagOnStoreRequest {
	r.installTrackingTagOnStoreRequest = &installTrackingTagOnStoreRequest
	return r
}

func (r TrackingTagsAPIInstallTrackingTagOnStoreRequest) Execute() (*InstallTrackingTagOnStore200Response, *http.Response, error) {
	return r.ApiService.InstallTrackingTagOnStoreExecute(r)
}

/*
InstallTrackingTagOnStore Install on a Shopify store or WordPress site

Puts the Meta pixel on a connected Shopify store's storefront and checkout through
Zernio's Shopify web pixel (a Shopify app pixel, no theme edits). The store then sends
PageView, ViewContent, AddToCart, Search, InitiateCheckout, AddPaymentInfo and Purchase
(with value, currency, content_ids and contents) to the pixel, each with an event id.
Purchase uses `shopify_order_{orderId}` as its event id, so a Conversions API Purchase
you send for the same order with that `eventId` is deduplicated by Meta.

Idempotent: a store runs one Zernio web pixel holding one tag per platform, so calling
it again updates the install, installing a different tag of the same platform replaces
the previous one (reported in `replacedTagId`), and other platforms' tags are kept.
Events respect the store's customer privacy settings (marketing consent).

`accountId` is the Meta ads account that owns the pixel (`tagId`); `storeAccountId` is the
Shopify account.

OpenAI Ads on Shopify: each event is sent through OpenAI's documented image tag
(`GET https://bzr.openai.com/v1/sdk/events`) as `page_viewed`, `contents_viewed`,
`items_added`, `checkout_started`, `order_created`, and custom events `search` and
`addpaymentinfo` (lowercase, so a Conversions API Search/AddPaymentInfo with the same
event id deduplicates). Amounts are sent in the currency's minor unit. The landing
page's `oppref` click id is kept in the `__oppref` cookie for 30 days and sent with
every event. The image tag cannot carry the `__obref` browser id (OpenAI rejects the
parameter), and the search text is never sent. On WordPress the widget holds the
official `oaiq` base code and a `page_viewed` call.

Stores connected before pixel support must re-approve the Zernio app:
the call then answers 409 `reconnect_required` with `details.authUrl` to send the
merchant to (the Shopify account id stays the same). Platforms without an install path
return 501.

**WordPress** (`storeAccountId` is a connected WordPress.com or self-hosted site): Zernio
adds a Custom HTML widget with the Meta pixel base code (fbevents.js, `init`, `PageView`)
to a widget area of the active theme (a footer area when there is one, else the first
active area; pass `sidebarId` to choose), then reads the widget back to confirm WordPress
kept the `<script>` tag. The widget carries a Zernio marker, so the call is idempotent
per pixel: repeating it updates or moves the same widget, and pixel code the site owner
pasted by hand is never touched. Several pixels can run side by side (one widget each).
When the site cannot run the pixel, nothing is left behind and the call answers 422
`tracking_tag_install_blocked` with `details.reason`:
- `insufficient_permissions`: the connected user lacks `edit_theme_options` (needs Administrator).
- `scripts_stripped`: WordPress removed the script (the user lacks `unfiltered_html`, e.g. a multisite admin who is not a Super Admin, or `DISALLOW_UNFILTERED_HTML` is set).
- `wordpress_com_plan`: a WordPress.com plan that strips scripts (plans without plugins).
- `no_widget_areas`: the theme has no widget areas (block themes such as Twenty Twenty-Five).
- `widgets_api_unavailable`: no widgets REST API (WordPress older than 5.8, or disabled).
The `error` message names the manual alternative (Meta's official WordPress plugin).
With `verifyHomepage` (default true) the homepage is fetched afterwards and
`homepageCheck` says whether the pixel is visible; `not_found` can be a stale page cache,
the widget read-back is authoritative.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@param tagId Tag id (`TrackingTag.id`).
	@return TrackingTagsAPIInstallTrackingTagOnStoreRequest
*/
func (a *TrackingTagsAPIService) InstallTrackingTagOnStore(ctx context.Context, accountId string, tagId string) TrackingTagsAPIInstallTrackingTagOnStoreRequest {
	return TrackingTagsAPIInstallTrackingTagOnStoreRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		tagId:      tagId,
	}
}

// Execute executes the request
//
//	@return InstallTrackingTagOnStore200Response
func (a *TrackingTagsAPIService) InstallTrackingTagOnStoreExecute(r TrackingTagsAPIInstallTrackingTagOnStoreRequest) (*InstallTrackingTagOnStore200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *InstallTrackingTagOnStore200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.InstallTrackingTagOnStore")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags/{tagId}/install"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tagId"+"}", url.PathEscape(parameterValueToString(r.tagId, "tagId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.installTrackingTagOnStoreRequest == nil {
		return localVarReturnValue, nil, reportError("installTrackingTagOnStoreRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.installTrackingTagOnStoreRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v InstallTrackingTagOnStore422Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPIListTrackingTagEventsRequest struct {
	ctx         context.Context
	ApiService  *TrackingTagsAPIService
	accountId   string
	tagId       string
	adAccountId *string
}

// Scopes the lookup on platforms whose tag ids live inside an ad account.
func (r TrackingTagsAPIListTrackingTagEventsRequest) AdAccountId(adAccountId string) TrackingTagsAPIListTrackingTagEventsRequest {
	r.adAccountId = &adAccountId
	return r
}

func (r TrackingTagsAPIListTrackingTagEventsRequest) Execute() (*ListTrackingTagEvents200Response, *http.Response, error) {
	return r.ApiService.ListTrackingTagEventsExecute(r)
}

/*
ListTrackingTagEvents List conversion events

The tag's conversion events, on platforms where each conversion is its own object:
Google conversion actions, LinkedIn conversion rules, X web event tags, OpenAI event
settings, TikTok pixel events, Meta custom conversions. Platforms where events are just
names the site sends (Pinterest) answer 501.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@param tagId Tag id (`TrackingTag.id`).
	@return TrackingTagsAPIListTrackingTagEventsRequest
*/
func (a *TrackingTagsAPIService) ListTrackingTagEvents(ctx context.Context, accountId string, tagId string) TrackingTagsAPIListTrackingTagEventsRequest {
	return TrackingTagsAPIListTrackingTagEventsRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		tagId:      tagId,
	}
}

// Execute executes the request
//
//	@return ListTrackingTagEvents200Response
func (a *TrackingTagsAPIService) ListTrackingTagEventsExecute(r TrackingTagsAPIListTrackingTagEventsRequest) (*ListTrackingTagEvents200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListTrackingTagEvents200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.ListTrackingTagEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags/{tagId}/events"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tagId"+"}", url.PathEscape(parameterValueToString(r.tagId, "tagId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.adAccountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adAccountId", r.adAccountId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPIListTrackingTagSharedAccountsRequest struct {
	ctx        context.Context
	ApiService *TrackingTagsAPIService
	accountId  string
	tagId      string
}

func (r TrackingTagsAPIListTrackingTagSharedAccountsRequest) Execute() (*ListTrackingTagSharedAccounts200Response, *http.Response, error) {
	return r.ApiService.ListTrackingTagSharedAccountsExecute(r)
}

/*
ListTrackingTagSharedAccounts List accounts it is shared with

Meta only (platform `metaads`); other platforms return 501.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@param tagId Pixel id.
	@return TrackingTagsAPIListTrackingTagSharedAccountsRequest
*/
func (a *TrackingTagsAPIService) ListTrackingTagSharedAccounts(ctx context.Context, accountId string, tagId string) TrackingTagsAPIListTrackingTagSharedAccountsRequest {
	return TrackingTagsAPIListTrackingTagSharedAccountsRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		tagId:      tagId,
	}
}

// Execute executes the request
//
//	@return ListTrackingTagSharedAccounts200Response
func (a *TrackingTagsAPIService) ListTrackingTagSharedAccountsExecute(r TrackingTagsAPIListTrackingTagSharedAccountsRequest) (*ListTrackingTagSharedAccounts200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListTrackingTagSharedAccounts200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.ListTrackingTagSharedAccounts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags/{tagId}/shared-accounts"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tagId"+"}", url.PathEscape(parameterValueToString(r.tagId, "tagId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPIListTrackingTagsRequest struct {
	ctx         context.Context
	ApiService  *TrackingTagsAPIService
	accountId   string
	adAccountId *string
}

// Optional, Meta only. Scope to one ad account, e.g. &#x60;act_123456789&#x60;. Ignored for OpenAI Ads.
func (r TrackingTagsAPIListTrackingTagsRequest) AdAccountId(adAccountId string) TrackingTagsAPIListTrackingTagsRequest {
	r.adAccountId = &adAccountId
	return r
}

func (r TrackingTagsAPIListTrackingTagsRequest) Execute() (*ListTrackingTags200Response, *http.Response, error) {
	return r.ApiService.ListTrackingTagsExecute(r)
}

/*
ListTrackingTags List tracking tags

Returns the tracking tags (Meta Pixels, or OpenAI Ads pixels) the
connected ads account can see. Pass `?adAccountId=act_...` (Meta only)
to scope the list to a single ad account; omit it to list every pixel
reachable by the token (the name is then suffixed with the ad account
it was discovered on, for disambiguation). The list view omits `code`.
Call `getTrackingTag` for the install snippet and full detail.

Meta (platform `metaads`) and OpenAI Ads (platform `openaiads`); other
platforms return 501. The `accountId` must be the ads SocialAccount
created by the Ads add-on connect flow (Meta) or the OpenAI Ads
connect flow, not a Facebook/Instagram posting account. Get your Meta
`act_...` ids from `GET /v1/ads/accounts`; `adAccountId` is ignored for
OpenAI Ads (one API key maps to exactly one ad account).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId Ads SocialAccount id (platform `metaads` or `openaiads`).
	@return TrackingTagsAPIListTrackingTagsRequest
*/
func (a *TrackingTagsAPIService) ListTrackingTags(ctx context.Context, accountId string) TrackingTagsAPIListTrackingTagsRequest {
	return TrackingTagsAPIListTrackingTagsRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
	}
}

// Execute executes the request
//
//	@return ListTrackingTags200Response
func (a *TrackingTagsAPIService) ListTrackingTagsExecute(r TrackingTagsAPIListTrackingTagsRequest) (*ListTrackingTags200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListTrackingTags200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.ListTrackingTags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.adAccountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adAccountId", r.adAccountId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPIRemoveTrackingTagFromStoreRequest struct {
	ctx            context.Context
	ApiService     *TrackingTagsAPIService
	accountId      string
	tagId          string
	storeAccountId *string
	adAccountId    *string
}

// The connected Shopify or WordPress account id.
func (r TrackingTagsAPIRemoveTrackingTagFromStoreRequest) StoreAccountId(storeAccountId string) TrackingTagsAPIRemoveTrackingTagFromStoreRequest {
	r.storeAccountId = &storeAccountId
	return r
}

// Scopes the tag lookup on platforms whose tag ids live inside an ad account.
func (r TrackingTagsAPIRemoveTrackingTagFromStoreRequest) AdAccountId(adAccountId string) TrackingTagsAPIRemoveTrackingTagFromStoreRequest {
	r.adAccountId = &adAccountId
	return r
}

func (r TrackingTagsAPIRemoveTrackingTagFromStoreRequest) Execute() (*RemoveTrackingTagFromStore200Response, *http.Response, error) {
	return r.ApiService.RemoveTrackingTagFromStoreExecute(r)
}

/*
RemoveTrackingTagFromStore Remove from a Shopify store or WordPress site

Removes the tag from the store. Idempotent: nothing installed returns 200 with
`installed: false`. If the store fires a different tag of the same platform, nothing is
removed and the call answers 409 `invalid_resource_state`. Shopify: other platforms'
tags stay; the web pixel itself is deleted once no tag remains.

WordPress: deletes every widget Zernio created for this pixel and reports how many in
`removed` (0 when nothing was installed). Pixel code added by hand is left alone.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@param tagId Tag id (`TrackingTag.id`).
	@return TrackingTagsAPIRemoveTrackingTagFromStoreRequest
*/
func (a *TrackingTagsAPIService) RemoveTrackingTagFromStore(ctx context.Context, accountId string, tagId string) TrackingTagsAPIRemoveTrackingTagFromStoreRequest {
	return TrackingTagsAPIRemoveTrackingTagFromStoreRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		tagId:      tagId,
	}
}

// Execute executes the request
//
//	@return RemoveTrackingTagFromStore200Response
func (a *TrackingTagsAPIService) RemoveTrackingTagFromStoreExecute(r TrackingTagsAPIRemoveTrackingTagFromStoreRequest) (*RemoveTrackingTagFromStore200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RemoveTrackingTagFromStore200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.RemoveTrackingTagFromStore")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags/{tagId}/install"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tagId"+"}", url.PathEscape(parameterValueToString(r.tagId, "tagId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.storeAccountId == nil {
		return localVarReturnValue, nil, reportError("storeAccountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "storeAccountId", r.storeAccountId, "form", "")
	if r.adAccountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adAccountId", r.adAccountId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPIRemoveTrackingTagSharedAccountRequest struct {
	ctx         context.Context
	ApiService  *TrackingTagsAPIService
	accountId   string
	tagId       string
	adAccountId *string
}

// Ad account to unshare, e.g. &#x60;act_123456789&#x60;. May also be sent in the JSON body.
func (r TrackingTagsAPIRemoveTrackingTagSharedAccountRequest) AdAccountId(adAccountId string) TrackingTagsAPIRemoveTrackingTagSharedAccountRequest {
	r.adAccountId = &adAccountId
	return r
}

func (r TrackingTagsAPIRemoveTrackingTagSharedAccountRequest) Execute() (*http.Response, error) {
	return r.ApiService.RemoveTrackingTagSharedAccountExecute(r)
}

/*
RemoveTrackingTagSharedAccount Stop sharing with an account

`adAccountId` may be passed as a query parameter (recommended) or as a
JSON body field for clients that can send DELETE bodies. Meta only
(platform `metaads`); other platforms return 501.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@param tagId Pixel id.
	@return TrackingTagsAPIRemoveTrackingTagSharedAccountRequest
*/
func (a *TrackingTagsAPIService) RemoveTrackingTagSharedAccount(ctx context.Context, accountId string, tagId string) TrackingTagsAPIRemoveTrackingTagSharedAccountRequest {
	return TrackingTagsAPIRemoveTrackingTagSharedAccountRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
		tagId:      tagId,
	}
}

// Execute executes the request
func (a *TrackingTagsAPIService) RemoveTrackingTagSharedAccountExecute(r TrackingTagsAPIRemoveTrackingTagSharedAccountRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.RemoveTrackingTagSharedAccount")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/tracking-tags/{tagId}/shared-accounts"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tagId"+"}", url.PathEscape(parameterValueToString(r.tagId, "tagId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.adAccountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adAccountId", r.adAccountId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TrackingTagsAPIUpdateAdTrackingTagsRequest struct {
	ctx                         context.Context
	ApiService                  *TrackingTagsAPIService
	adId                        string
	updateAdTrackingTagsRequest *UpdateAdTrackingTagsRequest
}

func (r TrackingTagsAPIUpdateAdTrackingTagsRequest) UpdateAdTrackingTagsRequest(updateAdTrackingTagsRequest UpdateAdTrackingTagsRequest) TrackingTagsAPIUpdateAdTrackingTagsRequest {
	r.updateAdTrackingTagsRequest = &updateAdTrackingTagsRequest
	return r
}

func (r TrackingTagsAPIUpdateAdTrackingTagsRequest) Execute() (*UpdateAdTrackingTags200Response, *http.Response, error) {
	return r.ApiService.UpdateAdTrackingTagsExecute(r)
}

/*
UpdateAdTrackingTags Set ad tracking tags

Unified update. Send only the fields for the ad's platform:

  - Meta: `urlTags` (array of {key,value}). Meta creatives are immutable, so this rebuilds the
    creative and repoints the ad. By DEFAULT we PRESERVE the existing creative verbatim
    (re-post its object_story_spec + the new url_tags, reusing the image), so you send `urlTags`
    ALONE, with no need to read back headline/body/CTA. `creative` (headline, body, callToAction,
    linkUrl, imageUrl) is OPTIONAL and only needed to rebuild explicitly, or for SHARE / page-post
    / dark / asset_feed creatives whose object_story_spec Meta strips (those return 422 asking for
    `creative`).

  - Google: `trackingUrlTemplate` and/or `finalUrlSuffix` (full template strings; account quota applies).

  - LinkedIn: `dynamicValueParameters` and/or `customValueParameters` (campaign-level Dynamic UTM).

    @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
    @param adId
    @return TrackingTagsAPIUpdateAdTrackingTagsRequest
*/
func (a *TrackingTagsAPIService) UpdateAdTrackingTags(ctx context.Context, adId string) TrackingTagsAPIUpdateAdTrackingTagsRequest {
	return TrackingTagsAPIUpdateAdTrackingTagsRequest{
		ApiService: a,
		ctx:        ctx,
		adId:       adId,
	}
}

// Execute executes the request
//
//	@return UpdateAdTrackingTags200Response
func (a *TrackingTagsAPIService) UpdateAdTrackingTagsExecute(r TrackingTagsAPIUpdateAdTrackingTagsRequest) (*UpdateAdTrackingTags200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UpdateAdTrackingTags200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingTagsAPIService.UpdateAdTrackingTags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ads/{adId}/tracking-tags"
	localVarPath = strings.Replace(localVarPath, "{"+"adId"+"}", url.PathEscape(parameterValueToString(r.adId, "adId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateAdTrackingTagsRequest == nil {
		return localVarReturnValue, nil, reportError("updateAdTrackingTagsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateAdTrackingTagsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackingTagsAPIUpdateTrackingTagRequest struct {
	ctx                      context.Context
	ApiService               *TrackingTagsAPIService
	accountId                string
	tagId                    string
	updateTrackingTagRequest *UpdateTrackingTagRequest
}

func (r TrackingTagsAPIUpdateTrackingTagRequest) UpdateTrackingTagRequest(updateTrackingTagRequest UpdateTrackingTagRequest) TrackingTagsAPIUpdateTrackingTagRequest {
	r.updateTrackingTagRequest = &updateTrackingTagRequest
	return r
}

func (r TrackingTagsAPIUpdateTrackingTagRequest) Execute() (*GetTrackingTag200Response, *http.Response, error) {
	return r.ApiService.UpdateTrackingTagExecute(r)
}

/*
UpdateTrackingTag Update a tracking tag

Partial-update a pixel. Whitelisted fields: `name` (rename),
`enableAutomaticMatching`, `automaticMatchingFields`,
`firstPartyCookieStatus`, `dataUseSetting`. At least one is required.
Returns the re-fetched canonical tag. Meta only (platform `metaads`);
other platforms return 501.

[...]
