/*
Zernio API

API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api

API version: 1.0.4
Contact: support@zernio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zernio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// GMBLocationDetailsAPIService GMBLocationDetailsAPI service
type GMBLocationDetailsAPIService service

type GMBLocationDetailsAPIGetGoogleBusinessLocationDetailsRequest struct {
	ctx        context.Context
	ApiService *GMBLocationDetailsAPIService
	accountId  string
	locationId *string
	readMask   *string
}

// Override which location to query. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
func (r GMBLocationDetailsAPIGetGoogleBusinessLocationDetailsRequest) LocationId(locationId string) GMBLocationDetailsAPIGetGoogleBusinessLocationDetailsRequest {
	r.locationId = &locationId
	return r
}

// Comma-separated fields to return. Available: name, title, phoneNumbers, categories, storefrontAddress, websiteUri, regularHours, specialHours, serviceArea, serviceItems, profile, openInfo, metadata, moreHours. &#x60;title&#x60; and &#x60;metadata&#x60; are always included in the response so the &#x60;location&#x60; summary block can be populated, even if you omit them here. Note: &#x60;location&#x60; is a derived response field, not a Google readMask value, passing it returns 400.
func (r GMBLocationDetailsAPIGetGoogleBusinessLocationDetailsRequest) ReadMask(readMask string) GMBLocationDetailsAPIGetGoogleBusinessLocationDetailsRequest {
	r.readMask = &readMask
	return r
}

func (r GMBLocationDetailsAPIGetGoogleBusinessLocationDetailsRequest) Execute() (*GetGoogleBusinessLocationDetails200Response, *http.Response, error) {
	return r.ApiService.GetGoogleBusinessLocationDetailsExecute(r)
}

/*
GetGoogleBusinessLocationDetails Get location details

Returns detailed GBP location info (hours, description, phone, website, categories, services). Use readMask to request specific fields.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId The Zernio account ID (from /v1/accounts)
	@return GMBLocationDetailsAPIGetGoogleBusinessLocationDetailsRequest
*/
func (a *GMBLocationDetailsAPIService) GetGoogleBusinessLocationDetails(ctx context.Context, accountId string) GMBLocationDetailsAPIGetGoogleBusinessLocationDetailsRequest {
	return GMBLocationDetailsAPIGetGoogleBusinessLocationDetailsRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
	}
}

// Execute executes the request
//
//	@return GetGoogleBusinessLocationDetails200Response
func (a *GMBLocationDetailsAPIService) GetGoogleBusinessLocationDetailsExecute(r GMBLocationDetailsAPIGetGoogleBusinessLocationDetailsRequest) (*GetGoogleBusinessLocationDetails200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetGoogleBusinessLocationDetails200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GMBLocationDetailsAPIService.GetGoogleBusinessLocationDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/gmb-location-details"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.locationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationId", r.locationId, "form", "")
	}
	if r.readMask != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "readMask", r.readMask, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GMBLocationDetailsAPIUpdateGoogleBusinessLocationDetailsRequest struct {
	ctx                                        context.Context
	ApiService                                 *GMBLocationDetailsAPIService
	accountId                                  string
	updateGoogleBusinessLocationDetailsRequest *UpdateGoogleBusinessLocationDetailsRequest
	locationId                                 *string
}

func (r GMBLocationDetailsAPIUpdateGoogleBusinessLocationDetailsRequest) UpdateGoogleBusinessLocationDetailsRequest(updateGoogleBusinessLocationDetailsRequest UpdateGoogleBusinessLocationDetailsRequest) GMBLocationDetailsAPIUpdateGoogleBusinessLocationDetailsRequest {
	r.updateGoogleBusinessLocationDetailsRequest = &updateGoogleBusinessLocationDetailsRequest
	return r
}

// Override which location to target. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
func (r GMBLocationDetailsAPIUpdateGoogleBusinessLocationDetailsRequest) LocationId(locationId string) GMBLocationDetailsAPIUpdateGoogleBusinessLocationDetailsRequest {
	r.locationId = &locationId
	return r
}

func (r GMBLocationDetailsAPIUpdateGoogleBusinessLocationDetailsRequest) Execute() (*UpdateGoogleBusinessLocationDetails200Response, *http.Response, error) {
	return r.ApiService.UpdateGoogleBusinessLocationDetailsExecute(r)
}

/*
UpdateGoogleBusinessLocationDetails Update location details

Updates GBP location details. The updateMask field is required and specifies which fields to update.
This endpoint proxies Google's Business Information API locations.patch, so any valid updateMask field is supported.
Common fields: regularHours, specialHours, profile.description, websiteUri, phoneNumbers, categories, serviceItems.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId The Zernio account ID (from /v1/accounts)
	@return GMBLocationDetailsAPIUpdateGoogleBusinessLocationDetailsRequest
*/
func (a *GMBLocationDetailsAPIService) UpdateGoogleBusinessLocationDetails(ctx context.Context, accountId string) GMBLocationDetailsAPIUpdateGoogleBusinessLocationDetailsRequest {
	return GMBLocationDetailsAPIUpdateGoogleBusinessLocationDetailsRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
	}
}

// Execute executes the request
//
//	@return UpdateGoogleBusinessLocationDetails200Response
func (a *GMBLocationDetailsAPIService) UpdateGoogleBusinessLocationDetailsExecute(r GMBLocationDetailsAPIUpdateGoogleBusinessLocationDetailsRequest) (*UpdateGoogleBusinessLocationDetails200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UpdateGoogleBusinessLocationDetails200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GMBLocationDetailsAPIService.UpdateGoogleBusinessLocationDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/gmb-location-details"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateGoogleBusinessLocationDetailsRequest == nil {
		return localVarReturnValue, nil, reportError("updateGoogleBusinessLocationDetailsRequest is required and must be specified")
	}

	if r.locationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationId", r.locationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateGoogleBusinessLocationDetailsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
