/*
Zernio API

API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api

API version: 1.0.4
Contact: support@zernio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zernio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// GMBServicesAPIService GMBServicesAPI service
type GMBServicesAPIService service

type GMBServicesAPIGetGoogleBusinessServicesRequest struct {
	ctx        context.Context
	ApiService *GMBServicesAPIService
	accountId  string
	locationId *string
}

// Override which location to query. If omitted, uses the account&#39;s selected location.
func (r GMBServicesAPIGetGoogleBusinessServicesRequest) LocationId(locationId string) GMBServicesAPIGetGoogleBusinessServicesRequest {
	r.locationId = &locationId
	return r
}

func (r GMBServicesAPIGetGoogleBusinessServicesRequest) Execute() (*GetGoogleBusinessServices200Response, *http.Response, error) {
	return r.ApiService.GetGoogleBusinessServicesExecute(r)
}

/*
GetGoogleBusinessServices Get services

Gets the services offered by a Google Business Profile location.
Returns an array of service items (structured or free-form with optional price).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@return GMBServicesAPIGetGoogleBusinessServicesRequest
*/
func (a *GMBServicesAPIService) GetGoogleBusinessServices(ctx context.Context, accountId string) GMBServicesAPIGetGoogleBusinessServicesRequest {
	return GMBServicesAPIGetGoogleBusinessServicesRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
	}
}

// Execute executes the request
//
//	@return GetGoogleBusinessServices200Response
func (a *GMBServicesAPIService) GetGoogleBusinessServicesExecute(r GMBServicesAPIGetGoogleBusinessServicesRequest) (*GetGoogleBusinessServices200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetGoogleBusinessServices200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GMBServicesAPIService.GetGoogleBusinessServices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/gmb-services"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.locationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationId", r.locationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GMBServicesAPIUpdateGoogleBusinessServicesRequest struct {
	ctx                                 context.Context
	ApiService                          *GMBServicesAPIService
	accountId                           string
	updateGoogleBusinessServicesRequest *UpdateGoogleBusinessServicesRequest
	locationId                          *string
}

func (r GMBServicesAPIUpdateGoogleBusinessServicesRequest) UpdateGoogleBusinessServicesRequest(updateGoogleBusinessServicesRequest UpdateGoogleBusinessServicesRequest) GMBServicesAPIUpdateGoogleBusinessServicesRequest {
	r.updateGoogleBusinessServicesRequest = &updateGoogleBusinessServicesRequest
	return r
}

// Override which location to target. If omitted, uses the account&#39;s selected location.
func (r GMBServicesAPIUpdateGoogleBusinessServicesRequest) LocationId(locationId string) GMBServicesAPIUpdateGoogleBusinessServicesRequest {
	r.locationId = &locationId
	return r
}

func (r GMBServicesAPIUpdateGoogleBusinessServicesRequest) Execute() (*UpdateGoogleBusinessServices200Response, *http.Response, error) {
	return r.ApiService.UpdateGoogleBusinessServicesExecute(r)
}

/*
UpdateGoogleBusinessServices Replace services

Replaces the entire service list for a location.
Google's API requires full replacement; individual item updates are not supported.
Each service can be structured (using a predefined serviceTypeId) or free-form (custom label).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@return GMBServicesAPIUpdateGoogleBusinessServicesRequest
*/
func (a *GMBServicesAPIService) UpdateGoogleBusinessServices(ctx context.Context, accountId string) GMBServicesAPIUpdateGoogleBusinessServicesRequest {
	return GMBServicesAPIUpdateGoogleBusinessServicesRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
	}
}

// Execute executes the request
//
//	@return UpdateGoogleBusinessServices200Response
func (a *GMBServicesAPIService) UpdateGoogleBusinessServicesExecute(r GMBServicesAPIUpdateGoogleBusinessServicesRequest) (*UpdateGoogleBusinessServices200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UpdateGoogleBusinessServices200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GMBServicesAPIService.UpdateGoogleBusinessServices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/gmb-services"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateGoogleBusinessServicesRequest == nil {
		return localVarReturnValue, nil, reportError("updateGoogleBusinessServicesRequest is required and must be specified")
	}

	if r.locationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationId", r.locationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateGoogleBusinessServicesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
