/*
Zernio API

API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api

API version: 1.0.4
Contact: support@zernio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zernio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// MentionsAPIService MentionsAPI service
type MentionsAPIService service

type MentionsAPIListInboxMentionsRequest struct {
	ctx        context.Context
	ApiService *MentionsAPIService
	accountId  *string
	profileId  *string
	sortOrder  *string
	limit      *int32
	cursor     *string
}

// Filter by social account ID
func (r MentionsAPIListInboxMentionsRequest) AccountId(accountId string) MentionsAPIListInboxMentionsRequest {
	r.accountId = &accountId
	return r
}

// Filter by profile ID
func (r MentionsAPIListInboxMentionsRequest) ProfileId(profileId string) MentionsAPIListInboxMentionsRequest {
	r.profileId = &profileId
	return r
}

// Sort order by publishedAt
func (r MentionsAPIListInboxMentionsRequest) SortOrder(sortOrder string) MentionsAPIListInboxMentionsRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r MentionsAPIListInboxMentionsRequest) Limit(limit int32) MentionsAPIListInboxMentionsRequest {
	r.limit = &limit
	return r
}

// Cursor for pagination (ID of the last item from the previous page)
func (r MentionsAPIListInboxMentionsRequest) Cursor(cursor string) MentionsAPIListInboxMentionsRequest {
	r.cursor = &cursor
	return r
}

func (r MentionsAPIListInboxMentionsRequest) Execute() (*ListInboxMentions200Response, *http.Response, error) {
	return r.ApiService.ListInboxMentionsExecute(r)
}

/*
ListInboxMentions List mentions

Returns mentions of your connected organization accounts, delivered via platform webhooks.
Currently supports LinkedIn organization mentions.

Requires Inbox addon.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MentionsAPIListInboxMentionsRequest
*/
func (a *MentionsAPIService) ListInboxMentions(ctx context.Context) MentionsAPIListInboxMentionsRequest {
	return MentionsAPIListInboxMentionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListInboxMentions200Response
func (a *MentionsAPIService) ListInboxMentionsExecute(r MentionsAPIListInboxMentionsRequest) (*ListInboxMentions200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListInboxMentions200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MentionsAPIService.ListInboxMentions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inbox/mentions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.profileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "profileId", r.profileId, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	} else {
		var defaultValue string = "desc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", defaultValue, "form", "")
		r.sortOrder = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
