/*
Zernio API

API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api

API version: 1.0.4
Contact: support@zernio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zernio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// AdInsightsAPIService AdInsightsAPI service
type AdInsightsAPIService service

type AdInsightsAPICreateAdInsightsReportRequest struct {
	ctx                           context.Context
	ApiService                    *AdInsightsAPIService
	createAdInsightsReportRequest *CreateAdInsightsReportRequest
}

func (r AdInsightsAPICreateAdInsightsReportRequest) CreateAdInsightsReportRequest(createAdInsightsReportRequest CreateAdInsightsReportRequest) AdInsightsAPICreateAdInsightsReportRequest {
	r.createAdInsightsReportRequest = &createAdInsightsReportRequest
	return r
}

func (r AdInsightsAPICreateAdInsightsReportRequest) Execute() (*CreateAdInsightsReport202Response, *http.Response, error) {
	return r.ApiService.CreateAdInsightsReportExecute(r)
}

/*
CreateAdInsightsReport Submit an async insights report run

Submits an asynchronous Meta insights report. Same query surface as GET /v1/ads/insights, but
in the JSON body; Meta processes the report server-side, which is the right choice for long
ranges or large accounts where the sync query is slow or rate-limited. Returns a `reportRunId`
to poll via GET /v1/ads/insights/reports/{reportRunId}.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdInsightsAPICreateAdInsightsReportRequest
*/
func (a *AdInsightsAPIService) CreateAdInsightsReport(ctx context.Context) AdInsightsAPICreateAdInsightsReportRequest {
	return AdInsightsAPICreateAdInsightsReportRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CreateAdInsightsReport202Response
func (a *AdInsightsAPIService) CreateAdInsightsReportExecute(r AdInsightsAPICreateAdInsightsReportRequest) (*CreateAdInsightsReport202Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreateAdInsightsReport202Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdInsightsAPIService.CreateAdInsightsReport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ads/insights/reports"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createAdInsightsReportRequest == nil {
		return localVarReturnValue, nil, reportError("createAdInsightsReportRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createAdInsightsReportRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdInsightsAPIGetAdAnalyticsRequest struct {
	ctx        context.Context
	ApiService *AdInsightsAPIService
	adId       string
	fromDate   *string
	toDate     *string
	breakdowns *string
}

// Start of date range (YYYY-MM-DD). Defaults to 90 days ago.
func (r AdInsightsAPIGetAdAnalyticsRequest) FromDate(fromDate string) AdInsightsAPIGetAdAnalyticsRequest {
	r.fromDate = &fromDate
	return r
}

// End of date range (YYYY-MM-DD). Defaults to today. Max 730-day range.
func (r AdInsightsAPIGetAdAnalyticsRequest) ToDate(toDate string) AdInsightsAPIGetAdAnalyticsRequest {
	r.toDate = &toDate
	return r
}

// Comma-separated breakdown dimensions.  **Meta**: age, gender, country, publisher_platform, device_platform, region.  **TikTok**: gender, age, country_code, platform, ac, language.  **LinkedIn** (firmographics): job_title, job_function, seniority, industry, company, company_size, country, region. Rows carry the raw pivot &#x60;value&#x60; plus a resolved &#x60;name&#x60;. LinkedIn serves these aggregated over the whole range, delays the data 12-24h, and omits segments with fewer than 3 events.
func (r AdInsightsAPIGetAdAnalyticsRequest) Breakdowns(breakdowns string) AdInsightsAPIGetAdAnalyticsRequest {
	r.breakdowns = &breakdowns
	return r
}

func (r AdInsightsAPIGetAdAnalyticsRequest) Execute() (*GetAdAnalytics200Response, *http.Response, error) {
	return r.ApiService.GetAdAnalyticsExecute(r)
}

/*
GetAdAnalytics Get ad analytics

Returns detailed performance analytics for an ad. Includes summary metrics, a daily timeline
over the requested date range, and optional demographic breakdowns (Meta and TikTok only).
If no date range is provided, defaults to the last 90 days. Date range is capped at 730 days max.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param adId
	@return AdInsightsAPIGetAdAnalyticsRequest
*/
func (a *AdInsightsAPIService) GetAdAnalytics(ctx context.Context, adId string) AdInsightsAPIGetAdAnalyticsRequest {
	return AdInsightsAPIGetAdAnalyticsRequest{
		ApiService: a,
		ctx:        ctx,
		adId:       adId,
	}
}

// Execute executes the request
//
//	@return GetAdAnalytics200Response
func (a *AdInsightsAPIService) GetAdAnalyticsExecute(r AdInsightsAPIGetAdAnalyticsRequest) (*GetAdAnalytics200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetAdAnalytics200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdInsightsAPIService.GetAdAnalytics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ads/{adId}/analytics"
	localVarPath = strings.Replace(localVarPath, "{"+"adId"+"}", url.PathEscape(parameterValueToString(r.adId, "adId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fromDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromDate", r.fromDate, "form", "")
	}
	if r.toDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toDate", r.toDate, "form", "")
	}
	if r.breakdowns != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "breakdowns", r.breakdowns, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdInsightsAPIGetAdInsightsReportRequest struct {
	ctx         context.Context
	ApiService  *AdInsightsAPIService
	reportRunId string
	accountId   *string
	limit       *int32
	after       *string
}

// Zernio SocialAccount id used to resolve the Meta token (must be the same connection that created the run).
func (r AdInsightsAPIGetAdInsightsReportRequest) AccountId(accountId string) AdInsightsAPIGetAdInsightsReportRequest {
	r.accountId = &accountId
	return r
}

func (r AdInsightsAPIGetAdInsightsReportRequest) Limit(limit int32) AdInsightsAPIGetAdInsightsReportRequest {
	r.limit = &limit
	return r
}

func (r AdInsightsAPIGetAdInsightsReportRequest) After(after string) AdInsightsAPIGetAdInsightsReportRequest {
	r.after = &after
	return r
}

func (r AdInsightsAPIGetAdInsightsReportRequest) Execute() (*GetAdInsightsReport200Response, *http.Response, error) {
	return r.ApiService.GetAdInsightsReportExecute(r)
}

/*
GetAdInsightsReport Poll an async insights report run

Status and results for a report run created via POST /v1/ads/insights/reports. While the job
runs, returns `status` and `percentCompletion`. Once `status` is "Job Completed" the response
also carries a `data` page, cursor-paginated via `limit` / `after`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param reportRunId
	@return AdInsightsAPIGetAdInsightsReportRequest
*/
func (a *AdInsightsAPIService) GetAdInsightsReport(ctx context.Context, reportRunId string) AdInsightsAPIGetAdInsightsReportRequest {
	return AdInsightsAPIGetAdInsightsReportRequest{
		ApiService:  a,
		ctx:         ctx,
		reportRunId: reportRunId,
	}
}

// Execute executes the request
//
//	@return GetAdInsightsReport200Response
func (a *AdInsightsAPIService) GetAdInsightsReportExecute(r AdInsightsAPIGetAdInsightsReportRequest) (*GetAdInsightsReport200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetAdInsightsReport200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdInsightsAPIService.GetAdInsightsReport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ads/insights/reports/{reportRunId}"
	localVarPath = strings.Replace(localVarPath, "{"+"reportRunId"+"}", url.PathEscape(parameterValueToString(r.reportRunId, "reportRunId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdInsightsAPIGetCampaignAnalyticsRequest struct {
	ctx        context.Context
	ApiService *AdInsightsAPIService
	campaignId string
	platform   *string
	fromDate   *string
	toDate     *string
	breakdowns *string
}

// Disambiguate when the campaign id exists across platforms (e.g. facebook, instagram).
func (r AdInsightsAPIGetCampaignAnalyticsRequest) Platform(platform string) AdInsightsAPIGetCampaignAnalyticsRequest {
	r.platform = &platform
	return r
}

// Start of date range (YYYY-MM-DD). Defaults to 90 days ago.
func (r AdInsightsAPIGetCampaignAnalyticsRequest) FromDate(fromDate string) AdInsightsAPIGetCampaignAnalyticsRequest {
	r.fromDate = &fromDate
	return r
}

// End of date range (YYYY-MM-DD). Defaults to today. Max 730-day range.
func (r AdInsightsAPIGetCampaignAnalyticsRequest) ToDate(toDate string) AdInsightsAPIGetCampaignAnalyticsRequest {
	r.toDate = &toDate
	return r
}

// Comma-separated breakdown dimensions.  **Meta**: age, gender, country, publisher_platform, device_platform, region, platform_position, impression_device, video_asset, image_asset, body_asset, title_asset.  **LinkedIn** (firmographics): job_title, job_function, seniority, industry, company, company_size, country, region. Rows carry the raw pivot &#x60;value&#x60; plus a resolved &#x60;name&#x60;. LinkedIn serves these aggregated over the whole range, delays the data 12-24h, and omits segments with fewer than 3 events.
func (r AdInsightsAPIGetCampaignAnalyticsRequest) Breakdowns(breakdowns string) AdInsightsAPIGetCampaignAnalyticsRequest {
	r.breakdowns = &breakdowns
	return r
}

func (r AdInsightsAPIGetCampaignAnalyticsRequest) Execute() (*GetCampaignAnalytics200Response, *http.Response, error) {
	return r.ApiService.GetCampaignAnalyticsExecute(r)
}

/*
GetCampaignAnalytics Get campaign analytics

Returns performance analytics for a whole campaign in one call: summary metrics, a daily
timeline over the requested date range (summed across the campaign's ads), and optional
demographic breakdowns. Breakdowns are fetched live from Meta at the campaign level (one call
per dimension, no per-ad fan-out), so an agency dashboard gets campaign-level age/gender/etc.
without summing thousands of per-ad reads. `campaignId` is the platform campaign id; pass
`platform` when a campaign id could be ambiguous across platforms. If no date range is provided,
defaults to the last 90 days. Date range is capped at 730 days max.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param campaignId Platform campaign id (platformCampaignId).
	@return AdInsightsAPIGetCampaignAnalyticsRequest
*/
func (a *AdInsightsAPIService) GetCampaignAnalytics(ctx context.Context, campaignId string) AdInsightsAPIGetCampaignAnalyticsRequest {
	return AdInsightsAPIGetCampaignAnalyticsRequest{
		ApiService: a,
		ctx:        ctx,
		campaignId: campaignId,
	}
}

// Execute executes the request
//
//	@return GetCampaignAnalytics200Response
func (a *AdInsightsAPIService) GetCampaignAnalyticsExecute(r AdInsightsAPIGetCampaignAnalyticsRequest) (*GetCampaignAnalytics200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetCampaignAnalytics200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdInsightsAPIService.GetCampaignAnalytics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ads/campaigns/{campaignId}/analytics"
	localVarPath = strings.Replace(localVarPath, "{"+"campaignId"+"}", url.PathEscape(parameterValueToString(r.campaignId, "campaignId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	}
	if r.fromDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromDate", r.fromDate, "form", "")
	}
	if r.toDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toDate", r.toDate, "form", "")
	}
	if r.breakdowns != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "breakdowns", r.breakdowns, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdInsightsAPIQueryAdInsightsRequest struct {
	ctx                          context.Context
	ApiService                   *AdInsightsAPIService
	accountId                    *string
	objectId                     *string
	level                        *string
	fields                       *string
	breakdowns                   *string
	actionBreakdowns             *string
	actionAttributionWindows     *string
	actionReportTime             *string
	useUnifiedAttributionSetting *bool
	filtering                    *string
	datePreset                   *string
	fromDate                     *string
	toDate                       *string
	timeIncrement                *string
	limit                        *int32
	after                        *string
}

// Zernio SocialAccount id (posting or ads variant) used to resolve the Meta token.
func (r AdInsightsAPIQueryAdInsightsRequest) AccountId(accountId string) AdInsightsAPIQueryAdInsightsRequest {
	r.accountId = &accountId
	return r
}

// Meta insights node: act_&lt;n&gt;, campaign id, ad set id or ad id.
func (r AdInsightsAPIQueryAdInsightsRequest) ObjectId(objectId string) AdInsightsAPIQueryAdInsightsRequest {
	r.objectId = &objectId
	return r
}

// Row granularity
func (r AdInsightsAPIQueryAdInsightsRequest) Level(level string) AdInsightsAPIQueryAdInsightsRequest {
	r.level = &level
	return r
}

// Comma-separated Graph insights fields (e.g. spend,impressions,frequency,website_purchase_roas). Omitted &#x3D; Meta&#39;s default set.
func (r AdInsightsAPIQueryAdInsightsRequest) Fields(fields string) AdInsightsAPIQueryAdInsightsRequest {
	r.fields = &fields
	return r
}

// Comma-separated Graph breakdowns (e.g. age,gender or publisher_platform).
func (r AdInsightsAPIQueryAdInsightsRequest) Breakdowns(breakdowns string) AdInsightsAPIQueryAdInsightsRequest {
	r.breakdowns = &breakdowns
	return r
}

// Comma-separated Graph action breakdowns. Segments the actions[] arrays in each row.
func (r AdInsightsAPIQueryAdInsightsRequest) ActionBreakdowns(actionBreakdowns string) AdInsightsAPIQueryAdInsightsRequest {
	r.actionBreakdowns = &actionBreakdowns
	return r
}

// Comma-separated Meta attribution windows. Action values are returned keyed per window.
func (r AdInsightsAPIQueryAdInsightsRequest) ActionAttributionWindows(actionAttributionWindows string) AdInsightsAPIQueryAdInsightsRequest {
	r.actionAttributionWindows = &actionAttributionWindows
	return r
}

// When actions are counted: impression, conversion or mixed.
func (r AdInsightsAPIQueryAdInsightsRequest) ActionReportTime(actionReportTime string) AdInsightsAPIQueryAdInsightsRequest {
	r.actionReportTime = &actionReportTime
	return r
}

// Use the ad sets&#39; own attribution settings for action counting.
func (r AdInsightsAPIQueryAdInsightsRequest) UseUnifiedAttributionSetting(useUnifiedAttributionSetting bool) AdInsightsAPIQueryAdInsightsRequest {
	r.useUnifiedAttributionSetting = &useUnifiedAttributionSetting
	return r
}

// JSON array of Meta filter objects: [{\&quot;field\&quot;, \&quot;operator\&quot;, \&quot;value\&quot;}]. Applied server-side by Meta.
func (r AdInsightsAPIQueryAdInsightsRequest) Filtering(filtering string) AdInsightsAPIQueryAdInsightsRequest {
	r.filtering = &filtering
	return r
}

// Meta date_preset (e.g. last_7d, last_30d, this_month). Mutually exclusive with fromDate/toDate.
func (r AdInsightsAPIQueryAdInsightsRequest) DatePreset(datePreset string) AdInsightsAPIQueryAdInsightsRequest {
	r.datePreset = &datePreset
	return r
}

// Start of range (YYYY-MM-DD); requires toDate.
func (r AdInsightsAPIQueryAdInsightsRequest) FromDate(fromDate string) AdInsightsAPIQueryAdInsightsRequest {
	r.fromDate = &fromDate
	return r
}

// End of range (YYYY-MM-DD); requires fromDate.
func (r AdInsightsAPIQueryAdInsightsRequest) ToDate(toDate string) AdInsightsAPIQueryAdInsightsRequest {
	r.toDate = &toDate
	return r
}

// Days per row (1-90), monthly, or all_days.
func (r AdInsightsAPIQueryAdInsightsRequest) TimeIncrement(timeIncrement string) AdInsightsAPIQueryAdInsightsRequest {
	r.timeIncrement = &timeIncrement
	return r
}

// Rows per page
func (r AdInsightsAPIQueryAdInsightsRequest) Limit(limit int32) AdInsightsAPIQueryAdInsightsRequest {
	r.limit = &limit
	return r
}

// Cursor from paging.after of the previous page.
func (r AdInsightsAPIQueryAdInsightsRequest) After(after string) AdInsightsAPIQueryAdInsightsRequest {
	r.after = &after
	return r
}

func (r AdInsightsAPIQueryAdInsightsRequest) Execute() (*QueryAdInsights200Response, *http.Response, error) {
	return r.ApiService.QueryAdInsightsExecute(r)
}

/*
QueryAdInsights Flexible live insights query

Live, flexible insights query against Meta's Graph API. Unlike GET /v1/ads/{adId}/analytics
(fixed metric set, cached), this forwards caller-chosen `fields`, `breakdowns` and `filtering`
to any Meta insights node and returns Meta's rows verbatim.

`objectId` selects the node: an ad account, campaign, ad set or ad platform id.
`level` sets row granularity independently of the node.

Semantic validation is Meta's: an unknown field or invalid breakdown combination returns a 400
carrying Meta's message. For long ranges or agency-scale accounts prefer the async variant
(POST /v1/ads/insights/reports).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdInsightsAPIQueryAdInsightsRequest
*/
func (a *AdInsightsAPIService) QueryAdInsights(ctx context.Context) AdInsightsAPIQueryAdInsightsRequest {
	return AdInsightsAPIQueryAdInsightsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QueryAdInsights200Response
func (a *AdInsightsAPIService) QueryAdInsightsExecute(r AdInsightsAPIQueryAdInsightsRequest) (*QueryAdInsights200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *QueryAdInsights200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdInsightsAPIService.QueryAdInsights")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ads/insights"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.objectId == nil {
		return localVarReturnValue, nil, reportError("objectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "objectId", r.objectId, "form", "")
	if r.level != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "level", r.level, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.breakdowns != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "breakdowns", r.breakdowns, "form", "")
	}
	if r.actionBreakdowns != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "actionBreakdowns", r.actionBreakdowns, "form", "")
	}
	if r.actionAttributionWindows != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "actionAttributionWindows", r.actionAttributionWindows, "form", "")
	}
	if r.actionReportTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "actionReportTime", r.actionReportTime, "form", "")
	}
	if r.useUnifiedAttributionSetting != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "useUnifiedAttributionSetting", r.useUnifiedAttributionSetting, "form", "")
	}
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering, "form", "")
	}
	if r.datePreset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "datePreset", r.datePreset, "form", "")
	}
	if r.fromDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromDate", r.fromDate, "form", "")
	}
	if r.toDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toDate", r.toDate, "form", "")
	}
	if r.timeIncrement != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeIncrement", r.timeIncrement, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
