/*
Zernio API

API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api

API version: 1.0.4
Contact: support@zernio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zernio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// GMBAttributesAPIService GMBAttributesAPI service
type GMBAttributesAPIService service

type GMBAttributesAPIGetGmbAttributeMetadataRequest struct {
	ctx          context.Context
	ApiService   *GMBAttributesAPIService
	accountId    string
	locationId   *string
	categoryName *string
	regionCode   *string
	languageCode *string
	pageSize     *int32
	pageToken    *string
}

// GBP location ID (e.g. \&quot;6257659026299438786\&quot;). If omitted, uses the account&#39;s stored selectedLocationId. Mutually exclusive with categoryName.
func (r GMBAttributesAPIGetGmbAttributeMetadataRequest) LocationId(locationId string) GMBAttributesAPIGetGmbAttributeMetadataRequest {
	r.locationId = &locationId
	return r
}

// Category resource name, must start with \&quot;categories/\&quot; (e.g. \&quot;categories/gcid:plumber\&quot;). Required together with regionCode. Mutually exclusive with locationId.
func (r GMBAttributesAPIGetGmbAttributeMetadataRequest) CategoryName(categoryName string) GMBAttributesAPIGetGmbAttributeMetadataRequest {
	r.categoryName = &categoryName
	return r
}

// BCP-47 region code (e.g. \&quot;US\&quot;, \&quot;ES\&quot;). Required when categoryName is provided.
func (r GMBAttributesAPIGetGmbAttributeMetadataRequest) RegionCode(regionCode string) GMBAttributesAPIGetGmbAttributeMetadataRequest {
	r.regionCode = &regionCode
	return r
}

// BCP-47 language code for display names (e.g. \&quot;en\&quot;, \&quot;es\&quot;). Optional when categoryName is provided. Omitted from the Google call when not supplied.
func (r GMBAttributesAPIGetGmbAttributeMetadataRequest) LanguageCode(languageCode string) GMBAttributesAPIGetGmbAttributeMetadataRequest {
	r.languageCode = &languageCode
	return r
}

// Maximum number of attribute metadata items to return. Google defaults to 200.
func (r GMBAttributesAPIGetGmbAttributeMetadataRequest) PageSize(pageSize int32) GMBAttributesAPIGetGmbAttributeMetadataRequest {
	r.pageSize = &pageSize
	return r
}

// Pagination token from a previous response&#39;s nextPageToken field.
func (r GMBAttributesAPIGetGmbAttributeMetadataRequest) PageToken(pageToken string) GMBAttributesAPIGetGmbAttributeMetadataRequest {
	r.pageToken = &pageToken
	return r
}

func (r GMBAttributesAPIGetGmbAttributeMetadataRequest) Execute() (*GetGmbAttributeMetadata200Response, *http.Response, error) {
	return r.ApiService.GetGmbAttributeMetadataExecute(r)
}

/*
GetGmbAttributeMetadata Get attribute metadata

Returns metadata about which Google Business Profile attributes are available for
a location or business category. Use this endpoint to discover valid attribute names,
value types, and allowed enum values before reading or writing via gmb-attributes.

Two mutually exclusive query modes:

**Location mode**: pass `locationId` (or rely on the account's stored `selectedLocationId`).
Google returns attributes valid for that specific location.

**Category mode**: pass `categoryName` (must start with `categories/`) and `regionCode`.
Google returns attributes valid for that category across the given region.
`languageCode` is optional in category mode.

Both modes support `pageSize` and `pageToken` for pagination.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@return GMBAttributesAPIGetGmbAttributeMetadataRequest
*/
func (a *GMBAttributesAPIService) GetGmbAttributeMetadata(ctx context.Context, accountId string) GMBAttributesAPIGetGmbAttributeMetadataRequest {
	return GMBAttributesAPIGetGmbAttributeMetadataRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
	}
}

// Execute executes the request
//
//	@return GetGmbAttributeMetadata200Response
func (a *GMBAttributesAPIService) GetGmbAttributeMetadataExecute(r GMBAttributesAPIGetGmbAttributeMetadataRequest) (*GetGmbAttributeMetadata200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetGmbAttributeMetadata200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GMBAttributesAPIService.GetGmbAttributeMetadata")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/gmb-attribute-metadata"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.locationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationId", r.locationId, "form", "")
	}
	if r.categoryName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "categoryName", r.categoryName, "form", "")
	}
	if r.regionCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "regionCode", r.regionCode, "form", "")
	}
	if r.languageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "languageCode", r.languageCode, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageToken", r.pageToken, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GMBAttributesAPIGetGoogleBusinessAttributesRequest struct {
	ctx        context.Context
	ApiService *GMBAttributesAPIService
	accountId  string
	locationId *string
}

// Override which location to query. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
func (r GMBAttributesAPIGetGoogleBusinessAttributesRequest) LocationId(locationId string) GMBAttributesAPIGetGoogleBusinessAttributesRequest {
	r.locationId = &locationId
	return r
}

func (r GMBAttributesAPIGetGoogleBusinessAttributesRequest) Execute() (*GetGoogleBusinessAttributes200Response, *http.Response, error) {
	return r.ApiService.GetGoogleBusinessAttributesExecute(r)
}

/*
GetGoogleBusinessAttributes Get attributes

Returns GBP location attributes (amenities, services, accessibility, payment types). Available attributes vary by business category.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@return GMBAttributesAPIGetGoogleBusinessAttributesRequest
*/
func (a *GMBAttributesAPIService) GetGoogleBusinessAttributes(ctx context.Context, accountId string) GMBAttributesAPIGetGoogleBusinessAttributesRequest {
	return GMBAttributesAPIGetGoogleBusinessAttributesRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
	}
}

// Execute executes the request
//
//	@return GetGoogleBusinessAttributes200Response
func (a *GMBAttributesAPIService) GetGoogleBusinessAttributesExecute(r GMBAttributesAPIGetGoogleBusinessAttributesRequest) (*GetGoogleBusinessAttributes200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetGoogleBusinessAttributes200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GMBAttributesAPIService.GetGoogleBusinessAttributes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/gmb-attributes"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.locationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationId", r.locationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GMBAttributesAPIUpdateGoogleBusinessAttributesRequest struct {
	ctx                                   context.Context
	ApiService                            *GMBAttributesAPIService
	accountId                             string
	updateGoogleBusinessAttributesRequest *UpdateGoogleBusinessAttributesRequest
	locationId                            *string
}

func (r GMBAttributesAPIUpdateGoogleBusinessAttributesRequest) UpdateGoogleBusinessAttributesRequest(updateGoogleBusinessAttributesRequest UpdateGoogleBusinessAttributesRequest) GMBAttributesAPIUpdateGoogleBusinessAttributesRequest {
	r.updateGoogleBusinessAttributesRequest = &updateGoogleBusinessAttributesRequest
	return r
}

// Override which location to target. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
func (r GMBAttributesAPIUpdateGoogleBusinessAttributesRequest) LocationId(locationId string) GMBAttributesAPIUpdateGoogleBusinessAttributesRequest {
	r.locationId = &locationId
	return r
}

func (r GMBAttributesAPIUpdateGoogleBusinessAttributesRequest) Execute() (*UpdateGoogleBusinessAttributes200Response, *http.Response, error) {
	return r.ApiService.UpdateGoogleBusinessAttributesExecute(r)
}

/*
UpdateGoogleBusinessAttributes Update attributes

Updates location attributes (amenities, services, etc.).

The attributeMask specifies which attributes to update (comma-separated).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param accountId
	@return GMBAttributesAPIUpdateGoogleBusinessAttributesRequest
*/
func (a *GMBAttributesAPIService) UpdateGoogleBusinessAttributes(ctx context.Context, accountId string) GMBAttributesAPIUpdateGoogleBusinessAttributesRequest {
	return GMBAttributesAPIUpdateGoogleBusinessAttributesRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
	}
}

// Execute executes the request
//
//	@return UpdateGoogleBusinessAttributes200Response
func (a *GMBAttributesAPIService) UpdateGoogleBusinessAttributesExecute(r GMBAttributesAPIUpdateGoogleBusinessAttributesRequest) (*UpdateGoogleBusinessAttributes200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UpdateGoogleBusinessAttributes200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GMBAttributesAPIService.UpdateGoogleBusinessAttributes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{accountId}/gmb-attributes"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateGoogleBusinessAttributesRequest == nil {
		return localVarReturnValue, nil, reportError("updateGoogleBusinessAttributesRequest is required and must be specified")
	}

	if r.locationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationId", r.locationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateGoogleBusinessAttributesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
