/*
Zernio API

API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api  Versioning and deprecation: all endpoints are versioned in the URL path (current version: /v1). Breaking changes only ship in a new path version; existing versions keep working. Deprecated operations are marked 'deprecated: true' in this spec and announced in the changelog (https://zernio.com/changelog) before removal.  Errors: every 4xx/5xx response is application/json with a machine-readable 'code' and a human-readable 'error' message (see the ErrorResponse schema).

API version: 1.0.4
Contact: support@zernio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zernio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)

// CommentsAPIService CommentsAPI service
type CommentsAPIService service

type CommentsAPIDeleteInboxCommentRequest struct {
	ctx        context.Context
	ApiService *CommentsAPIService
	postId     string
	accountId  *string
	commentId  *string
}

func (r CommentsAPIDeleteInboxCommentRequest) AccountId(accountId string) CommentsAPIDeleteInboxCommentRequest {
	r.accountId = &accountId
	return r
}

// For LinkedIn, accepts either the numeric comment ID or the composite comment URN returned by the comments listing (e.g. urn:li:comment:(threadUrn,id))
func (r CommentsAPIDeleteInboxCommentRequest) CommentId(commentId string) CommentsAPIDeleteInboxCommentRequest {
	r.commentId = &commentId
	return r
}

func (r CommentsAPIDeleteInboxCommentRequest) Execute() (*DeleteInboxComment200Response, *http.Response, error) {
	return r.ApiService.DeleteInboxCommentExecute(r)
}

/*
DeleteInboxComment Delete comment

Delete a comment on a post. Supported by Facebook, Instagram, Bluesky, Reddit, YouTube, and LinkedIn.
Requires accountId and commentId query parameters.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param postId Zernio post ID or platform-specific post ID. LinkedIn third-party posts accept full activity URN or numeric ID.
	@return CommentsAPIDeleteInboxCommentRequest
*/
func (a *CommentsAPIService) DeleteInboxComment(ctx context.Context, postId string) CommentsAPIDeleteInboxCommentRequest {
	return CommentsAPIDeleteInboxCommentRequest{
		ApiService: a,
		ctx:        ctx,
		postId:     postId,
	}
}

// Execute executes the request
//
//	@return DeleteInboxComment200Response
func (a *CommentsAPIService) DeleteInboxCommentExecute(r CommentsAPIDeleteInboxCommentRequest) (*DeleteInboxComment200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DeleteInboxComment200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommentsAPIService.DeleteInboxComment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inbox/comments/{postId}"
	localVarPath = strings.Replace(localVarPath, "{"+"postId"+"}", url.PathEscape(parameterValueToString(r.postId, "postId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.commentId == nil {
		return localVarReturnValue, nil, reportError("commentId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "commentId", r.commentId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CommentsAPIEditInboxCommentRequest struct {
	ctx                     context.Context
	ApiService              *CommentsAPIService
	postId                  string
	commentId               string
	editInboxCommentRequest *EditInboxCommentRequest
}

func (r CommentsAPIEditInboxCommentRequest) EditInboxCommentRequest(editInboxCommentRequest EditInboxCommentRequest) CommentsAPIEditInboxCommentRequest {
	r.editInboxCommentRequest = &editInboxCommentRequest
	return r
}

func (r CommentsAPIEditInboxCommentRequest) Execute() (*EditInboxComment200Response, *http.Response, error) {
	return r.ApiService.EditInboxCommentExecute(r)
}

/*
EditInboxComment Edit comment

Edit the body of a comment the connected account posted. Supported on Reddit only.

Reddit keeps the same comment id after an edit. Reddit exposes no API to edit a post
title, and a link post has no editable body. To edit a published post's body, use
`POST /v1/posts/{postId}/edit`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param postId
	@param commentId
	@return CommentsAPIEditInboxCommentRequest
*/
func (a *CommentsAPIService) EditInboxComment(ctx context.Context, postId string, commentId string) CommentsAPIEditInboxCommentRequest {
	return CommentsAPIEditInboxCommentRequest{
		ApiService: a,
		ctx:        ctx,
		postId:     postId,
		commentId:  commentId,
	}
}

// Execute executes the request
//
//	@return EditInboxComment200Response
func (a *CommentsAPIService) EditInboxCommentExecute(r CommentsAPIEditInboxCommentRequest) (*EditInboxComment200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EditInboxComment200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommentsAPIService.EditInboxComment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inbox/comments/{postId}/{commentId}"
	localVarPath = strings.Replace(localVarPath, "{"+"postId"+"}", url.PathEscape(parameterValueToString(r.postId, "postId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"commentId"+"}", url.PathEscape(parameterValueToString(r.commentId, "commentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.editInboxCommentRequest == nil {
		return localVarReturnValue, nil, reportError("editInboxCommentRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.editInboxCommentRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CommentsAPIGetInboxPostCommentsRequest struct {
	ctx        context.Context
	ApiService *CommentsAPIService
	postId     string
	accountId  *string
	subreddit  *string
	limit      *int32
	cursor     *string
	commentId  *string
}

func (r CommentsAPIGetInboxPostCommentsRequest) AccountId(accountId string) CommentsAPIGetInboxPostCommentsRequest {
	r.accountId = &accountId
	return r
}

// (Reddit only) Subreddit name
func (r CommentsAPIGetInboxPostCommentsRequest) Subreddit(subreddit string) CommentsAPIGetInboxPostCommentsRequest {
	r.subreddit = &subreddit
	return r
}

// Maximum number of comments to return
func (r CommentsAPIGetInboxPostCommentsRequest) Limit(limit int32) CommentsAPIGetInboxPostCommentsRequest {
	r.limit = &limit
	return r
}

// Pagination cursor, returned by a previous call as &#x60;pagination.cursor&#x60;. This is the platform&#39;s own opaque paging value passed through verbatim: never construct, decode or validate it client-side.
func (r CommentsAPIGetInboxPostCommentsRequest) Cursor(cursor string) CommentsAPIGetInboxPostCommentsRequest {
	r.cursor = &cursor
	return r
}

// (Reddit only) Get replies to a specific comment
func (r CommentsAPIGetInboxPostCommentsRequest) CommentId(commentId string) CommentsAPIGetInboxPostCommentsRequest {
	r.commentId = &commentId
	return r
}

func (r CommentsAPIGetInboxPostCommentsRequest) Execute() (*GetInboxPostComments200Response, *http.Response, error) {
	return r.ApiService.GetInboxPostCommentsExecute(r)
}

/*
GetInboxPostComments Get post comments

Fetch comments for a specific post. Requires accountId query parameter.

On Facebook and Instagram, passing a COMMENT id as `postId` is also supported and
returns that comment's replies instead of the post's top-level comments. This is not
available on YouTube, where `postId` must be a video id.

Responses are cached for up to 10 minutes, so a page may lag new comments by that
window. Do not poll this endpoint for real-time updates: subscribe to the
`comment.received` webhook, which delivers new comments as they arrive. Your own
writes (creating, replying to, or deleting a comment) refresh the cache immediately.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param postId Zernio post ID or platform-specific post ID. Zernio IDs are auto-resolved. LinkedIn third-party posts accept full activity URN or numeric ID. On Facebook and Instagram, a comment ID is also accepted here and returns that comment's replies.
	@return CommentsAPIGetInboxPostCommentsRequest
*/
func (a *CommentsAPIService) GetInboxPostComments(ctx context.Context, postId string) CommentsAPIGetInboxPostCommentsRequest {
	return CommentsAPIGetInboxPostCommentsRequest{
		ApiService: a,
		ctx:        ctx,
		postId:     postId,
	}
}

// Execute executes the request
//
//	@return GetInboxPostComments200Response
func (a *CommentsAPIService) GetInboxPostCommentsExecute(r CommentsAPIGetInboxPostCommentsRequest) (*GetInboxPostComments200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetInboxPostComments200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommentsAPIService.GetInboxPostComments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inbox/comments/{postId}"
	localVarPath = strings.Replace(localVarPath, "{"+"postId"+"}", url.PathEscape(parameterValueToString(r.postId, "postId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.subreddit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subreddit", r.subreddit, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.commentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "commentId", r.commentId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CommentsAPIHideInboxCommentRequest struct {
	ctx                        context.Context
	ApiService                 *CommentsAPIService
	postId                     string
	commentId                  string
	sendTypingIndicatorRequest *SendTypingIndicatorRequest
}

func (r CommentsAPIHideInboxCommentRequest) SendTypingIndicatorRequest(sendTypingIndicatorRequest SendTypingIndicatorRequest) CommentsAPIHideInboxCommentRequest {
	r.sendTypingIndicatorRequest = &sendTypingIndicatorRequest
	return r
}

func (r CommentsAPIHideInboxCommentRequest) Execute() (*HideInboxComment200Response, *http.Response, error) {
	return r.ApiService.HideInboxCommentExecute(r)
}

/*
HideInboxComment Hide comment

Hide a comment on a post. Supported by Facebook, Instagram, Threads, and X.
Hidden comments are only visible to the commenter and page admin.
For X, the reply must belong to a conversation started by the authenticated user.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param postId
	@param commentId
	@return CommentsAPIHideInboxCommentRequest
*/
func (a *CommentsAPIService) HideInboxComment(ctx context.Context, postId string, commentId string) CommentsAPIHideInboxCommentRequest {
	return CommentsAPIHideInboxCommentRequest{
		ApiService: a,
		ctx:        ctx,
		postId:     postId,
		commentId:  commentId,
	}
}

// Execute executes the request
//
//	@return HideInboxComment200Response
func (a *CommentsAPIService) HideInboxCommentExecute(r CommentsAPIHideInboxCommentRequest) (*HideInboxComment200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HideInboxComment200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommentsAPIService.HideInboxComment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inbox/comments/{postId}/{commentId}/hide"
	localVarPath = strings.Replace(localVarPath, "{"+"postId"+"}", url.PathEscape(parameterValueToString(r.postId, "postId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"commentId"+"}", url.PathEscape(parameterValueToString(r.commentId, "commentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sendTypingIndicatorRequest == nil {
		return localVarReturnValue, nil, reportError("sendTypingIndicatorRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.sendTypingIndicatorRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CommentsAPILikeInboxCommentRequest struct {
	ctx                     context.Context
	ApiService              *CommentsAPIService
	postId                  string
	commentId               string
	likeInboxCommentRequest *LikeInboxCommentRequest
}

func (r CommentsAPILikeInboxCommentRequest) LikeInboxCommentRequest(likeInboxCommentRequest LikeInboxCommentRequest) CommentsAPILikeInboxCommentRequest {
	r.likeInboxCommentRequest = &likeInboxCommentRequest
	return r
}

func (r CommentsAPILikeInboxCommentRequest) Execute() (*LikeInboxComment200Response, *http.Response, error) {
	return r.ApiService.LikeInboxCommentExecute(r)
}

/*
LikeInboxComment Like comment

Like or upvote a comment on a post. Supported platforms: Facebook, X,
Bluesky, Reddit, LinkedIn, and Instagram in limited release (see below). For
Bluesky, the cid (content identifier) is
required in the request body. For LinkedIn, pass the composite comment URN returned
by the comments endpoints as commentId; an optional reactionType picks the reaction
(defaults to LIKE), and accounts connected before the social-feed scopes were
requested get a 403 with code `linkedin_reconnect_required`.

Instagram is in LIMITED RELEASE and not generally available: the call needs
`instagram_manage_engagement`, which Meta has so far granted this app only under
Standard Access, so it works for app admins, developers and testers of our Meta app
and returns a 403 with code `PLATFORM_BETA_RESTRICTED` for every other account.
That restriction lifts when Meta App Review grants Advanced Access; the constraints
below apply once it does.

Instagram covers comments and replies on feed posts, reels and carousels. Only an
account connected through Facebook Login can be granted
`instagram_manage_engagement`: an Instagram Login connection returns a 400 with
code `instagram_likes_require_facebook_login`, and an account whose token predates
the permission returns a 403 with code `reconnect_required`. Content from private
accounts cannot be liked. Instagram also enforces a burst limit of 50 like or
unlike calls per 5 seconds per Instagram account, and exceeding it locks that
account out of the like API for an hour, so pace bulk loops.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param postId
	@param commentId
	@return CommentsAPILikeInboxCommentRequest
*/
func (a *CommentsAPIService) LikeInboxComment(ctx context.Context, postId string, commentId string) CommentsAPILikeInboxCommentRequest {
	return CommentsAPILikeInboxCommentRequest{
		ApiService: a,
		ctx:        ctx,
		postId:     postId,
		commentId:  commentId,
	}
}

// Execute executes the request
//
//	@return LikeInboxComment200Response
func (a *CommentsAPIService) LikeInboxCommentExecute(r CommentsAPILikeInboxCommentRequest) (*LikeInboxComment200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LikeInboxComment200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommentsAPIService.LikeInboxComment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inbox/comments/{postId}/{commentId}/like"
	localVarPath = strings.Replace(localVarPath, "{"+"postId"+"}", url.PathEscape(parameterValueToString(r.postId, "postId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"commentId"+"}", url.PathEscape(parameterValueToString(r.commentId, "commentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.likeInboxCommentRequest == nil {
		return localVarReturnValue, nil, reportError("likeInboxCommentRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.likeInboxCommentRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CommentsAPILikePostRequest struct {
	ctx                     context.Context
	ApiService              *CommentsAPIService
	postId                  string
	likeInboxCommentRequest *LikeInboxCommentRequest
}

func (r CommentsAPILikePostRequest) LikeInboxCommentRequest(likeInboxCommentRequest LikeInboxCommentRequest) CommentsAPILikePostRequest {
	r.likeInboxCommentRequest = &likeInboxCommentRequest
	return r
}

func (r CommentsAPILikePostRequest) Execute() (*LikePost200Response, *http.Response, error) {
	return r.ApiService.LikePostExecute(r)
}

/*
LikePost Like post

Like (or react to) a post as a connected account. Supported platforms: LinkedIn,
X, Facebook, YouTube, Bluesky, and Instagram in limited release (see below).
Threads, TikTok and Pinterest
expose no like endpoint in their APIs and return 400. Reddit returns 400 too,
pointing at `POST /v1/accounts/{accountId}/reddit-vote`, which covers upvote,
downvote and clear on both posts and comments.

The account does not have to be the one that published the post, which is what
makes executive engagement possible: pass an exec's `accountId` and the brand
post's ID. `postId` accepts either a Zernio post ID or the platform's native post
ID. A Zernio post ID resolves to the entry for `accountId`, falling back to the
post's single entry on the same platform (two entries on that platform is a 400,
so pass the native ID).

LinkedIn requires the `w_member_social_feed` / `w_organization_social_feed`
scopes, which are not retroactive: accounts connected before those were requested
get a 403 with code `linkedin_reconnect_required` until the user reconnects the
account. YouTube spends 50 quota units per call.

Instagram is in LIMITED RELEASE and not generally available: the call needs
`instagram_manage_engagement`, which Meta has so far granted this app only under
Standard Access, so it works for app admins, developers and testers of our Meta app
and returns a 403 with code `PLATFORM_BETA_RESTRICTED` for every other account.
That restriction lifts when Meta App Review grants Advanced Access; the constraints
below apply once it does.

Instagram covers feed images, reels and carousels (stories and private-account
media are not likeable). Only an account connected through Facebook Login can be
granted `instagram_manage_engagement`: an Instagram Login
connection returns a 400 with code `instagram_likes_require_facebook_login`, and an
account whose token predates the permission returns a 403 with code
`reconnect_required`. Instagram also enforces a burst limit of 50 like or unlike
calls per 5 seconds per Instagram account, and exceeding it locks that account out
of the like API for an hour, so pace bulk loops.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param postId Zernio post ID or the platform's native post ID
	@return CommentsAPILikePostRequest
*/
func (a *CommentsAPIService) LikePost(ctx context.Context, postId string) CommentsAPILikePostRequest {
	return CommentsAPILikePostRequest{
		ApiService: a,
		ctx:        ctx,
		postId:     postId,
	}
}

// Execute executes the request
//
//	@return LikePost200Response
func (a *CommentsAPIService) LikePostExecute(r CommentsAPILikePostRequest) (*LikePost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LikePost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommentsAPIService.LikePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inbox/posts/{postId}/like"
	localVarPath = strings.Replace(localVarPath, "{"+"postId"+"}", url.PathEscape(parameterValueToString(r.postId, "postId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.likeInboxCommentRequest == nil {
		return localVarReturnValue, nil, reportError("likeInboxCommentRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.likeInboxCommentRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CommentsAPIListInboxCommentsRequest struct {
	ctx         context.Context
	ApiService  *CommentsAPIService
	profileId   *string
	platform    *string
	minComments *int32
	since       *time.Time
	sortBy      *string
	sortOrder   *string
	limit       *int32
	cursor      *string
	accountId   *string
}

// Filter by profile ID
func (r CommentsAPIListInboxCommentsRequest) ProfileId(profileId string) CommentsAPIListInboxCommentsRequest {
	r.profileId = &profileId
	return r
}

// Filter by platform. &#x60;metaads&#x60; is a synthetic value meaning the user&#39;s ads (boosted/dark posts) only; &#x60;facebook&#x60;/&#x60;instagram&#x60; return organic posts only.
func (r CommentsAPIListInboxCommentsRequest) Platform(platform string) CommentsAPIListInboxCommentsRequest {
	r.platform = &platform
	return r
}

// Minimum comment count
func (r CommentsAPIListInboxCommentsRequest) MinComments(minComments int32) CommentsAPIListInboxCommentsRequest {
	r.minComments = &minComments
	return r
}

// Posts created after this date
func (r CommentsAPIListInboxCommentsRequest) Since(since time.Time) CommentsAPIListInboxCommentsRequest {
	r.since = &since
	return r
}

// Sort field
func (r CommentsAPIListInboxCommentsRequest) SortBy(sortBy string) CommentsAPIListInboxCommentsRequest {
	r.sortBy = &sortBy
	return r
}

// Sort order
func (r CommentsAPIListInboxCommentsRequest) SortOrder(sortOrder string) CommentsAPIListInboxCommentsRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r CommentsAPIListInboxCommentsRequest) Limit(limit int32) CommentsAPIListInboxCommentsRequest {
	r.limit = &limit
	return r
}

func (r CommentsAPIListInboxCommentsRequest) Cursor(cursor string) CommentsAPIListInboxCommentsRequest {
	r.cursor = &cursor
	return r
}

// Filter by specific account ID
func (r CommentsAPIListInboxCommentsRequest) AccountId(accountId string) CommentsAPIListInboxCommentsRequest {
	r.accountId = &accountId
	return r
}

func (r CommentsAPIListInboxCommentsRequest) Execute() (*ListInboxComments200Response, *http.Response, error) {
	return r.ApiService.ListInboxCommentsExecute(r)
}

/*
ListInboxComments List commented posts

Returns posts with comment counts from all connected accounts. Aggregates data across multiple accounts.

Responses are cached for up to 10 minutes, so the feed may lag new comments by that
window. Do not poll this endpoint for real-time updates: subscribe to the
`comment.received` webhook, which fires for every new comment across your posts and
carries the post reference needed to keep this list current.

For users with the Ads add-on (accounts on usage-based billing always qualify), the user's Meta ads
(boosted/dark posts) are included too. There's one row per (ad, placement-with-comments):
an ad that runs on both Facebook feed and Instagram feed produces up to two rows (the
Page dark post and the IG media have separate comment threads), each flagged
`isAd: true` with `adId` and `placement` (`id` is `{adId}:{placement}`). Use
`?platform=metaads` to return *only* ad rows; passing `facebook`/`instagram` returns
*organic* posts only (no ads); omitting `platform` returns both. Fetch a row's thread
from GET /v1/ads/{adId}/comments?placement={placement}. Ad comment counts are read with
the Marketing API token (Facebook side) or the connected Instagram account's token
(Instagram side); a row whose count can't be read is omitted.

Pagination walks each account's platform listing. Following `nextCursor` reaches past
the first page on Facebook, Instagram, Threads, LinkedIn and YouTube, since they are
the platforms that support a server-side date window; on the others the listing stops
at its first page. Cursor pagination is only coherent for the default sort
(`sortBy=date`, `sortOrder=desc`): with `sortOrder=asc`, or with `sortBy=comments`,
the cursor filter does not match the sort order and the second page is unreliable.

`nextCursor` is opaque: pass it back verbatim, never construct or parse it, its
composition may change without notice. Because each page re-queries a live window,
results can still shift between requests, so dedupe by `id` on the client.

`commentCount` semantics differ by platform: YouTube's includes replies, Facebook's counts
top-level comments only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CommentsAPIListInboxCommentsRequest
*/
func (a *CommentsAPIService) ListInboxComments(ctx context.Context) CommentsAPIListInboxCommentsRequest {
	return CommentsAPIListInboxCommentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListInboxComments200Response
func (a *CommentsAPIService) ListInboxCommentsExecute(r CommentsAPIListInboxCommentsRequest) (*ListInboxComments200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListInboxComments200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommentsAPIService.ListInboxComments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inbox/comments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.profileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "profileId", r.profileId, "form", "")
	}
	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	}
	if r.minComments != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "minComments", r.minComments, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", r.sortBy, "form", "")
	} else {
		var defaultValue string = "date"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", defaultValue, "form", "")
		r.sortBy = &defaultValue
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	} else {
		var defaultValue string = "desc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", defaultValue, "form", "")
		r.sortOrder = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CommentsAPIReplyToInboxPostRequest struct {
	ctx                     context.Context
	ApiService              *CommentsAPIService
	postId                  string
	replyToInboxPostRequest *ReplyToInboxPostRequest
	idempotencyKey          *string
}

func (r CommentsAPIReplyToInboxPostRequest) ReplyToInboxPostRequest(replyToInboxPostRequest ReplyToInboxPostRequest) CommentsAPIReplyToInboxPostRequest {
	r.replyToInboxPostRequest = &replyToInboxPostRequest
	return r
}

// Optional client-generated unique key (e.g. a UUID) that makes retries safe. Same key + same body replays the original response; same key + different body → 422; key still processing → 409.
func (r CommentsAPIReplyToInboxPostRequest) IdempotencyKey(idempotencyKey string) CommentsAPIReplyToInboxPostRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r CommentsAPIReplyToInboxPostRequest) Execute() (*ReplyToInboxPost200Response, *http.Response, error) {
	return r.ApiService.ReplyToInboxPostExecute(r)
}

/*
ReplyToInboxPost Reply to comment

Post a reply to a post or specific comment. Requires accountId in request body.

**Idempotency:** send an `Idempotency-Key` header to make retries safe
(e.g. after a client-side timeout where delivery is unknown): same key +
same body replays the original response (with `Idempotent-Replayed: true`)
instead of posting the comment a second time; same key + different body
returns 422; a key still in flight returns 409. Keys are retained for 24
hours and are scoped to the credential and to this exact path, so reusing
a key against a different postId returns 422 rather than replaying the
other post's response.

Only successful (2xx) responses are stored for replay. If the request
throws or returns a non-2xx status the key is released, so the header
protects the "request succeeded but the response was lost" case. After an
ambiguous failure (a 5xx or a network timeout) list the post's comments
before retrying with the same key, and treat an empty result as
inconclusive rather than as proof nothing was posted.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param postId Zernio post ID or platform-specific post ID. LinkedIn third-party posts accept full activity URN or numeric ID.
	@return CommentsAPIReplyToInboxPostRequest
*/
func (a *CommentsAPIService) ReplyToInboxPost(ctx context.Context, postId string) CommentsAPIReplyToInboxPostRequest {
	return CommentsAPIReplyToInboxPostRequest{
		ApiService: a,
		ctx:        ctx,
		postId:     postId,
	}
}

// Execute executes the request
//
//	@return ReplyToInboxPost200Response
func (a *CommentsAPIService) ReplyToInboxPostExecute(r CommentsAPIReplyToInboxPostRequest) (*ReplyToInboxPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ReplyToInboxPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommentsAPIService.ReplyToInboxPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inbox/comments/{postId}"
	localVarPath = strings.Replace(localVarPath, "{"+"postId"+"}", url.PathEscape(parameterValueToString(r.postId, "postId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.replyToInboxPostRequest == nil {
		return localVarReturnValue, nil, reportError("replyToInboxPostRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.replyToInboxPostRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CommentsAPISendPrivateReplyToCommentRequest struct {
	ctx                              context.Context
	ApiService                       *CommentsAPIService
	postId                           string
	commentId                        string
	sendPrivateReplyToCommentRequest *SendPrivateReplyToCommentRequest
}

func (r CommentsAPISendPrivateReplyToCommentRequest) SendPrivateReplyToCommentRequest(sendPrivateReplyToCommentRequest SendPrivateReplyToCommentRequest) CommentsAPISendPrivateReplyToCommentRequest {
	r.sendPrivateReplyToCommentRequest = &sendPrivateReplyToCommentRequest
	return r
}

func (r CommentsAPISendPrivateReplyToCommentRequest) Execute() (*SendPrivateReplyToComment200Response, *http.Response, error) {
	return r.ApiService.SendPrivateReplyToCommentExecute(r)
}

/*
SendPrivateReplyToComment Send private reply

Send a direct message to the author of a comment. Supported on Instagram and Facebook only.
One reply per comment, must be sent within 7 days. Optionally attach interactive elements:
`quickReplies` (chips above the keyboard, max 13) or `buttons` (1-3 inline postback/url
buttons rendered in the same bubble via Meta's button_template). Chips do not render in
the Instagram Message Requests folder. Since late August 2026 Instagram refuses buttons,
cards and attachments to commenters who do not follow the account (Meta code 2, subcode
1545133, returned here as a non-retryable 400 that says so), and the failed call still
consumes the comment's single private reply. To reach non-followers send plain text and
add buttons once they reply. `quickReplies` and `buttons` are mutually exclusive. When
the comment's single private reply is spent (by this call or an earlier one) the 400
carries `details.privateReplyConsumed: true`; never retry it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param postId The media/post ID (Instagram media ID or Facebook post ID)
	@param commentId The comment ID to send a private reply to
	@return CommentsAPISendPrivateReplyToCommentRequest
*/
func (a *CommentsAPIService) SendPrivateReplyToComment(ctx context.Context, postId string, commentId string) CommentsAPISendPrivateReplyToCommentRequest {
	return CommentsAPISendPrivateReplyToCommentRequest{
		ApiService: a,
		ctx:        ctx,
		postId:     postId,
		commentId:  commentId,
	}
}

// Execute executes the request
//
//	@return SendPrivateReplyToComment200Response
func (a *CommentsAPIService) SendPrivateReplyToCommentExecute(r CommentsAPISendPrivateReplyToCommentRequest) (*SendPrivateReplyToComment200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SendPrivateReplyToComment200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommentsAPIService.SendPrivateReplyToComment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inbox/comments/{postId}/{commentId}/private-reply"
	localVarPath = strings.Replace(localVarPath, "{"+"postId"+"}", url.PathEscape(parameterValueToString(r.postId, "postId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"commentId"+"}", url.PathEscape(parameterValueToString(r.commentId, "commentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sendPrivateReplyToCommentRequest == nil {
		return localVarReturnValue, nil, reportError("sendPrivateReplyToCommentRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.sendPrivateReplyToCommentRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CommentsAPISetCommentModerationRequest struct {
	ctx                         context.Context
	ApiService                  *CommentsAPIService
	postId                      string
	commentId                   string
	setCommentModerationRequest *SetCommentModerationRequest
}

func (r CommentsAPISetCommentModerationRequest) SetCommentModerationRequest(setCommentModerationRequest SetCommentModerationRequest) CommentsAPISetCommentModerationRequest {
	r.setCommentModerationRequest = &setCommentModerationRequest
	return r
}

func (r CommentsAPISetCommentModerationRequest) Execute() (*UpdateYoutubeDefaultPlaylist200Response, *http.Response, error) {
	return r.ApiService.SetCommentModerationExecute(r)
}

/*
SetCommentModeration Set comment moderation status

Set a comment's moderation status. Supported on YouTube only.

Use this to work a moderation queue: approve a held comment (`published`), reject it
(`rejected`), or send it back for review (`heldForReview`).

The request must be authorized by the owner of the channel or video the comment
belongs to. You cannot moderate comments on videos you do not own.

This is distinct from `POST /v1/inbox/comments/{postId}/{commentId}/hide`, which
covers Facebook, Instagram, Threads, and X and does not apply to YouTube.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param postId
	@param commentId
	@return CommentsAPISetCommentModerationRequest
*/
func (a *CommentsAPIService) SetCommentModeration(ctx context.Context, postId string, commentId string) CommentsAPISetCommentModerationRequest {
	return CommentsAPISetCommentModerationRequest{
		ApiService: a,
		ctx:        ctx,
		postId:     postId,
		commentId:  commentId,
	}
}

// Execute executes the request
//
//	@return UpdateYoutubeDefaultPlaylist200Response
func (a *CommentsAPIService) SetCommentModerationExecute(r CommentsAPISetCommentModerationRequest) (*UpdateYoutubeDefaultPlaylist200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UpdateYoutubeDefaultPlaylist200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommentsAPIService.SetCommentModeration")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inbox/comments/{postId}/{commentId}/moderation"
	localVarPath = strings.Replace(localVarPath, "{"+"postId"+"}", url.PathEscape(parameterValueToString(r.postId, "postId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"commentId"+"}", url.PathEscape(parameterValueToString(r.commentId, "commentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setCommentModerationRequest == nil {
		return localVarReturnValue, nil, reportError("setCommentModerationRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.setCommentModerationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CommentsAPIUnhideInboxCommentRequest struct {
	ctx        context.Context
	ApiService *CommentsAPIService
	postId     string
	commentId  string
	accountId  *string
}

func (r CommentsAPIUnhideInboxCommentRequest) AccountId(accountId string) CommentsAPIUnhideInboxCommentRequest {
	r.accountId = &accountId
	return r
}

func (r CommentsAPIUnhideInboxCommentRequest) Execute() (*HideInboxComment200Response, *http.Response, error) {
	return r.ApiService.UnhideInboxCommentExecute(r)
}

/*
UnhideInboxComment Unhide comment

Unhide a previously hidden comment. Supported by Facebook, Instagram, Threads, and X.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param postId
	@param commentId
	@return CommentsAPIUnhideInboxCommentRequest
*/
func (a *CommentsAPIService) UnhideInboxComment(ctx context.Context, postId string, commentId string) CommentsAPIUnhideInboxCommentRequest {
	return CommentsAPIUnhideInboxCommentRequest{
		ApiService: a,
		ctx:        ctx,
		postId:     postId,
		commentId:  commentId,
	}
}

// Execute executes the request
//
//	@return HideInboxComment200Response
func (a *CommentsAPIService) UnhideInboxCommentExecute(r CommentsAPIUnhideInboxCommentRequest) (*HideInboxComment200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HideInboxComment200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommentsAPIService.UnhideInboxComment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inbox/comments/{postId}/{commentId}/hide"
	localVarPath = strings.Replace(localVarPath, "{"+"postId"+"}", url.PathEscape(parameterValueToString(r.postId, "postId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"commentId"+"}", url.PathEscape(parameterValueToString(r.commentId, "commentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CommentsAPIUnlikeInboxCommentRequest struct {
	ctx        context.Context
	ApiService *CommentsAPIService
	postId     string
	commentId  string
	accountId  *string
	likeUri    *string
}

func (r CommentsAPIUnlikeInboxCommentRequest) AccountId(accountId string) CommentsAPIUnlikeInboxCommentRequest {
	r.accountId = &accountId
	return r
}

// (Bluesky only) The like URI returned when liking
func (r CommentsAPIUnlikeInboxCommentRequest) LikeUri(likeUri string) CommentsAPIUnlikeInboxCommentRequest {
	r.likeUri = &likeUri
	return r
}

func (r CommentsAPIUnlikeInboxCommentRequest) Execute() (*UnlikeInboxComment200Response, *http.Response, error) {
	return r.ApiService.UnlikeInboxCommentExecute(r)
}

/*
UnlikeInboxComment Unlike comment

Remove a like from a comment. Supported platforms: Facebook, X, Bluesky,
Reddit, LinkedIn, and Instagram in limited release. For Bluesky, the likeUri query
parameter is required. Instagram has the same limited release, Facebook Login,
`instagram_manage_engagement` and burst-limit constraints as liking.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param postId
	@param commentId
	@return CommentsAPIUnlikeInboxCommentRequest
*/
func (a *CommentsAPIService) UnlikeInboxComment(ctx context.Context, postId string, commentId string) CommentsAPIUnlikeInboxCommentRequest {
	return CommentsAPIUnlikeInboxCommentRequest{
		ApiService: a,
		ctx:        ctx,
		postId:     postId,
		commentId:  commentId,
	}
}

// Execute executes the request
//
//	@return UnlikeInboxComment200Response
func (a *CommentsAPIService) UnlikeInboxCommentExecute(r CommentsAPIUnlikeInboxCommentRequest) (*UnlikeInboxComment200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UnlikeInboxComment200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommentsAPIService.UnlikeInboxComment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inbox/comments/{postId}/{commentId}/like"
	localVarPath = strings.Replace(localVarPath, "{"+"postId"+"}", url.PathEscape(parameterValueToString(r.postId, "postId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"commentId"+"}", url.PathEscape(parameterValueToString(r.commentId, "commentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.likeUri != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "likeUri", r.likeUri, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CommentsAPIUnlikePostRequest struct {
	ctx        context.Context
	ApiService *CommentsAPIService
	postId     string
	accountId  *string
	likeUri    *string
}

func (r CommentsAPIUnlikePostRequest) AccountId(accountId string) CommentsAPIUnlikePostRequest {
	r.accountId = &accountId
	return r
}

// (Bluesky only) The like URI returned when liking
func (r CommentsAPIUnlikePostRequest) LikeUri(likeUri string) CommentsAPIUnlikePostRequest {
	r.likeUri = &likeUri
	return r
}

func (r CommentsAPIUnlikePostRequest) Execute() (*UnlikePost200Response, *http.Response, error) {
	return r.ApiService.UnlikePostExecute(r)
}

/*
UnlikePost Unlike post

Remove this account's like from a post. Supported platforms: LinkedIn, X,
Facebook, YouTube, Bluesky, and Instagram in limited release. On YouTube this clears
the rating. Instagram has the same limited release, Facebook Login,
`instagram_manage_engagement` and burst-limit constraints as liking. For Bluesky,
`likeUri` (returned when the post was liked) is required. Reddit uses
`POST /v1/accounts/{accountId}/reddit-vote` with `direction: 0`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param postId Zernio post ID or the platform's native post ID
	@return CommentsAPIUnlikePostRequest
*/
func (a *CommentsAPIService) UnlikePost(ctx context.Context, postId string) CommentsAPIUnlikePostRequest {
	return CommentsAPIUnlikePostRequest{
		ApiService: a,
		ctx:        ctx,
		postId:     postId,
	}
}

// Execute executes the request
//
//	@return UnlikePost200Response
func (a *CommentsAPIService) UnlikePostExecute(r CommentsAPIUnlikePostRequest) (*UnlikePost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UnlikePost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommentsAPIService.UnlikePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inbox/posts/{postId}/like"
	localVarPath = strings.Replace(localVarPath, "{"+"postId"+"}", url.PathEscape(parameterValueToString(r.postId, "postId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.likeUri != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "likeUri", r.likeUri, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
