/*
Zernio API

API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api

API version: 1.0.4
Contact: support@zernio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zernio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
	"strings"
)

// WhatsAppPhoneNumbersAPIService WhatsAppPhoneNumbersAPI service
type WhatsAppPhoneNumbersAPIService service

type WhatsAppPhoneNumbersAPICheckWhatsAppNumberAvailabilityRequest struct {
	ctx        context.Context
	ApiService *WhatsAppPhoneNumbersAPIService
	country    *string
	numberType *string
}

// ISO-2 country code.
func (r WhatsAppPhoneNumbersAPICheckWhatsAppNumberAvailabilityRequest) Country(country string) WhatsAppPhoneNumbersAPICheckWhatsAppNumberAvailabilityRequest {
	r.country = &country
	return r
}

// Check a specific offered type (stock and address constraints are per type). Omitted &#x3D; the country&#39;s default type.
func (r WhatsAppPhoneNumbersAPICheckWhatsAppNumberAvailabilityRequest) NumberType(numberType string) WhatsAppPhoneNumbersAPICheckWhatsAppNumberAvailabilityRequest {
	r.numberType = &numberType
	return r
}

func (r WhatsAppPhoneNumbersAPICheckWhatsAppNumberAvailabilityRequest) Execute() (*CheckPhoneNumberAvailability200Response, *http.Response, error) {
	return r.ApiService.CheckWhatsAppNumberAvailabilityExecute(r)
}

/*
CheckWhatsAppNumberAvailability Check country availability

Deprecated alias of `/v1/phone-numbers/availability`; same contract. New
integrations should use that path.

Pre-purchase check, so you can warn BEFORE a customer invests in KYC
(regulated review is async, 1-3 days). Tells you whether we have
deliverable inventory, and what address the customer needs:
  - `addressConstraint: geo`  → the registered address MUST be in one of
    the returned `areas` (the only place we have stock). A different-area
    address passes pre-approval but the number can never be assigned.
  - `addressConstraint: country` → any in-country address works.
  - `addressConstraint: none` → field-only / instant country, no address.

Call this before starting the KYC form for regulated countries.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return WhatsAppPhoneNumbersAPICheckWhatsAppNumberAvailabilityRequest

Deprecated
*/
func (a *WhatsAppPhoneNumbersAPIService) CheckWhatsAppNumberAvailability(ctx context.Context) WhatsAppPhoneNumbersAPICheckWhatsAppNumberAvailabilityRequest {
	return WhatsAppPhoneNumbersAPICheckWhatsAppNumberAvailabilityRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CheckPhoneNumberAvailability200Response
//
// Deprecated
func (a *WhatsAppPhoneNumbersAPIService) CheckWhatsAppNumberAvailabilityExecute(r WhatsAppPhoneNumbersAPICheckWhatsAppNumberAvailabilityRequest) (*CheckPhoneNumberAvailability200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CheckPhoneNumberAvailability200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WhatsAppPhoneNumbersAPIService.CheckWhatsAppNumberAvailability")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/whatsapp/phone-numbers/availability"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.country == nil {
		return localVarReturnValue, nil, reportError("country is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	if r.numberType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "numberType", r.numberType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WhatsAppPhoneNumbersAPICreateWhatsAppNumberKycLinkRequest struct {
	ctx                             context.Context
	ApiService                      *WhatsAppPhoneNumbersAPIService
	createPhoneNumberKycLinkRequest *CreatePhoneNumberKycLinkRequest
}

func (r WhatsAppPhoneNumbersAPICreateWhatsAppNumberKycLinkRequest) CreatePhoneNumberKycLinkRequest(createPhoneNumberKycLinkRequest CreatePhoneNumberKycLinkRequest) WhatsAppPhoneNumbersAPICreateWhatsAppNumberKycLinkRequest {
	r.createPhoneNumberKycLinkRequest = &createPhoneNumberKycLinkRequest
	return r
}

func (r WhatsAppPhoneNumbersAPICreateWhatsAppNumberKycLinkRequest) Execute() (*CreatePhoneNumberKycLink200Response, *http.Response, error) {
	return r.ApiService.CreateWhatsAppNumberKycLinkExecute(r)
}

/*
CreateWhatsAppNumberKycLink Create a hosted KYC link

Deprecated alias of `/v1/phone-numbers/kyc/share`; same contract. New
integrations should use that path.

Create a single-use, 7-day hosted KYC link that your end customer
completes WITHOUT a Zernio login — useful when the person who holds the
ID and address is not your team. They fill the regulated verification on
a Zernio-hosted page; the number provisions under YOUR account once they
submit. Only regulated (KYC) countries are valid: a country that does not
require KYC returns 400.

White-label the page with `branding` (your company name, logo, brand
color). Supply `redirect_url` to send the end customer back to your own
site after a successful submit (completion params are appended — see
below). Listen for the `whatsapp.number.kyc_submitted` webhook to react
when the form is completed.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return WhatsAppPhoneNumbersAPICreateWhatsAppNumberKycLinkRequest

Deprecated
*/
func (a *WhatsAppPhoneNumbersAPIService) CreateWhatsAppNumberKycLink(ctx context.Context) WhatsAppPhoneNumbersAPICreateWhatsAppNumberKycLinkRequest {
	return WhatsAppPhoneNumbersAPICreateWhatsAppNumberKycLinkRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CreatePhoneNumberKycLink200Response
//
// Deprecated
func (a *WhatsAppPhoneNumbersAPIService) CreateWhatsAppNumberKycLinkExecute(r WhatsAppPhoneNumbersAPICreateWhatsAppNumberKycLinkRequest) (*CreatePhoneNumberKycLink200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreatePhoneNumberKycLink200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WhatsAppPhoneNumbersAPIService.CreateWhatsAppNumberKycLink")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/whatsapp/phone-numbers/kyc/share"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createPhoneNumberKycLinkRequest == nil {
		return localVarReturnValue, nil, reportError("createPhoneNumberKycLinkRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createPhoneNumberKycLinkRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WhatsAppPhoneNumbersAPIGetWhatsAppNumberInfoRequest struct {
	ctx        context.Context
	ApiService *WhatsAppPhoneNumbersAPIService
	accountId  *string
}

// WhatsApp social account ID
func (r WhatsAppPhoneNumbersAPIGetWhatsAppNumberInfoRequest) AccountId(accountId string) WhatsAppPhoneNumbersAPIGetWhatsAppNumberInfoRequest {
	r.accountId = &accountId
	return r
}

func (r WhatsAppPhoneNumbersAPIGetWhatsAppNumberInfoRequest) Execute() (*GetWhatsAppNumberInfo200Response, *http.Response, error) {
	return r.ApiService.GetWhatsAppNumberInfoExecute(r)
}

/*
GetWhatsAppNumberInfo Get number status

Live snapshot of a connected number straight from Meta: the phone-number node
(display number, display name + approval, quality rating, messaging-limit tier,
throughput, official-business badge, connection status, health_status) and its
owning WhatsApp Business Account (name, business verification, timezone,
health_status). Fetched live because Meta updates quality/tier/name/health over
time; the call also refreshes the cached values shown on the connection card.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return WhatsAppPhoneNumbersAPIGetWhatsAppNumberInfoRequest
*/
func (a *WhatsAppPhoneNumbersAPIService) GetWhatsAppNumberInfo(ctx context.Context) WhatsAppPhoneNumbersAPIGetWhatsAppNumberInfoRequest {
	return WhatsAppPhoneNumbersAPIGetWhatsAppNumberInfoRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GetWhatsAppNumberInfo200Response
func (a *WhatsAppPhoneNumbersAPIService) GetWhatsAppNumberInfoExecute(r WhatsAppPhoneNumbersAPIGetWhatsAppNumberInfoRequest) (*GetWhatsAppNumberInfo200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetWhatsAppNumberInfo200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WhatsAppPhoneNumbersAPIService.GetWhatsAppNumberInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/whatsapp/number-info"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WhatsAppPhoneNumbersAPIGetWhatsAppNumberKycFormRequest struct {
	ctx        context.Context
	ApiService *WhatsAppPhoneNumbersAPIService
	country    *string
	profileId  *string
}

func (r WhatsAppPhoneNumbersAPIGetWhatsAppNumberKycFormRequest) Country(country string) WhatsAppPhoneNumbersAPIGetWhatsAppNumberKycFormRequest {
	r.country = &country
	return r
}

func (r WhatsAppPhoneNumbersAPIGetWhatsAppNumberKycFormRequest) ProfileId(profileId string) WhatsAppPhoneNumbersAPIGetWhatsAppNumberKycFormRequest {
	r.profileId = &profileId
	return r
}

func (r WhatsAppPhoneNumbersAPIGetWhatsAppNumberKycFormRequest) Execute() (*GetWhatsAppNumberKycForm200Response, *http.Response, error) {
	return r.ApiService.GetWhatsAppNumberKycFormExecute(r)
}

/*
GetWhatsAppNumberKycForm Get KYC form spec

Deprecated alias of `/v1/phone-numbers/kyc`; same contract. New
integrations should use that path.

For a Tier 3/4 country, the fields the end customer must provide (Telnyx
regulatory requirements) before a number can be ordered: text, date,
address, or file (document) per requirement.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return WhatsAppPhoneNumbersAPIGetWhatsAppNumberKycFormRequest

Deprecated
*/
func (a *WhatsAppPhoneNumbersAPIService) GetWhatsAppNumberKycForm(ctx context.Context) WhatsAppPhoneNumbersAPIGetWhatsAppNumberKycFormRequest {
	return WhatsAppPhoneNumbersAPIGetWhatsAppNumberKycFormRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GetWhatsAppNumberKycForm200Response
//
// Deprecated
func (a *WhatsAppPhoneNumbersAPIService) GetWhatsAppNumberKycFormExecute(r WhatsAppPhoneNumbersAPIGetWhatsAppNumberKycFormRequest) (*GetWhatsAppNumberKycForm200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetWhatsAppNumberKycForm200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WhatsAppPhoneNumbersAPIService.GetWhatsAppNumberKycForm")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/whatsapp/phone-numbers/kyc"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.country == nil {
		return localVarReturnValue, nil, reportError("country is required and must be specified")
	}
	if r.profileId == nil {
		return localVarReturnValue, nil, reportError("profileId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "profileId", r.profileId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WhatsAppPhoneNumbersAPIGetWhatsAppNumberRemediationRequest struct {
	ctx        context.Context
	ApiService *WhatsAppPhoneNumbersAPIService
	id         string
}

func (r WhatsAppPhoneNumbersAPIGetWhatsAppNumberRemediationRequest) Execute() (*GetPhoneNumberRemediation200Response, *http.Response, error) {
	return r.ApiService.GetWhatsAppNumberRemediationExecute(r)
}

/*
GetWhatsAppNumberRemediation Get declined requirements

Deprecated alias of `/v1/phone-numbers/{id}/remediate`; same contract. New
integrations should use that path.

For a number in `regulatory_declined`, returns ONLY the requirements the
reviewer flagged declined, as a form spec (same shape as the KYC form GET).
The customer fixes just those — Telnyx supports correcting a declined
requirement group and re-submitting it (no new number/group). Falls back
to the full spec if the provider exposes no per-requirement flags.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id WhatsAppPhoneNumber id.
	@return WhatsAppPhoneNumbersAPIGetWhatsAppNumberRemediationRequest

Deprecated
*/
func (a *WhatsAppPhoneNumbersAPIService) GetWhatsAppNumberRemediation(ctx context.Context, id string) WhatsAppPhoneNumbersAPIGetWhatsAppNumberRemediationRequest {
	return WhatsAppPhoneNumbersAPIGetWhatsAppNumberRemediationRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return GetPhoneNumberRemediation200Response
//
// Deprecated
func (a *WhatsAppPhoneNumbersAPIService) GetWhatsAppNumberRemediationExecute(r WhatsAppPhoneNumbersAPIGetWhatsAppNumberRemediationRequest) (*GetPhoneNumberRemediation200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetPhoneNumberRemediation200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WhatsAppPhoneNumbersAPIService.GetWhatsAppNumberRemediation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/whatsapp/phone-numbers/{id}/remediate"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WhatsAppPhoneNumbersAPIGetWhatsAppPhoneNumberRequest struct {
	ctx           context.Context
	ApiService    *WhatsAppPhoneNumbersAPIService
	phoneNumberId string
}

func (r WhatsAppPhoneNumbersAPIGetWhatsAppPhoneNumberRequest) Execute() (*GetPhoneNumber200Response, *http.Response, error) {
	return r.ApiService.GetWhatsAppPhoneNumberExecute(r)
}

/*
GetWhatsAppPhoneNumber Get phone number

Deprecated alias of `/v1/phone-numbers/{id}`; same contract. New
integrations should use that path.

Retrieve the current status of a purchased phone number. Poll this to
track Meta pre-verification (US sync path) and, for regulated (Tier 3/4)
numbers, the async lifecycle: pending_regulatory → active (or
regulatory_declined). When a regulated number has an Onfido ID step,
`onfidoVerificationUrl` appears here once the order is placed — forward
it to the end user. (Or subscribe to the whatsapp.number.* webhooks
instead of polling.)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param phoneNumberId Phone number record ID
	@return WhatsAppPhoneNumbersAPIGetWhatsAppPhoneNumberRequest

Deprecated
*/
func (a *WhatsAppPhoneNumbersAPIService) GetWhatsAppPhoneNumber(ctx context.Context, phoneNumberId string) WhatsAppPhoneNumbersAPIGetWhatsAppPhoneNumberRequest {
	return WhatsAppPhoneNumbersAPIGetWhatsAppPhoneNumberRequest{
		ApiService:    a,
		ctx:           ctx,
		phoneNumberId: phoneNumberId,
	}
}

// Execute executes the request
//
//	@return GetPhoneNumber200Response
//
// Deprecated
func (a *WhatsAppPhoneNumbersAPIService) GetWhatsAppPhoneNumberExecute(r WhatsAppPhoneNumbersAPIGetWhatsAppPhoneNumberRequest) (*GetPhoneNumber200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetPhoneNumber200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WhatsAppPhoneNumbersAPIService.GetWhatsAppPhoneNumber")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/whatsapp/phone-numbers/{phoneNumberId}"
	localVarPath = strings.Replace(localVarPath, "{"+"phoneNumberId"+"}", url.PathEscape(parameterValueToString(r.phoneNumberId, "phoneNumberId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WhatsAppPhoneNumbersAPIGetWhatsAppPhoneNumbersRequest struct {
	ctx        context.Context
	ApiService *WhatsAppPhoneNumbersAPIService
	status     *string
	profileId  *string
}

// Filter by status (by default excludes released numbers). NOTE: &#x60;status&#x3D;pending_regulatory&#x60; returns the \&quot;provisioning\&quot; view — numbers still in review PLUS recently-declined (last 30 days) ones, so a failed registration surfaces (with &#x60;regulatoryDeclineReason&#x60;) instead of silently disappearing. Declined numbers can be re-submitted via POST /v1/whatsapp/phone-numbers/{id}/remediate. &#x60;verifying&#x60; is the short-lived state after the number is provisioned on our side while WhatsApp confirms the activation code; the number is not billed until it reaches &#x60;active&#x60;.
func (r WhatsAppPhoneNumbersAPIGetWhatsAppPhoneNumbersRequest) Status(status string) WhatsAppPhoneNumbersAPIGetWhatsAppPhoneNumbersRequest {
	r.status = &status
	return r
}

// Filter by profile
func (r WhatsAppPhoneNumbersAPIGetWhatsAppPhoneNumbersRequest) ProfileId(profileId string) WhatsAppPhoneNumbersAPIGetWhatsAppPhoneNumbersRequest {
	r.profileId = &profileId
	return r
}

func (r WhatsAppPhoneNumbersAPIGetWhatsAppPhoneNumbersRequest) Execute() (*ListPhoneNumbers200Response, *http.Response, error) {
	return r.ApiService.GetWhatsAppPhoneNumbersExecute(r)
}

/*
GetWhatsAppPhoneNumbers List phone numbers

Deprecated alias of `/v1/phone-numbers`; same contract. New
integrations should use that path.

List all WhatsApp phone numbers purchased by the authenticated user.
By default, released numbers are excluded. Connected (bring-your-own)
numbers are returned in the separate `connected` array — they are not
billed and have no provisioning lifecycle.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return WhatsAppPhoneNumbersAPIGetWhatsAppPhoneNumbersRequest

Deprecated
*/
func (a *WhatsAppPhoneNumbersAPIService) GetWhatsAppPhoneNumbers(ctx context.Context) WhatsAppPhoneNumbersAPIGetWhatsAppPhoneNumbersRequest {
	return WhatsAppPhoneNumbersAPIGetWhatsAppPhoneNumbersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListPhoneNumbers200Response
//
// Deprecated
func (a *WhatsAppPhoneNumbersAPIService) GetWhatsAppPhoneNumbersExecute(r WhatsAppPhoneNumbersAPIGetWhatsAppPhoneNumbersRequest) (*ListPhoneNumbers200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListPhoneNumbers200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WhatsAppPhoneNumbersAPIService.GetWhatsAppPhoneNumbers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/whatsapp/phone-numbers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.profileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "profileId", r.profileId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WhatsAppPhoneNumbersAPIListWhatsAppNumberCountriesRequest struct {
	ctx        context.Context
	ApiService *WhatsAppPhoneNumbersAPIService
}

func (r WhatsAppPhoneNumbersAPIListWhatsAppNumberCountriesRequest) Execute() (*ListWhatsAppNumberCountries200Response, *http.Response, error) {
	return r.ApiService.ListWhatsAppNumberCountriesExecute(r)
}

/*
ListWhatsAppNumberCountries List offerable number countries

Deprecated alias of `/v1/phone-numbers/countries`; same contract. New
integrations should use that path.

The WhatsApp number countries available to purchase, each with its flat
monthly price (cents), regulatory tier, whether it needs end-user KYC
(Tier 3/4), and whether outbound calling is available (not BIC-blocked).
Drives the country picker. Tier-4 countries appear only when enabled.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return WhatsAppPhoneNumbersAPIListWhatsAppNumberCountriesRequest

Deprecated
*/
func (a *WhatsAppPhoneNumbersAPIService) ListWhatsAppNumberCountries(ctx context.Context) WhatsAppPhoneNumbersAPIListWhatsAppNumberCountriesRequest {
	return WhatsAppPhoneNumbersAPIListWhatsAppNumberCountriesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListWhatsAppNumberCountries200Response
//
// Deprecated
func (a *WhatsAppPhoneNumbersAPIService) ListWhatsAppNumberCountriesExecute(r WhatsAppPhoneNumbersAPIListWhatsAppNumberCountriesRequest) (*ListWhatsAppNumberCountries200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListWhatsAppNumberCountries200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WhatsAppPhoneNumbersAPIService.ListWhatsAppNumberCountries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/whatsapp/phone-numbers/countries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WhatsAppPhoneNumbersAPIPurchaseWhatsAppPhoneNumberRequest struct {
	ctx                                context.Context
	ApiService                         *WhatsAppPhoneNumbersAPIService
	purchaseWhatsAppPhoneNumberRequest *PurchaseWhatsAppPhoneNumberRequest
}

func (r WhatsAppPhoneNumbersAPIPurchaseWhatsAppPhoneNumberRequest) PurchaseWhatsAppPhoneNumberRequest(purchaseWhatsAppPhoneNumberRequest PurchaseWhatsAppPhoneNumberRequest) WhatsAppPhoneNumbersAPIPurchaseWhatsAppPhoneNumberRequest {
	r.purchaseWhatsAppPhoneNumberRequest = &purchaseWhatsAppPhoneNumberRequest
	return r
}

func (r WhatsAppPhoneNumbersAPIPurchaseWhatsAppPhoneNumberRequest) Execute() (*PurchasePhoneNumber200Response, *http.Response, error) {
	return r.ApiService.PurchaseWhatsAppPhoneNumberExecute(r)
}

/*
PurchaseWhatsAppPhoneNumber Purchase phone number

Deprecated alias of `/v1/phone-numbers/purchase`; same contract. New
integrations should use that path.

Payment-first: you do not pick a specific number, the system provisions one and
auto-assigns it. With usage-based billing active and a payment method on file, the
number provisions inline and bills per month on your usage-based invoice (there is
no checkout redirect). No payment method on file returns `402 PAYMENT_REQUIRED`;
a regulated country returns `202` with `status: "kyc_required"` and a `kycUrl`.

Requires usage-based billing (the Usage plan). The maximum number of phone numbers
is determined by the user's plan.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return WhatsAppPhoneNumbersAPIPurchaseWhatsAppPhoneNumberRequest

Deprecated
*/
func (a *WhatsAppPhoneNumbersAPIService) PurchaseWhatsAppPhoneNumber(ctx context.Context) WhatsAppPhoneNumbersAPIPurchaseWhatsAppPhoneNumberRequest {
	return WhatsAppPhoneNumbersAPIPurchaseWhatsAppPhoneNumberRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PurchasePhoneNumber200Response
//
// Deprecated
func (a *WhatsAppPhoneNumbersAPIService) PurchaseWhatsAppPhoneNumberExecute(r WhatsAppPhoneNumbersAPIPurchaseWhatsAppPhoneNumberRequest) (*PurchasePhoneNumber200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PurchasePhoneNumber200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WhatsAppPhoneNumbersAPIService.PurchaseWhatsAppPhoneNumber")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/whatsapp/phone-numbers/purchase"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.purchaseWhatsAppPhoneNumberRequest == nil {
		return localVarReturnValue, nil, reportError("purchaseWhatsAppPhoneNumberRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.purchaseWhatsAppPhoneNumberRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v PurchasePhoneNumber409Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WhatsAppPhoneNumbersAPIReleaseWhatsAppPhoneNumberRequest struct {
	ctx           context.Context
	ApiService    *WhatsAppPhoneNumbersAPIService
	phoneNumberId string
}

func (r WhatsAppPhoneNumbersAPIReleaseWhatsAppPhoneNumberRequest) Execute() (*ReleasePhoneNumber200Response, *http.Response, error) {
	return r.ApiService.ReleaseWhatsAppPhoneNumberExecute(r)
}

/*
ReleaseWhatsAppPhoneNumber Release phone number

Deprecated alias of `/v1/phone-numbers/{id}`; same contract. New
integrations should use that path.

Release a purchased phone number. This will:
1. Disconnect any linked WhatsApp social account
2. Decrement the Stripe subscription quantity (or cancel if last number)
3. Release the number from Telnyx
4. Mark the number as released

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param phoneNumberId Phone number record ID
	@return WhatsAppPhoneNumbersAPIReleaseWhatsAppPhoneNumberRequest

Deprecated
*/
func (a *WhatsAppPhoneNumbersAPIService) ReleaseWhatsAppPhoneNumber(ctx context.Context, phoneNumberId string) WhatsAppPhoneNumbersAPIReleaseWhatsAppPhoneNumberRequest {
	return WhatsAppPhoneNumbersAPIReleaseWhatsAppPhoneNumberRequest{
		ApiService:    a,
		ctx:           ctx,
		phoneNumberId: phoneNumberId,
	}
}

// Execute executes the request
//
//	@return ReleasePhoneNumber200Response
//
// Deprecated
func (a *WhatsAppPhoneNumbersAPIService) ReleaseWhatsAppPhoneNumberExecute(r WhatsAppPhoneNumbersAPIReleaseWhatsAppPhoneNumberRequest) (*ReleasePhoneNumber200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ReleasePhoneNumber200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WhatsAppPhoneNumbersAPIService.ReleaseWhatsAppPhoneNumber")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/whatsapp/phone-numbers/{phoneNumberId}"
	localVarPath = strings.Replace(localVarPath, "{"+"phoneNumberId"+"}", url.PathEscape(parameterValueToString(r.phoneNumberId, "phoneNumberId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WhatsAppPhoneNumbersAPIRemediateWhatsAppNumberRequest struct {
	ctx                         context.Context
	ApiService                  *WhatsAppPhoneNumbersAPIService
	id                          string
	remediatePhoneNumberRequest *RemediatePhoneNumberRequest
}

func (r WhatsAppPhoneNumbersAPIRemediateWhatsAppNumberRequest) RemediatePhoneNumberRequest(remediatePhoneNumberRequest RemediatePhoneNumberRequest) WhatsAppPhoneNumbersAPIRemediateWhatsAppNumberRequest {
	r.remediatePhoneNumberRequest = &remediatePhoneNumberRequest
	return r
}

func (r WhatsAppPhoneNumbersAPIRemediateWhatsAppNumberRequest) Execute() (*RemediatePhoneNumber200Response, *http.Response, error) {
	return r.ApiService.RemediateWhatsAppNumberExecute(r)
}

/*
RemediateWhatsAppNumber Resubmit a declined number

Deprecated alias of `/v1/phone-numbers/{id}/remediate`; same contract. New
integrations should use that path.

Submit corrected values/documents for the declined requirement(s). We
PATCH them onto the SAME requirement group and re-submit it for approval;
the number goes `regulatory_declined` → `pending_regulatory`. No new
number and no new billing. Body shape matches the KYC submit (values /
documents / address) — send only the corrected fields.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return WhatsAppPhoneNumbersAPIRemediateWhatsAppNumberRequest

Deprecated
*/
func (a *WhatsAppPhoneNumbersAPIService) RemediateWhatsAppNumber(ctx context.Context, id string) WhatsAppPhoneNumbersAPIRemediateWhatsAppNumberRequest {
	return WhatsAppPhoneNumbersAPIRemediateWhatsAppNumberRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return RemediatePhoneNumber200Response
//
// Deprecated
func (a *WhatsAppPhoneNumbersAPIService) RemediateWhatsAppNumberExecute(r WhatsAppPhoneNumbersAPIRemediateWhatsAppNumberRequest) (*RemediatePhoneNumber200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RemediatePhoneNumber200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WhatsAppPhoneNumbersAPIService.RemediateWhatsAppNumber")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/whatsapp/phone-numbers/{id}/remediate"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.remediatePhoneNumberRequest == nil {
		return localVarReturnValue, nil, reportError("remediatePhoneNumberRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.remediatePhoneNumberRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WhatsAppPhoneNumbersAPISearchAvailableWhatsAppNumbersRequest struct {
	ctx        context.Context
	ApiService *WhatsAppPhoneNumbersAPIService
	country    *string
	type_      *string
	prefix     *string
	locality   *string
	contains   *string
	limit      *int32
}

func (r WhatsAppPhoneNumbersAPISearchAvailableWhatsAppNumbersRequest) Country(country string) WhatsAppPhoneNumbersAPISearchAvailableWhatsAppNumbersRequest {
	r.country = &country
	return r
}

// Number type; defaults to the country&#39;s WhatsApp-safe type
func (r WhatsAppPhoneNumbersAPISearchAvailableWhatsAppNumbersRequest) Type_(type_ string) WhatsAppPhoneNumbersAPISearchAvailableWhatsAppNumbersRequest {
	r.type_ = &type_
	return r
}

// Area code
func (r WhatsAppPhoneNumbersAPISearchAvailableWhatsAppNumbersRequest) Prefix(prefix string) WhatsAppPhoneNumbersAPISearchAvailableWhatsAppNumbersRequest {
	r.prefix = &prefix
	return r
}

// City
func (r WhatsAppPhoneNumbersAPISearchAvailableWhatsAppNumbersRequest) Locality(locality string) WhatsAppPhoneNumbersAPISearchAvailableWhatsAppNumbersRequest {
	r.locality = &locality
	return r
}

// Pattern to match within the number
func (r WhatsAppPhoneNumbersAPISearchAvailableWhatsAppNumbersRequest) Contains(contains string) WhatsAppPhoneNumbersAPISearchAvailableWhatsAppNumbersRequest {
	r.contains = &contains
	return r
}

func (r WhatsAppPhoneNumbersAPISearchAvailableWhatsAppNumbersRequest) Limit(limit int32) WhatsAppPhoneNumbersAPISearchAvailableWhatsAppNumbersRequest {
	r.limit = &limit
	return r
}

func (r WhatsAppPhoneNumbersAPISearchAvailableWhatsAppNumbersRequest) Execute() (*SearchAvailableWhatsAppNumbers200Response, *http.Response, error) {
	return r.ApiService.SearchAvailableWhatsAppNumbersExecute(r)
}

/*
SearchAvailableWhatsAppNumbers Search available numbers

Deprecated alias of `/v1/phone-numbers/available`; same contract. New
integrations should use that path.

Search the provider's inventory for numbers available to purchase in a
country (default US). Optional filters narrow the results. The country
must be offerable (see GET /v1/whatsapp/phone-numbers/countries).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return WhatsAppPhoneNumbersAPISearchAvailableWhatsAppNumbersRequest

Deprecated
*/
func (a *WhatsAppPhoneNumbersAPIService) SearchAvailableWhatsAppNumbers(ctx context.Context) WhatsAppPhoneNumbersAPISearchAvailableWhatsAppNumbersRequest {
	return WhatsAppPhoneNumbersAPISearchAvailableWhatsAppNumbersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SearchAvailableWhatsAppNumbers200Response
//
// Deprecated
func (a *WhatsAppPhoneNumbersAPIService) SearchAvailableWhatsAppNumbersExecute(r WhatsAppPhoneNumbersAPISearchAvailableWhatsAppNumbersRequest) (*SearchAvailableWhatsAppNumbers200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchAvailableWhatsAppNumbers200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WhatsAppPhoneNumbersAPIService.SearchAvailableWhatsAppNumbers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/whatsapp/phone-numbers/available"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	} else {
		var defaultValue string = "US"
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", defaultValue, "form", "")
		r.country = &defaultValue
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.prefix != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prefix", r.prefix, "form", "")
	}
	if r.locality != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locality", r.locality, "form", "")
	}
	if r.contains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contains", r.contains, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WhatsAppPhoneNumbersAPISubmitWhatsAppNumberKycRequest struct {
	ctx                         context.Context
	ApiService                  *WhatsAppPhoneNumbersAPIService
	submitPhoneNumberKycRequest *SubmitPhoneNumberKycRequest
}

func (r WhatsAppPhoneNumbersAPISubmitWhatsAppNumberKycRequest) SubmitPhoneNumberKycRequest(submitPhoneNumberKycRequest SubmitPhoneNumberKycRequest) WhatsAppPhoneNumbersAPISubmitWhatsAppNumberKycRequest {
	r.submitPhoneNumberKycRequest = &submitPhoneNumberKycRequest
	return r
}

func (r WhatsAppPhoneNumbersAPISubmitWhatsAppNumberKycRequest) Execute() (*SubmitPhoneNumberKyc200Response, *http.Response, error) {
	return r.ApiService.SubmitWhatsAppNumberKycExecute(r)
}

/*
SubmitWhatsAppNumberKyc Submit KYC

Deprecated alias of `/v1/phone-numbers/kyc`; same contract. New
integrations should use that path.

Submit the end customer's KYC (textual values, uploaded documents,
address) for a Tier 3/4 country. Documents are streamed straight to the
number provider and are not stored by Zernio. Builds + submits a
regulatory requirement group and claims a pending_regulatory slot; the
number is ordered + activated once the provider approves (asynchronous).
A customer may hold several same-country numbers in review at once; a
double-submit of the SAME attempt is deduped via `submissionId`.

For an ID-card document requirement, carriers commonly require BOTH sides:
combine the front and back into a single file before uploading (the
dashboard does this automatically). A one-sided ID is a common decline
reason; fix it via POST /v1/whatsapp/phone-numbers/{id}/remediate.

Before submitting, call GET /v1/whatsapp/phone-numbers/availability to
check the country has deliverable inventory and, for geographic-match
countries, which area the address must be in — otherwise the submission
can pass review yet never be assignable a number.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return WhatsAppPhoneNumbersAPISubmitWhatsAppNumberKycRequest

Deprecated
*/
func (a *WhatsAppPhoneNumbersAPIService) SubmitWhatsAppNumberKyc(ctx context.Context) WhatsAppPhoneNumbersAPISubmitWhatsAppNumberKycRequest {
	return WhatsAppPhoneNumbersAPISubmitWhatsAppNumberKycRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SubmitPhoneNumberKyc200Response
//
// Deprecated
func (a *WhatsAppPhoneNumbersAPIService) SubmitWhatsAppNumberKycExecute(r WhatsAppPhoneNumbersAPISubmitWhatsAppNumberKycRequest) (*SubmitPhoneNumberKyc200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SubmitPhoneNumberKyc200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WhatsAppPhoneNumbersAPIService.SubmitWhatsAppNumberKyc")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/whatsapp/phone-numbers/kyc"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.submitPhoneNumberKycRequest == nil {
		return localVarReturnValue, nil, reportError("submitPhoneNumberKycRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.submitPhoneNumberKycRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WhatsAppPhoneNumbersAPIUploadWhatsAppNumberKycDocumentRequest struct {
	ctx        context.Context
	ApiService *WhatsAppPhoneNumbersAPIService
	xFilename  *string
	body       *os.File
}

// URL-encoded original filename.
func (r WhatsAppPhoneNumbersAPIUploadWhatsAppNumberKycDocumentRequest) XFilename(xFilename string) WhatsAppPhoneNumbersAPIUploadWhatsAppNumberKycDocumentRequest {
	r.xFilename = &xFilename
	return r
}

func (r WhatsAppPhoneNumbersAPIUploadWhatsAppNumberKycDocumentRequest) Body(body *os.File) WhatsAppPhoneNumbersAPIUploadWhatsAppNumberKycDocumentRequest {
	r.body = body
	return r
}

func (r WhatsAppPhoneNumbersAPIUploadWhatsAppNumberKycDocumentRequest) Execute() (*UploadPhoneNumberKycDocument200Response, *http.Response, error) {
	return r.ApiService.UploadWhatsAppNumberKycDocumentExecute(r)
}

/*
UploadWhatsAppNumberKycDocument Upload a KYC document

Deprecated alias of `/v1/phone-numbers/kyc/upload-document`; same contract. New
integrations should use that path.

Upload ONE document and get back its provider document id, to reference
from POST /v1/whatsapp/phone-numbers/kyc via `documents[].documentId`.
Send the RAW file bytes as the request body (not base64); put the filename
in the `X-Filename` header. Uploading documents one-per-request keeps each
request under the ~4.5MB body limit. The document streams straight to the
number provider and is not stored by Zernio.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return WhatsAppPhoneNumbersAPIUploadWhatsAppNumberKycDocumentRequest

Deprecated
*/
func (a *WhatsAppPhoneNumbersAPIService) UploadWhatsAppNumberKycDocument(ctx context.Context) WhatsAppPhoneNumbersAPIUploadWhatsAppNumberKycDocumentRequest {
	return WhatsAppPhoneNumbersAPIUploadWhatsAppNumberKycDocumentRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UploadPhoneNumberKycDocument200Response
//
// Deprecated
func (a *WhatsAppPhoneNumbersAPIService) UploadWhatsAppNumberKycDocumentExecute(r WhatsAppPhoneNumbersAPIUploadWhatsAppNumberKycDocumentRequest) (*UploadPhoneNumberKycDocument200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UploadPhoneNumberKycDocument200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WhatsAppPhoneNumbersAPIService.UploadWhatsAppNumberKycDocument")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/whatsapp/phone-numbers/kyc/upload-document"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xFilename == nil {
		return localVarReturnValue, nil, reportError("xFilename is required and must be specified")
	}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/octet-stream"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Filename", r.xFilename, "simple", "")
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WhatsAppPhoneNumbersAPIValidateWhatsAppNumberKycAddressRequest struct {
	ctx                                  context.Context
	ApiService                           *WhatsAppPhoneNumbersAPIService
	validatePhoneNumberKycAddressRequest *ValidatePhoneNumberKycAddressRequest
}

func (r WhatsAppPhoneNumbersAPIValidateWhatsAppNumberKycAddressRequest) ValidatePhoneNumberKycAddressRequest(validatePhoneNumberKycAddressRequest ValidatePhoneNumberKycAddressRequest) WhatsAppPhoneNumbersAPIValidateWhatsAppNumberKycAddressRequest {
	r.validatePhoneNumberKycAddressRequest = &validatePhoneNumberKycAddressRequest
	return r
}

func (r WhatsAppPhoneNumbersAPIValidateWhatsAppNumberKycAddressRequest) Execute() (*ValidatePhoneNumberKycAddress200Response, *http.Response, error) {
	return r.ApiService.ValidateWhatsAppNumberKycAddressExecute(r)
}

/*
ValidateWhatsAppNumberKycAddress Pre-validate KYC address

Deprecated alias of `/v1/phone-numbers/kyc/validate-address`; same contract. New
integrations should use that path.

Optional early check for the address step of a Tier 4 (end-user identity)
registration: validates a postal address for deliverability BEFORE the full
KYC submit, so it can be corrected before any documents are uploaded. The
full submit (POST /v1/whatsapp/phone-numbers/kyc) re-validates the address,
so this call is purely a fast feedback path and skipping it is safe. Only
the postal address is sent (no documents, no gov-ID fields). A region
(`administrative_area`) is required by the validator; when it is omitted the
pre-check is skipped and `{ ok: true, skipped: true }` is returned (the
final submit still validates).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return WhatsAppPhoneNumbersAPIValidateWhatsAppNumberKycAddressRequest

Deprecated
*/
func (a *WhatsAppPhoneNumbersAPIService) ValidateWhatsAppNumberKycAddress(ctx context.Context) WhatsAppPhoneNumbersAPIValidateWhatsAppNumberKycAddressRequest {
	return WhatsAppPhoneNumbersAPIValidateWhatsAppNumberKycAddressRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ValidatePhoneNumberKycAddress200Response
//
// Deprecated
func (a *WhatsAppPhoneNumbersAPIService) ValidateWhatsAppNumberKycAddressExecute(r WhatsAppPhoneNumbersAPIValidateWhatsAppNumberKycAddressRequest) (*ValidatePhoneNumberKycAddress200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ValidatePhoneNumberKycAddress200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WhatsAppPhoneNumbersAPIService.ValidateWhatsAppNumberKycAddress")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/whatsapp/phone-numbers/kyc/validate-address"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.validatePhoneNumberKycAddressRequest == nil {
		return localVarReturnValue, nil, reportError("validatePhoneNumberKycAddressRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.validatePhoneNumberKycAddressRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ValidatePhoneNumberKycAddress400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
