/*
Zernio API

API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api

API version: 1.0.4
Contact: support@zernio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zernio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)

// LogsAPIService LogsAPI service
type LogsAPIService service

type LogsAPIListLogsRequest struct {
	ctx                 context.Context
	ApiService          *LogsAPIService
	type_               *string
	status              *string
	platform            *string
	action              *string
	search              *string
	days                *int32
	limit               *int32
	skip                *int32
	accountId           *string
	event               *string
	requestId           *string
	from                *time.Time
	to                  *time.Time
	statusCode          *int32
	apiKeyId            *string
	includeReadReceipts *bool
}

// Log category to query. Use &#x60;all&#x60; for the unified view across every category, or &#x60;api_request&#x60; for your API request logs (method, path, status, latency).
func (r LogsAPIListLogsRequest) Type_(type_ string) LogsAPIListLogsRequest {
	r.type_ = &type_
	return r
}

// Filter by status
func (r LogsAPIListLogsRequest) Status(status string) LogsAPIListLogsRequest {
	r.status = &status
	return r
}

// Filter by platform
func (r LogsAPIListLogsRequest) Platform(platform string) LogsAPIListLogsRequest {
	r.platform = &platform
	return r
}

// Filter by action (e.g., post.published, message.sent, account.connected, webhook.delivered)
func (r LogsAPIListLogsRequest) Action(action string) LogsAPIListLogsRequest {
	r.action = &action
	return r
}

// Free-text search across log fields
func (r LogsAPIListLogsRequest) Search(search string) LogsAPIListLogsRequest {
	r.search = &search
	return r
}

// Number of days to look back (max 90)
func (r LogsAPIListLogsRequest) Days(days int32) LogsAPIListLogsRequest {
	r.days = &days
	return r
}

// Maximum number of logs to return (max 100)
func (r LogsAPIListLogsRequest) Limit(limit int32) LogsAPIListLogsRequest {
	r.limit = &limit
	return r
}

// Number of logs to skip (for pagination)
func (r LogsAPIListLogsRequest) Skip(skip int32) LogsAPIListLogsRequest {
	r.skip = &skip
	return r
}

// Filter by connected account ID
func (r LogsAPIListLogsRequest) AccountId(accountId string) LogsAPIListLogsRequest {
	r.accountId = &accountId
	return r
}

// Filter webhook logs by event (e.g. post.published, message.received)
func (r LogsAPIListLogsRequest) Event(event string) LogsAPIListLogsRequest {
	r.event = &event
	return r
}

// Correlation ID — returns every log spawned by a single API request
func (r LogsAPIListLogsRequest) RequestId(requestId string) LogsAPIListLogsRequest {
	r.requestId = &requestId
	return r
}

// Precise start instant (ISO 8601); narrows within the day range
func (r LogsAPIListLogsRequest) From(from time.Time) LogsAPIListLogsRequest {
	r.from = &from
	return r
}

// Precise end instant (ISO 8601)
func (r LogsAPIListLogsRequest) To(to time.Time) LogsAPIListLogsRequest {
	r.to = &to
	return r
}

// Filter by exact HTTP status code (api_request logs)
func (r LogsAPIListLogsRequest) StatusCode(statusCode int32) LogsAPIListLogsRequest {
	r.statusCode = &statusCode
	return r
}

// Filter by the API key that made the request (api_request logs)
func (r LogsAPIListLogsRequest) ApiKeyId(apiKeyId string) LogsAPIListLogsRequest {
	r.apiKeyId = &apiKeyId
	return r
}

// Include message.read / message.delivered events (hidden by default for messaging logs)
func (r LogsAPIListLogsRequest) IncludeReadReceipts(includeReadReceipts bool) LogsAPIListLogsRequest {
	r.includeReadReceipts = &includeReadReceipts
	return r
}

func (r LogsAPIListLogsRequest) Execute() (*ListLogs200Response, *http.Response, error) {
	return r.ApiService.ListLogsExecute(r)
}

/*
ListLogs List activity logs

Unified logs endpoint. Returns logs for publishing, connections, webhooks, and messaging.
Filter by type, platform, status, and time range. Logs are retained for 90 days.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LogsAPIListLogsRequest
*/
func (a *LogsAPIService) ListLogs(ctx context.Context) LogsAPIListLogsRequest {
	return LogsAPIListLogsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListLogs200Response
func (a *LogsAPIService) ListLogsExecute(r LogsAPIListLogsRequest) (*ListLogs200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListLogs200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LogsAPIService.ListLogs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/logs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	} else {
		var defaultValue string = "publishing"
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", defaultValue, "form", "")
		r.type_ = &defaultValue
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	}
	if r.action != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "action", r.action, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.days != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "days", r.days, "form", "")
	} else {
		var defaultValue int32 = 90
		parameterAddToHeaderOrQuery(localVarQueryParams, "days", defaultValue, "form", "")
		r.days = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", defaultValue, "form", "")
		r.skip = &defaultValue
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId, "form", "")
	}
	if r.event != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event", r.event, "form", "")
	}
	if r.requestId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request_id", r.requestId, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.statusCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status_code", r.statusCode, "form", "")
	}
	if r.apiKeyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api_key_id", r.apiKeyId, "form", "")
	}
	if r.includeReadReceipts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_read_receipts", r.includeReadReceipts, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_read_receipts", defaultValue, "form", "")
		r.includeReadReceipts = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetYouTubeDailyViews400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
